@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Example use:
    <details>
      <summary>Wanna know more?</sumary>
      <p>Of course you do!</p>
    </details>
*/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 126, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
.button {
  background-color: #006435;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:visited {
    background-color: #006435; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:hover, .button:focus {
    background: #004b27; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #006435;
    -moz-box-shadow: 0 0 0 #006435;
    box-shadow: 0 0 0 #006435; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #006435; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #00180c;
      -moz-box-shadow: 0 2px 0 #00180c;
      box-shadow: 0 2px 0 #00180c; }
  /* line 65, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:hover, .button:focus, .button:visited {
    color: white; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/* line 130, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
.button-secondary {
  background-color: #dee0e2;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:visited {
    background-color: #dee0e2; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:hover, .button-secondary:focus {
    background: #d0d3d6; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe; }
  /* line 72, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/* line 134, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
.button-warning {
  background-color: #b10e1e;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:visited {
    background-color: #b10e1e; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:hover, .button-warning:focus {
    background: #990c1a; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812; }
  /* line 65, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: white; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/* Example use:
    <details>
      <summary>Wanna know more?</sumary>
      <p>Of course you do!</p>
    </details>
*/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* line 255, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.option.group label input[type="text"] {
  margin-left: 0;
  width: 14em;
  margin-top: -0.3em;
  position: absolute; }

/* line 263, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
::-webkit-input-placeholder {
  padding-top: 0.15em;
  color: #6f777b; }

/* line 264, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
::-moz-placeholder {
  padding-top: 0.15em;
  color: #6f777b; }

/* firefox 19+ */
/* line 265, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
:-ms-input-placeholder {
  padding-top: 0.15em;
  color: #6f777b; }

/* ie */
/* line 266, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
input:-moz-placeholder {
  padding-top: 0.15em;
  color: #6f777b; }

/* line 450, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.button {
  background-color: #006435;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:visited {
    background-color: #006435; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:hover, .button:focus {
    background: #004b27; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #006435;
    -moz-box-shadow: 0 0 0 #006435;
    box-shadow: 0 0 0 #006435; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #006435; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #00180c;
      -moz-box-shadow: 0 2px 0 #00180c;
      box-shadow: 0 2px 0 #00180c; }
  /* line 65, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:hover, .button:focus, .button:visited {
    color: white; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/* line 453, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.button-secondary {
  background-color: #dee0e2;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:visited {
    background-color: #dee0e2; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:hover, .button-secondary:focus {
    background: #d0d3d6; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
      cursor: default;
      background-color: #dee0e2; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #b5babe;
      -moz-box-shadow: 0 2px 0 #b5babe;
      box-shadow: 0 2px 0 #b5babe; }
  /* line 72, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
    color: #0b0c0c; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-secondary[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

/* line 456, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.button-warning {
  background-color: #b10e1e;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  /* line 31, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:visited {
    background-color: #b10e1e; }
  /* line 35, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:hover, .button-warning:focus {
    background: #990c1a; }
  /* line 38, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e; }
  /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
    opacity: 0.5; }
    /* line 48, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
      cursor: default;
      background-color: #b10e1e; }
    /* line 52, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
    .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #6a0812;
      -moz-box-shadow: 0 2px 0 #6a0812;
      box-shadow: 0 2px 0 #6a0812; }
  /* line 65, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:hover, .button-warning:focus, .button-warning:visited {
    color: white; }
  /* line 79, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning:active:before {
    top: -10%;
    height: 120%; }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_buttons.scss */
  .button-warning[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 11, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_account-management-tools.scss */
.account-management-tools {
  margin: -1em -2em 1em 0;
  padding: 1em 0em;
  color: white;
  background: #EAEDEF;
  color: #0b0c0c; }
  /* line 17, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_account-management-tools.scss */
  .account-management-tools ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    /* line 22, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_account-management-tools.scss */
    .account-management-tools ul li {
      float: right;
      margin: 0;
      padding: 0 1em 0 0; }
      /* line 26, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_account-management-tools.scss */
      .account-management-tools ul li.user {
        float: left; }
    /* line 28, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_account-management-tools.scss */
    .account-management-tools ul a {
      color: #0b0c0c; }

/* line 11 */
article .inner {
  padding-right: 2em; }
  /* line 13 */
  article .inner > *:first-child {
    margin-top: 0; }

/* ================================================================
 * FORMS
 * ================================================================
 */
/* line 25, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .group {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin: 0.75em 0; }
  @media (max-width: 640px) {
    /* line 25, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form .group {
      font-size: 1.6rem;
      line-height: 1.25; } }
/* line 47, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="email"],
.form input[type="month"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="time"],
.form input[type="url"],
.form input[type="week"],
.form select[size],
.form textarea {
  background-color: #f9f9f9;
  border: 2px inset;
  font-size: 1em;
  padding: 0.1em 0 0.1em 0.4em; }
/* line 57, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form textarea {
  min-height: 10em;
  height: auto; }
/* line 62, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form details {
  padding: 0 1em 0 1em; }
/* line 67, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form label {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  vertical-align: top;
  padding: 0.25em 0; }
  @media (max-width: 640px) {
    /* line 67, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form label {
      font-size: 1.6rem;
      line-height: 1.25; } }
/* line 74, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .option.group {
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-left: -1em; }
  /* line 78, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .option.group label {
    width: auto;
    float: none;
    text-align: left; }
  /* line 83, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .option.group li {
    list-style-type: none;
    list-style-image: none;
    margin: 0; }
/* line 91, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input[type="checkbox"],
.form input[type="radio"] {
  margin-right: 0.25em;
  vertical-align: 2px; }
/* line 97, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .hint {
  clear: left;
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    /* line 97, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form .hint {
      font-size: 1.4rem;
      line-height: 1.14286; } }
  /* line 102, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .hint:last-child {
    padding-top: 0.25em; }
  /* line 103, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .hint:first-child {
    padding-bottom: 0.25em; }
/* line 106, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .inline .help {
  float: left; }
/* line 111, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form label abbr {
  border-bottom: none;
  color: #0b0c0c; }
/* line 117, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .action.group .button {
  margin-right: 0.5em; }
/* line 121, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .inline.option label {
  float: left;
  margin-right: 1em; }
/* line 127, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .inline .group {
  float: left;
  margin-top: 0;
  width: auto; }
/* line 134, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form legend {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.5em;
  color: #0b0c0c; }
  @media (max-width: 640px) {
    /* line 134, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form legend {
      font-size: 2rem;
      line-height: 1.2; } }
/* line 139, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form fieldset {
  margin: 0;
  margin-top: 2em; }
  /* line 143, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form fieldset fieldset {
    margin-top: 0; }
    /* line 145, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form fieldset fieldset legend {
      font-family: "nta", Arial, sans-serif;
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 1.31579;
      font-weight: 400;
      text-transform: none;
      color: #0b0c0c; }
      @media (max-width: 640px) {
        /* line 145, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
        .form fieldset fieldset legend {
          font-size: 1.6rem;
          line-height: 1.25; } }
/* line 158, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .validation-summary {
  border: 3px solid #df3034;
  box-sizing: border-box;
  padding: 1em 1em 0.25em 1em;
  margin: 1em -1em 1.5em -1em;
  background-color: #fef7f7; }
  /* line 71, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .form .validation-summary > *:first-child {
    margin-top: 0em; }
  /* line 76, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .form .validation-summary ul, .form .validation-summary ol {
    padding-left: 1em; }
  /* line 83, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .form .validation-summary input[type="text"],
  .form .validation-summary textarea {
    background-color: white; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .form .validation-summary .inner {
    background-color: white;
    border: 1px solid #bfc1c3;
    padding: 2em;
    margin-bottom: 0.75em; }
    /* line 95, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
    .form .validation-summary .inner input[type="text"],
    .form .validation-summary .inner textarea {
      background-color: #f8f8f8; }
  /* line 161, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation-summary h1 {
    margin-bottom: 0; }
  /* line 164, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation-summary a {
    color: #df3034;
    text-decoration: none; }
    /* line 167, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form .validation-summary a:hover {
      text-decoration: underline; }
  /* line 171, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation-summary ul, .form .validation-summary ol {
    color: #df3034; }
  /* line 174, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation-summary ul {
    padding-left: 2.2em; }
    /* line 176, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
    .form .validation-summary ul li {
      list-style-type: none;
      list-style-image: none; }
  /* line 181, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation-summary li {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      /* line 181, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
      .form .validation-summary li {
        font-size: 1.4rem;
        line-height: 1.14286; } }
/* line 187, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .validation {
  background-color: #fef7f7;
  border-left: 3px solid #df3034;
  margin: 0 -1em 0.5em -1em;
  padding: 0.75em 1em 1em 1em; }
  /* line 192, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
  .form .validation .validation-message {
    color: #df3034;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: block;
    padding-bottom: 0.5em; }
    @media (max-width: 640px) {
      /* line 192, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
      .form .validation .validation-message {
        font-size: 1.4rem;
        line-height: 1.14286; } }
/* line 208, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input[type="text"] {
  min-width: 2em; }
/* line 209, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input[type="email"] {
  width: 20em; }
/* line 210, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input[type="url"] {
  width: 99%; }
/* line 212, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.search {
  width: 15em; }
/* line 213, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.password {
  width: 15em; }
/* line 214, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.email {
  width: 20em; }
/* line 215, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.name {
  width: 15em; }
/* line 216, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.url {
  width: 99%; }
/* line 217, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.full-name {
  width: 20em; }
/* line 218, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.street {
  width: 15em; }
/* line 219, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.town {
  width: 15em; }
/* line 220, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input.postcode {
  width: 5em; }
/* line 221, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form textarea.big {
  width: 20em;
  height: 8em; }
/* line 223, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form textarea.full-size {
  width: 99%;
  height: 15em; }
/* line 238, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form label {
  display: block; }
/* line 239, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form input {
  margin-left: 0; }
/* line 240, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form legend span {
  padding-bottom: 0.3em;
  display: block; }
/* line 247, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_forms.scss */
.form .inline input[type=text],
.form .inline select,
.form .inline textarea {
  margin-right: 0.5em; }
/* line 26 */
.form input[type='text'],
.form input[type='email'] {
  background: white; }

/* line 31 */
.two-column {
  margin: 0;
  padding: 0;
  /*
  zoom: 1;
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }*/
  overflow: hidden;
  *zoom: 1; }
  /* line 21, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
  .two-column > * {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    float: left;
    width: 48.75%;
    margin-right: 2.5%;
    margin-bottom: 1em; }
    /* line 43, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
    .two-column > *:nth-child(2n) {
      margin-right: 0; }
    /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
    .two-column > * *:first-child {
      margin-top: 0; }
  /* line 33 */
  .two-column form {
    background-color: #f8f8f8;
    padding: 1em;
    padding-top: 1px; }

/* ================================================================
 * PROCESS OVERVIEW
 * ================================================================
 *
 * The three-panelled diagrams that explain the LPA process 
 */
/* line 47 */
.process.overview {
  margin: 0;
  padding: 0;
  /*
  zoom: 1;
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }*/
  overflow: hidden;
  *zoom: 1; }
  /* line 21, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
  .process.overview > * {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    float: left;
    width: 31.66667%;
    margin-right: 2.5%;
    margin-bottom: 1em;
    min-height: 16em; }
    /* line 43, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
    .process.overview > *:nth-child(3n) {
      margin-right: 0; }
    /* line 46, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_regular-grid.scss */
    .process.overview > * *:first-child {
      margin-top: 0; }

/* line 51 */
.process.overview > li {
  background-color: #f8f8f8;
  display: table-cell; }

/* line 56 */
.process img {
  margin: 1em;
  max-width: 9em;
  width: 100%;
  margin: 1em; }

/* line 62 */
.process li h3 {
  background-color: #cce0d6;
  margin: 0 0 1em 0;
  padding: 0.5em 1em; }

/* line 68 */
.process.overview figure {
  text-align: center;
  padding: 0 0.5em; }

/* line 73 */
.process figcaption a {
  display: block; }

/* line 76 */
.process .btn {
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: center; }

/* ================================================================
 * DASHBOARD
 * ================================================================
 *
 */
/* line 89 */
.dashboard-intro {
  box-sizing: border-box;
  padding: 1em 1em 0.25em 1em;
  margin: 1em -1em 1.5em -1em;
  background-color: #dee0e2; }
  /* line 71, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .dashboard-intro > *:first-child {
    margin-top: 0em; }
  /* line 76, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .dashboard-intro ul, .dashboard-intro ol {
    padding-left: 1em; }
  /* line 83, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .dashboard-intro input[type="text"],
  .dashboard-intro textarea {
    background-color: white; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .dashboard-intro .inner {
    background-color: white;
    border: 1px solid #bfc1c3;
    padding: 2em;
    margin-bottom: 0.75em; }
    /* line 95, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
    .dashboard-intro .inner input[type="text"],
    .dashboard-intro .inner textarea {
      background-color: #f8f8f8; }

/* line 93 */
.ref {
  display: block; }

/* line 97 */
.status {
  width: 8em; }

/* line 101 */
.LPA-list .button {
  top: 0.5em; }

/* line 106 */
.document-list {
  box-sizing: border-box;
  padding: 1em 1em 0.25em 1em;
  margin: 1em -1em 1.5em -1em;
  background-color: #dee0e2;
  margin-top: 2em; }
  /* line 71, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .document-list > *:first-child {
    margin-top: 0em; }
  /* line 76, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .document-list ul, .document-list ol {
    padding-left: 1em; }
  /* line 83, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .document-list input[type="text"],
  .document-list textarea {
    background-color: white; }
  /* line 89, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
  .document-list .inner {
    background-color: white;
    border: 1px solid #bfc1c3;
    padding: 2em;
    margin-bottom: 0.75em; }
    /* line 95, /Users/jaimes/Sites/_includes/stylesheets/design-patterns/_panels.scss */
    .document-list .inner input[type="text"],
    .document-list .inner textarea {
      background-color: #f8f8f8; }

/* line 111 */
article table {
  width: 103.95%; }

/* line 115 */
.address.vcard {
  width: 30%;
  margin-left: -1em; }
