---
layout: get-passport
title: Apply for or renew a passport
categories: Quick answer
---

<style>
  {% include get-passport.css %}
  {% include get-passport-step.css %}
</style>
<div class="done-questions">
  <ol>
    <li class="done">
      <div>
        <h3 class="question">
          <span class="question-number">1</span>
          What type of passport application?
        </h3>

        <p class="answer"> Renewal</p>
      </div>
      <div>
        <h3 class="question">
          <span class="question-number">2</span>
          Where does the applicant live?
        </h3>

        <p class="answer"> United Kingdom</p>
      </div>
      <div>
        <h3 class="question">
          <span class="question-number">3</span>
          When was the applicant born?
        </h3>

        <p class="answer"> 28 January 1983 (adult passport)</p>
      </div>
      <p class="undo">
        <a href="/maternity-benefits/y?&amp;previous_response=2011-02-04">Change answers</a>
      </p>
    </li>
    
  </ol>
</div>
<div class="article-container">
  <article class="results">
    <div class="inner group">
      <div class="result-info">
        <div class="summary"><h2 class="result-title">You need to download and complete the following forms, and read the guidance on the Home Office website.</h2></div>
          <p>Text</p>

        </div>
                    <div class="related next-steps">
                      <div class="inner group">
                      <h2>Next Steps</h2>
                      
            <p>Download and complete these documents</p>

            <ul>
              <li><a title="Employment and Support Allowance" href="/employment-support-allowance">Employment and Support Allowance</a></li>
              <li><a title="Jobseeker's Allowance" href="/jobseekers-allowance">Jobseeker’s Allowance</a></li>
              <li><a title="Income Support" href="/income-support">Income Support</a></li>
              <li><a title="Sure Start Maternity Grant" href="/sure-start-maternity-grant">Sure Start Maternity Grant</a></li>
              <li><a title="Healthy Start Scheme" href="/healthy-start">Healthy Start Scheme</a></li>
              <li><a title="Maternity Leave" href="/maternity-leave">Maternity Leave</a></li>
            </ul>

          </div>
        </div>
    </div>
  </article>
</div>


