---
layout: get-passport
title: Apply for or renew a passport
categories: Quick answer
---

<style>
  {% include get-passport.css %}
  {% include get-passport-step.css %}
</style>
<div class="done-questions">
  <ol>
    <li class="done">
      <div>
        <h3 class="question">
          <span class="question-number">1</span>
          What type of passport application?
        </h3>

        <p class="answer"> Renewal</p>
      </div>
      <div>
        <h3 class="question">
          <span class="question-number">2</span>
          Where does the applicant live?
        </h3>

        <p class="answer"> United Kingdom</p>
      </div>
      <div>
        <h3 class="question">
          <span class="question-number">3</span>
          When was the applicant born?
        </h3>

        <p class="answer"> 28 January 1983 (adult passport)</p>
      </div>
      <p class="undo">
        <a href="/maternity-benefits/y?&amp;previous_response=2011-02-04">Change answers</a>
      </p>
    </li>
    
  </ol>
</div>
<div class="article-container">
  <article class="results">
    <div class="inner group">
      <div class="result-info">
        <div class="summary"><h2 class="result-title">You need to download and complete the following forms, and read the guidance on the Home Office website.</h2></div>
          <p>Text</p>

        </div>
        <div class="related next-steps">
          <div class="inner group">
            <h2>Next Steps</h2>
                      
            <p>You can get the application form in 4 ways:</p>

            <ul>
              <li><a title="" href="/">Apply online</a> &ndash; the Identity and Passport Service (IPS) will print out the completed form and send it to you to sign and return with supporting documents</li>
              <li>Collect it from a Post Office branch that uses the <a title="" href="/">Passport Check &amp; Send service</a></li>
              <li><a title="" href="/">Request it online</a> and IPS will send you one in the post</li>
              <li>Request it by calling the Passport Advice line on 0300 222 0000</li>
            </ul>

            <p>Keep a note of the barcode on the form so you can <a href="">track your application</a></p>
          </div>
        </div>
    </div>
  </article>
</div>


