---
layout: get-passport
title: Apply for or renew a passport
categories: Quick answer
---

<style>
  {% include get-passport.css %}
  {% include get-passport-step.css %}
</style>
<div class="done-questions">
    <div class="start-again"><a href="step-01.html">Start again</a></div>
    <ol>
<li class="done">
          <h3 class="question">
            <span class="question-number">1</span>
            Your passport application
          </h3>
          <div class="answer">
            <ul>
              <li>Renew an existing passport</li>
                <li>Live in the UK</li>
                <li>Born 28 January, 1983 (adult passport)</li>
            </ul>
</div>
          <p class="undo"><a href="step-01.html">Change answers</a></p>
        </li>
    </ol>
</div>





<div class="article-container">
  <article class="results">

    <div class="inner group">
    
    	<div class="intro">
			<p>The quickest and easiest way to renew your passport is by completing the application form online
		  <p class="get-started">
		   <!--  <a href="step-01.html" class="big button">Apply online<span class="indicator"></span></a> -->
		    <a href="#" class="btn turquoise large"><span>Apply online</span></a>
		  </p>
		</div>
		
		<section class="more">
		
		<h2>What you need to know</h2>
		<ul>
			<li>You can renew your passport by completing the application form.  It will cost <strong>&pound;77.50</strong> to renew a standard 32-page passport (£90.50 for a 48-page jumbo passport).</li>
			<li>You should renew if there are 9 months of less before your passport expires.  Unused time up to 9 months will be added to your new passport.</li>
			<li>Only book travel when your passport is valid &ndash; some countries ask for 6 months' validity on your passport.</li>
		</ul>
		</section>

		<h2>For urgent applications</h2>
		<p>If you need your passport in less than 2 weeks, you can use the following services</p>
    
    	
        
        <ul>
	        <li>1-week <a href="">Fast Track service</a>, this costs £112.50</li>
        	<li>1-day <a href="">Premium service</a>, this costs £129.50</li>
        </ul>
         
        
        <!-- <p><a href="fast-track.html">You can find out more about using these services in the quick answer.</a></p> -->
         
         <h2 class="and-breathe">Other ways to apply</h2>
         
         <h2>Apply by phone</h2>

<!-- <div class="contact"> -->
		 <p>Call the Passport Advice line on 0300 222 0000</p>
<!-- </div> -->
         
         <h2>By post or at a Post Office</h2>
         <p>Collect it from any Post Office branch that uses the <a href="">Passport Check &amp; Send service</a>.</p>
         <p>Keep a note of the barcode on the form so you can also <a href="">track your application</a></p>

            <!--
<ul>
              <li><a title="" href="/">Apply online</a> &ndash; the Identity and Passport Service (IPS) will print out the completed form and send it to you to sign and return with supporting documents</li>
            
              <li><a title="" href="/">Request it online</a> and IPS will send you one in the post</li>
            </ul>
-->

        </div>
      </div>
  </article>
</div>


