body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Proposed_direction_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:257px;
    top:242px;
    width:301px;
    height:246px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:252px;
}

.u1 {
    position:absolute;
    left:2px;
    top:115px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:270px;
    top:308px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:270px;
    top:324px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:270px;
    top:358px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:270px;
    top:374px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:270px;
    top:254px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:270px;
    top:270px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:270px;
    top:450px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:340px;
    top:450px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:420px;
    top:450px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:270px;
    top:416px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:269px;
    top:432px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Proposed_direction_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:774px;
    top:240px;
    width:405px;
    height:178px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:184px;
}

.u14 {
    position:absolute;
    left:2px;
    top:81px;
    width:401px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:783px;
    top:289px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:885px;
    top:284px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:783px;
    top:327px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:885px;
    top:322px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:783px;
    top:254px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:885px;
    top:250px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:885px;
    top:361px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:955px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:1035px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:783px;
    top:365px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:885px;
    top:390px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Proposed_direction_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:260px;
    top:658px;
    width:311px;
    height:278px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:284px;
}

.u27 {
    position:absolute;
    left:2px;
    top:131px;
    width:307px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:277px;
    top:726px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:277px;
    top:790px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:277px;
    top:806px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:277px;
    top:670px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Proposed_direction_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:264px;
    top:846px;
    width:307px;
    height:90px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:96px;
}

.u33 {
    position:absolute;
    left:2px;
    top:37px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:277px;
    top:686px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:277px;
    top:909px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:347px;
    top:909px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:427px;
    top:909px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:277px;
    top:875px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:276px;
    top:891px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../Proposed_direction_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u40 {
    position:absolute;
    left:257px;
    top:846px;
    width:10px;
    height:91px;
    
}

.u41 {
    position:absolute;
    left:277px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Proposed_direction_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u42 {
    position:absolute;
    left:257px;
    top:597px;
    width:10px;
    height:29px;
    
}

.u43 {
    position:absolute;
    left:277px;
    top:745px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:277px;
    top:854px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Proposed_direction_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:774px;
    top:657px;
    width:405px;
    height:206px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:212px;
}

.u46 {
    position:absolute;
    left:2px;
    top:95px;
    width:401px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:746px;
    top:705px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:886px;
    top:699px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:746px;
    top:743px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Proposed_direction_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:778px;
    top:773px;
    width:401px;
    height:90px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u51 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:886px;
    top:737px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:746px;
    top:669px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:886px;
    top:665px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:886px;
    top:807px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:956px;
    top:807px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:1036px;
    top:807px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:746px;
    top:811px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:886px;
    top:835px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:797px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../Proposed_direction_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u61 {
    position:absolute;
    left:777px;
    top:596px;
    width:10px;
    height:29px;
    
}

.u62_line {
    background-image: url('../Proposed_direction_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u62 {
    position:absolute;
    left:772px;
    top:772px;
    width:10px;
    height:91px;
    
}

.u63 {
    position:absolute;
    left:792px;
    top:781px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1375px;
    top:289px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:1477px;
    top:284px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:1375px;
    top:327px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1477px;
    top:322px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:1375px;
    top:254px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1477px;
    top:250px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:1477px;
    top:361px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:1547px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:1627px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:1375px;
    top:365px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1477px;
    top:390px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1338px;
    top:705px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:1478px;
    top:699px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:1338px;
    top:743px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Proposed_direction_files/u50_normal.png');
}

.u78_container {
    position:absolute;
    left:1370px;
    top:773px;
    width:401px;
    height:90px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u79 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1478px;
    top:737px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:1338px;
    top:669px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1478px;
    top:665px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:1478px;
    top:807px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:1548px;
    top:807px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:1628px;
    top:807px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:1338px;
    top:811px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:1478px;
    top:835px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1389px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_line {
    background-image: url('../Proposed_direction_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u89 {
    position:absolute;
    left:1369px;
    top:596px;
    width:10px;
    height:29px;
    
}

.u90_line {
    background-image: url('../Proposed_direction_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u90 {
    position:absolute;
    left:1364px;
    top:772px;
    width:10px;
    height:91px;
    
}

.u91 {
    position:absolute;
    left:1384px;
    top:781px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../Proposed_direction_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u92 {
    position:absolute;
    left:40px;
    top:536px;
    width:1812px;
    height:10px;
    
}

.u93_line {
    background-image: url('../Proposed_direction_files/u93_line.png');
}

.u93_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u93 {
    position:absolute;
    left:662px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u94_line {
    background-image: url('../Proposed_direction_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u94 {
    position:absolute;
    left:1282px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u95_line {
    background-image: url('../Proposed_direction_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u95 {
    position:absolute;
    left:152px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u96_line {
    background-image: url('../Proposed_direction_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u96 {
    position:absolute;
    left:40px;
    top:146px;
    width:1812px;
    height:10px;
    
}

.u97_line {
    background-image: url('../Proposed_direction_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u97 {
    position:absolute;
    left:40px;
    top:999px;
    width:1812px;
    height:10px;
    
}

.u98_line {
    background-image: url('../Proposed_direction_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u98 {
    position:absolute;
    left:40px;
    top:72px;
    width:1812px;
    height:10px;
    
}

.u99_line {
    background-image: url('../Proposed_direction_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u99 {
    position:absolute;
    left:37px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u100 {
    position:absolute;
    left:-42px;
    top:746px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u101 {
    position:absolute;
    left:270px;
    top:92px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:828px;
    top:94px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:1420px;
    top:92px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../Proposed_direction_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u104 {
    position:absolute;
    left:1845px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u105 {
    position:absolute;
    left:-42px;
    top:324px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u106_normal {
    background-image: url('../Proposed_direction_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:257px;
    top:1280px;
    width:301px;
    height:326px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:332px;
}

.u107 {
    position:absolute;
    left:2px;
    top:155px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:270px;
    top:1293px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:270px;
    top:1329px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110_normal {
    background-image: url('../Proposed_direction_files/u45_normal.png');
}

.u110_container {
    position:absolute;
    left:774px;
    top:1745px;
    width:405px;
    height:206px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:212px;
}

.u111 {
    position:absolute;
    left:2px;
    top:95px;
    width:401px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:746px;
    top:1793px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:886px;
    top:1787px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:746px;
    top:1831px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Proposed_direction_files/u50_normal.png');
}

.u115_container {
    position:absolute;
    left:778px;
    top:1861px;
    width:401px;
    height:90px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u116 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:886px;
    top:1825px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118 {
    position:absolute;
    left:746px;
    top:1757px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:886px;
    top:1753px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:886px;
    top:1895px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:956px;
    top:1895px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:1036px;
    top:1895px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123 {
    position:absolute;
    left:746px;
    top:1899px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:886px;
    top:1923px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:797px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../Proposed_direction_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u126 {
    position:absolute;
    left:777px;
    top:1684px;
    width:10px;
    height:29px;
    
}

.u127_line {
    background-image: url('../Proposed_direction_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u127 {
    position:absolute;
    left:772px;
    top:1860px;
    width:10px;
    height:91px;
    
}

.u128 {
    position:absolute;
    left:792px;
    top:1869px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:1338px;
    top:1793px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:1478px;
    top:1787px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u131 {
    position:absolute;
    left:1338px;
    top:1831px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Proposed_direction_files/u50_normal.png');
}

.u132_container {
    position:absolute;
    left:1370px;
    top:1861px;
    width:401px;
    height:90px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u133 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:1478px;
    top:1825px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:1338px;
    top:1757px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:1478px;
    top:1753px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:1478px;
    top:1895px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138 {
    position:absolute;
    left:1548px;
    top:1895px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:1628px;
    top:1895px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140 {
    position:absolute;
    left:1338px;
    top:1899px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:1478px;
    top:1923px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:1389px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_line {
    background-image: url('../Proposed_direction_files/u143_line.png');
}

.u143_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u143 {
    position:absolute;
    left:1369px;
    top:1684px;
    width:10px;
    height:29px;
    
}

.u144_line {
    background-image: url('../Proposed_direction_files/u144_line.png');
}

.u144_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u144 {
    position:absolute;
    left:1364px;
    top:1860px;
    width:10px;
    height:91px;
    
}

.u145 {
    position:absolute;
    left:1384px;
    top:1869px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_line {
    background-image: url('../Proposed_direction_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u146 {
    position:absolute;
    left:40px;
    top:1624px;
    width:1812px;
    height:10px;
    
}

.u147_line {
    background-image: url('../Proposed_direction_files/u147_line.png');
}

.u147_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:1156px;
}

.u147 {
    position:absolute;
    left:662px;
    top:1166px;
    width:10px;
    height:1156px;
    
}

.u148_line {
    background-image: url('../Proposed_direction_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:1156px;
}

.u148 {
    position:absolute;
    left:1282px;
    top:1166px;
    width:10px;
    height:1156px;
    
}

.u149_line {
    background-image: url('../Proposed_direction_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:1156px;
}

.u149 {
    position:absolute;
    left:152px;
    top:1166px;
    width:10px;
    height:1156px;
    
}

.u150_line {
    background-image: url('../Proposed_direction_files/u150_line.png');
}

.u150_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u150 {
    position:absolute;
    left:40px;
    top:1234px;
    width:1812px;
    height:10px;
    
}

.u151_line {
    background-image: url('../Proposed_direction_files/u151_line.png');
}

.u151_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u151 {
    position:absolute;
    left:40px;
    top:2237px;
    width:1812px;
    height:10px;
    
}

.u152_line {
    background-image: url('../Proposed_direction_files/u152_line.png');
}

.u152_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u152 {
    position:absolute;
    left:40px;
    top:1160px;
    width:1812px;
    height:10px;
    
}

.u153_line {
    background-image: url('../Proposed_direction_files/u153_line.png');
}

.u153_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:1156px;
}

.u153 {
    position:absolute;
    left:37px;
    top:1166px;
    width:10px;
    height:1156px;
    
}

.u154 {
    position:absolute;
    left:-42px;
    top:1834px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u155 {
    position:absolute;
    left:270px;
    top:1180px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:828px;
    top:1182px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:1420px;
    top:1180px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_line {
    background-image: url('../Proposed_direction_files/u158_line.png');
}

.u158_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:1156px;
}

.u158 {
    position:absolute;
    left:1845px;
    top:1166px;
    width:10px;
    height:1156px;
    
}

.u159 {
    position:absolute;
    left:-42px;
    top:1412px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u160 {
    position:absolute;
    left:269px;
    top:1309px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:270px;
    top:1371px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:270px;
    top:1463px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:269px;
    top:1479px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../Proposed_direction_files/u178_normal.png');
}

.u178_container {
    position:absolute;
    left:711px;
    top:1280px;
    width:484px;
    height:261px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:267px;
}

.u179 {
    position:absolute;
    left:2px;
    top:122px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:685px;
    top:1305px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:890px;
    top:1299px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u182 {
    position:absolute;
    left:890px;
    top:1330px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:685px;
    top:1368px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:685px;
    top:1449px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:755px;
    top:1469px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:1305px;
    top:1305px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:1510px;
    top:1299px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u202 {
    position:absolute;
    left:1510px;
    top:1330px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:1305px;
    top:1368px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:1305px;
    top:1449px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:1375px;
    top:1469px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../Proposed_direction_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:253px;
    top:1746px;
    width:300px;
    height:339px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:345px;
}

.u221 {
    position:absolute;
    left:2px;
    top:162px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../Proposed_direction_files/u222_normal.png');
}

.u222_container {
    position:absolute;
    left:256px;
    top:1933px;
    width:297px;
    height:152px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:303px;
    height:158px;
}

.u223 {
    position:absolute;
    left:2px;
    top:68px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:270px;
    top:1759px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225 {
    position:absolute;
    left:270px;
    top:1795px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u226 {
    position:absolute;
    left:269px;
    top:1775px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:270px;
    top:1837px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:270px;
    top:1958px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:269px;
    top:1974px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u244 {
    position:absolute;
    left:274px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_line {
    background-image: url('../Proposed_direction_files/u245_line.png');
}

.u245_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u245 {
    position:absolute;
    left:254px;
    top:1684px;
    width:10px;
    height:29px;
    
}

.u246_line {
    background-image: url('../Proposed_direction_files/u246_line.png');
}

.u246_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:153px;
}

.u246 {
    position:absolute;
    left:250px;
    top:1932px;
    width:10px;
    height:153px;
    
}

.u247 {
    position:absolute;
    left:270px;
    top:1941px;
    width:283px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

