/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 4 */
main.search .tab-content .tab-pane {
  border: none; }

/* line 8 */
main.search .search-header {
  padding-bottom: 0; }

/* line 12 */
main.search .results-list {
  padding-top: 0; }

/* line 16 */
.previous-next-navigation {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  width: 100%; }

/* line 22 */
.previous-next-navigation li {
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left; }

/* line 33 */
.previous-next-navigation li a {
  display: block;
  text-decoration: none; }

/* line 37 */
.previous-next-navigation li.previous a {
  padding: 15px 0 15px 35px; }

/* line 40 */
.previous-next-navigation li.previous a:before {
  background: transparent url(https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png) no-repeat -20px -11px;
  margin: -4px 0 0 -32px;
  display: block;
  float: left;
  width: 30px;
  height: 38px;
  content: " "; }

/* line 49 */
.previous-next-navigation li.next {
  float: right;
  text-align: right; }

/* line 53 */
.previous-next-navigation li.next a {
  padding: 15px 35px 15px 0; }

/* line 56 */
.previous-next-navigation li.next a:before {
  background: transparent url(https://assets.digital.cabinet-office.gov.uk/government/assets/arrow-sprite-2B8CC4-93afeb702f53a20045ad9f4ab8170825.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " "; }

/* line 65 */
.previous-next-navigation li a span {
  display: block;
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 4px; }

/* line 74 */
.previous-next-navigation li .visuallyhidden {
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  position: static; }

/* line 85 */
.descope {
  padding: 30px; }
  /* line 88 */
  .descope h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 5px; }
  /* line 94 */
  .descope p {
    margin-top: 0; }

/* line 100 */
.search-results {
  float: left;
  width: 66.66%; }
  /* line 103 */
  .search-results .result-count {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 60px 0 30px 30px; }
    @media (max-width: 640px) {
      /* line 103 */
      .search-results .result-count {
        font-size: 1.6rem;
        line-height: 1.25; } }
    /* line 107 */
    .search-results .result-count span {
      font-weight: bold; }

/* line 113 */
.search-options {
  float: left;
  width: 33.33%; }
  /* line 117 */
  .search-options h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    margin: 60px 0 30px 30px; }
    @media (max-width: 640px) {
      /* line 117 */
      .search-options h2 {
        font-size: 2rem;
        line-height: 1.2; } }
  /* line 123 */
  .search-options form {
    padding-left: 30px; }
    /* line 126 */
    .search-options form input[type="radio"] {
      cursor: pointer;
      float: left;
      margin: 3px 10px 0 0;
      width: 5%; }
      /* line 131 */
      .search-options form input[type="radio"] + label {
        cursor: pointer;
        float: left;
        margin-bottom: 20px;
        width: 90%; }
