
@import url("button-styles.css");

/* ==================================================
 * Overwritten default styles
 * ================================================== */

 h2{
 	border-bottom: 1px solid #c1cacb;
 	padding-bottom: 0.5em;
 }

 hr{
 	border: solid #DDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 0;
  height: 0;
 }

/* =================================
 * Transaction-wide styles
 * ================================= */

/* product owner branding (ie. DVLA) */ 
.product-owner{
	background: url(../img/DVLA_logo.png) no-repeat right center;
	float: right;
	height: 45px;
	width: 80px;
	font-size: 1em;
	margin: 1em 1em 0 0;
	text-indent: -9999px;
}

/* Display summary/details tags as standard panels (for now) */
summary::-webkit-details-marker {
  display: none
}

/* ======================
 * FORM STYLES
 * ====================== */

/* text input fields */
input[type=text],
input[type=email]{
	display: block;
	margin-bottom: 0.5em;
	border: 1px solid #CDCDCD;
	background-color: #F2F2F2;
	padding: 0.2em 0.2em;
}

details input[type=text]{
	background-color: #fff;
}

article label {
  font-size: 112.5%;
  margin-bottom: 0.5em;
  display: block;
}

/* Back button */
.back{
	margin-left: 1em;
}


/* ==================================================
 * Simple Inline Expansion
 * ================================================== */

 /* A styled-up version of the details/summary HTML5 elements
  * For the benefits or otherwise of details/summary, see:
  * http://html5doctor.com/the-details-and-summary-elements/
  * http://mathiasbynens.be/notes/html5-details-jquery
  */

details{
	margin:  0 -1em 1em -1em;
	padding: 0.7em 1em 1em 1em;
}
details summary{
	color: #2E3191;
	cursor: pointer;
	font-size: 112.5%;
	display: inline;
	text-decoration: underline;
}
details summary:hover{
  color: #1D97FF;
}

/* Open state */
details[open]{
	background-color: #f2f2f2;
}
details[open] > summary{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
details summary:focus{
	outline: none;
}

/* ==================================================
 * Transaction step indicator
 * ================================================== */

 /* Taken from ERTP prototype */

ol.transaction-step-indicator {
	list-style-type: none;
	font-size:1.1em;
	text-align:center;
	padding:0;
	margin:0;
}

.transaction-step-indicator > li {
	width: 161px;
	height: 60px;
	margin-left: -35px;
	background-image: url('../img/unselected-icon.png');
	background-position: right;
	background-repeat: no-repeat;
	line-height: 60px;
	display: inline-block;
	font-weight:normal;
	color:#666;
	text-align:left;
}

.transaction-step-indicator > li.current {
	background-image: url('../img/selected-icon.png');
	font-weight:500;
	color: #fff;
}

.transaction-step-number {
	padding: 21px;
	text-align:center;
}

.transaction-content {
	background-color: white;
	padding: 0em 2em 0em 5em;
}

/* ======================
 * Wating message
 * ======================

 * Uses spin.js to embed 'spinner' image into element
 * http://fgnass.github.com/spin.js/ 
 */

#waiting-message{
	height: 10em;
	text-align: center;
}



/* =================================
 * Landing page
 * ================================= */

.intro{
	/*margin-top: 2em;*/
}

/* Product image (ie. a tax disc) */
.product-image{
	float: left;
	height: 5em;
	width: 5em;
	margin: -0.5em 1.5em 2em 0;
}

.get-started-intro #what-you-need-to-know{
	margin-top: 0.5em;
}

/* Footnote style */
.footnote{
	font-style: italic;
	font-size: 1em;
	color: #666;
}

/* Landing page footer */
#landing-page-footer{
	border-top: 1px solid #ddd;
	display: block;
	margin: 2em -3em;
	padding: 0.5em 3em;
	line-height: 1em;
}

.more .card-images{
	margin-left: 0em;
	margin-top: -1em;
}

.card-images .footnote img{
	vertical-align: text-bottom;
}

/* =================================
 * Enter V11 page
 * ================================= */

/* Form */
#v11 {
	margin-bottom: 2em;
}

/* Image of the V11 form */
#v11-image{
	width: 109px;
	float: right;
	margin: 0.4em 0 0 1em;
}

/* Jumbo text field */
#v11 input,
.jumbo{
	font-size: 3rem;
	width: 12em;
	letter-spacing: 0.5rem;
	margin: 0;
	height: 30px;
}

/* Search button */
#v11 .buttonV2{
	margin-top: -2.8em;
	margin-right: 2.4em;
	display: block;
	float: right;
	height: 39px;
}
#v11 .buttonV2 span{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* =================================
 * Enter V5C and number plate page
 * ================================= */

/* Text field widths */
#vrm-number{
	width: 5em;
}
#v5c-number{
	width: 8em;
}

/* Help text */
#v5c .footnote{
	width: 18em;
	float: right;
	margin: -6.8em 2em 0 0;
}

/* Image of V5C form */
#v5c img{
	float: left;
	margin-right: 0.5em;
}

/* =================================
 * Check vehicle details page
 * ================================= */

/* layout */
.vehicle{
	border-bottom: 1px solid #ccc;
	margin: 0 0 1em 0;
	overflow: auto;
	padding: 0.3em 0 1em 0;
	width: 100%;
}
.vehicle > div{
	float: left;
}

/* Registration plate */
.vehicle .reg {
	width: 15em;
}
.vehicle .reg strong{
	background-color: #fbe712;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
	font-size: 4rem;
	line-height: 1.5em;
	margin: 0 auto;
	padding: 0 0.4em;
	text-align: center;
	width: 5em;
}

/* Vehicle details */
.vehicle .details{
	background: #f2f2f2;
	padding: 0.5em;
	width: 19em;
}
.vehicle .details ul{
	margin: 0 0 0 -1em;
}
.vehicle .details a{
	margin-left: 1.4em;
}

/* ==================================================
 * Price Options 
 * ================================================== */

.tax-option {
  width: 48%;
  margin-right: 4%;
  float: left;
}

.tax-option:last-child {
  margin-right: 0;
}

.tax-option label {
	border: 4px solid #fff;
  display: block;
  padding: 0.5em 1em;
  
  text-align: center;
  font-size: 2rem;
  
  color: #333;
  background-color: #f2f2f2;
  
  cursor: pointer;
} 

.tax-option label:hover {
  background-color: #ccc;
}

.tax-option input {
  margin-right: 5px;
}

.tax-option input:checked+label{ 
	font-weight: bold;
	border: 4px solid #28a197;
  background-color: #e1e8e8;
}
.tax-option input:checked+label{ 

}

.tax-option .car_tax {
  width: auto;
  margin: 0.1em 0;
	text-align: center;
  color: #28A197;
	font-size: 5rem;
  line-height: 1em;
}

.tax-option small {
  display: block;
  margin-bottom: -2.4rem;
}

.note{
	font-size: 0.8em;
}

/* ==================================================
 * Accepted Cards 
 * ================================================== */

.card-images{
	display: inline-block;
	line-height: 4em;
	height: 2em;
	margin: -1em 0 0 0.5em;
}
.card-images img{
	width: 2em;
	margin-top: 0.5em;
}

.form-row{
	margin-bottom: 2em;
}

.card-codes{
	width: 3em;
}

#payment-details label{
	width: 7em;
}
#payment-details .form-row{
	overflow: hidden;
	margin-bottom: 1em;

}

#payment-details{
	margin-bottom: 2em;
}
#payment-details input,
#payment-details label{
	float: left;
	margin-bottom: 0;
}

/* Security code help */
.whats-this{
	display: inline-block;
	padding: 0 0 0 1em;
	width: 27em;
	font-size: 0.8em;
}
.whats-this[open]{
	background-color: transparent;
}

.whats-this summary::-webkit-details-marker {
  display: none
}
.whats-this summary{
	margin-top: 0.25em;
}

#email-confirmation h3{
	font-weight: normal;
	margin: 0 0 0.5em 0;
}
#email-confirmation .footnote{
	clear: left;
}

/* ==================================================
 * Check order page
 * ================================================== */

.car-tax-receipt td, .car-tax-receipt th {
  border: none;
  font-size: 1.6rem;
}

.car-tax-receipt thead th {
  border-right: 2px solid #fff;
  /*background-color: #999;*/
}

.car-tax-receipt td, .car-tax-receipt tr:nth-child(even) td {
  vertical-align: bottom;
  background-color: transparent;
}

td.currency, th.currency {
  text-align: right;
}

tr.total td, tr.total th {
  background-color: transparent;
  border-top: 2px solid #999;
  color: #333;
  font-weight: bold;
  text-align: right;
}
tr.total th:after{
	content: ":";
}

tr.subtotal td, tr.subtotal th {
  background-color: transparent;
  border-top: 1px solid #999;
  color: #333;
}

.edit-order{
	position: absolute;
	margin-top: -3em;
	margin-left: 0.5em;
}

/* ==================================================
 * Confirm order page
 * ================================================== */

/* Next steps */
div.next-steps  {
    border:solid 1px #ccc;
    background:#f9f9f9;
    padding-left:2em;
}
div.next-steps h2{
	border-bottom: 0;
}



