
@import url("button-styles.css");

/* Temporary sketch images */
.sketch{
	width: 100%;
}

/* =================================
 * Landing page
 * ================================= */

.intro{
	margin-top: 2em;
}
.get-started-intro h3{
	margin-top: 0;
}

/* Product image (ie. a tax disc)*/
.product_image{
	/*float: right;
	height: 7em;
	width: 7em;
	margin: -6em -3em 1em 3em;*/
	float: left;
	height: 5em;
	width: 5em;
	margin: -0.5em 1.3em 2em 0;
}

/* product owner (ie. DVLA)*/ 
.product_owner{
	background: url(../assets/img/DVLA_logo.png) no-repeat right center;
	float: right;
	height: 45px;
	width: 80px;
	font-size: 1em;
	margin: 1em -0.5em 0 0;
	text-indent: -9999px;
}

/* Footnote style */
.footnote{
	font-style: italic;
	font-size: 1em;
	color: #666;
	margin-top: 2em;
}

.card_images .footnote{
	margin-top: -1em;
}

.service_info{
	padding-bottom: 2em;
}
.service_info details{
	margin-bottom: 0;
	padding-bottom: 0;
}
.service_info details p{
	padding-bottom: 0.5em;
}
.service_info summary{
	padding: 0;
}
/* ======================
 * Don't proceed message
 * ======================
 */

.dont_proceed{
	float: right;
	background-color: #f2f2f2;
	/*margin: 0 -1em 1em -1em;*/
	margin: 0 0em 1em 0em;
	padding: 0.5em;
}
.dont_proceed h3,
.dont_proceed p,
.dont_proceed summary{
	margin: 0;
	font-size: 1em;
}
.dont_proceed ul{
	margin-bottom: 0;
}
.dont_proceed li{
	list-style-type: none;
}

/* =================================
 * Enter V11 number
 * ================================= */

/* Image of the V11 form */
#v11image{
	width: 109px;
	float: right;
	margin: 0.4em 0 0 1em;
}
#v11 {
	margin-bottom: 1em;
}
#v11 input,
.jumbo{
	font-size: 3rem;
	width: 12em;
	letter-spacing: 0.5rem;
	margin: 0;
	height: 30px;
}

#v11 .buttonV2{
	margin-top: -2.8em;
	margin-right: 2.4em;
	display: block;
	float: right;
	height: 39px;
}
#v11 .buttonV2 span{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#v5c .footnote{
	width: 18em;
	float: right;
	margin: -6.8em 2em 0 0;
}
#v5c img{
	float: left;
	margin-right: 0.5em;
}

#vrm_number{
	width: 5em;
}
#v5c_number{
	width: 8em;
}

/* =================================
 * Check vehicle details
 * ================================= */

.reg {
	width: 15em;
}
.reg strong{
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 4rem;
	line-height: 1.5em;
	margin: 0 auto;
	padding: 0 0.4em;
	background-color: #fbe712;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 5em;
}
.vehicle{
	overflow: auto;
	padding: 1em 0;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 1em 0;
}
.vehicle div{
	float: left;
}
.vehicle h3{
	margin: 0;
}
.vehicle .details{
	background: #f2f2f2;
	padding: 0.5em;
	width: 19em;
}
.vehicle .details ul{
	margin: 0 0 0 -1em;
}
.vehicle .details details{
	font-size: 1em;
	margin: 0 -0.5em;
	padding: 0 0 0 0.75em;
}
.vehicle .details a{
	margin-left: 1.4em;
}

/* ======================
 * Wating message
 * ======================

 * Uses spin.js to embed 'spinner' image into element
 * http://fgnass.github.com/spin.js/ 
 */

#waiting_message{
	height: 10em;
	text-align: center;
}

/* ==================================================
 * Price Options 
 * ================================================== */

.tax-option {
  width: 48%;
  margin-right: 4%;
  float: left;
}

.tax-option:last-child {
  margin-right: 0;
}

.tax-option label {
	border: 4px solid #fff;
  display: block;
  padding: 0.5em 1em;
  
  text-align: center;
  font-size: 2rem;
  
  color: #333;
  background-color: #f2f2f2;
  
  cursor: pointer;
} 

.tax-option label:hover {
  background-color: #ccc;
}

.tax-option input {
  margin-right: 5px;
}

.tax-option input:checked+label{ 
	font-weight: bold;
	border: 4px solid #28A197;
  background-color: #e1e8e8;
}
.tax-option input:checked+label{ 

}

.tax-option .car_tax {
  width: auto;
  margin: 0.1em 0;
	text-align: center;
  color: #28A197;
	font-size: 5rem;
  /*font-weight: bold;*/
  line-height: 1em;
}

.tax-option small {
  display: block;
  margin-bottom: -2.4rem;
}

.note{
	font-size: 0.8em;
}

/* ==================================================
 * Accepted Cards 
 * ================================================== */

.accepted-cards {
  margin-bottom: 2.4rem;
}

.accepted-cards>div {
/*
  float: left;
  margin-right: 10px;
*/
}

.accepted-cards label {
  display: inline-block;
  text-align: center;
  width: 76px;
  cursor: pointer;
}

.accepted-cards label img {
  display: block;
  margin-bottom: 0.8rem;
}

.accepted-cards label input {
  display: block;
  margin: 0 auto;
}

.card_images{
	display: inline-block;
	line-height: 4em;
	height: 2em;
	margin: -1em 0 0 0.5em;
}
.card_images img{
	width: 2em;
	margin-top: 0.5em;
}

.form-row{
	margin-bottom: 2em;
}

.card_codes{
	width: 3em;
}

#payment_details label{
	width: 7em;
}
#payment_details .form-row{
	overflow: hidden;
	margin-bottom: 1em;

}

#payment_details{
	margin-bottom: 2em;
}
#payment_details input,
#payment_details label{
	float: left;
	margin-bottom: 0;
}

.whats_this{
	display: inline-block;
	padding: 0 0 0 1em;
	width: 27em;
	font-size: 0.8em;
}
.whats_this[open]{
	background-color: transparent;
}

.whats_this summary::-webkit-details-marker {
  display: none
}
.whats_this summary{
	margin-top: 0.25em;
}

/* ======================
 * FORM STYLES
 * ====================== */

/* text input field */
input[type=text],
input[type=email]{
	display: block;
	margin-bottom: 0.5em;
	border: 1px solid #CDCDCD;
	background-color: #F2F2F2;
	padding: 0.2em 0.2em;
}

details input[type=text]{
	background-color: #fff;
}

article label {
  font-size: 112.5%;
  /*
  font-weight: bold;
	color: #666;
	*/
  margin-bottom: 0.5em;
  display: block;
}

/* Back button */
.back{
	margin-left: 1em;
}


/* ==================================================
 * Simple Inline Expansion
 * ================================================== */

 /* A styled-up version of the details/summary HTML5 elements
  * For the benefits or otherwise of details/summary, see:
  * http://html5doctor.com/the-details-and-summary-elements/
  * http://mathiasbynens.be/notes/html5-details-jquery
  */

details{
	margin:  0 -1em 1em -1em;
	padding: 0.7em 1em 1em 1em;
}
details summary{
	color: #2E3191;
	cursor: pointer;
	font-size: 112.5%;
	display: inline;
	text-decoration: underline;
}
details summary:hover{
  color: #1D97FF;
}

/* Open state */
details[open]{
	background-color: #f2f2f2;
}
details[open] > summary{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
details summary:focus{
	outline: none;
}


/* ==================================================
 * Transaction step indicator
 * ================================================== */

 /* Taken from ERTP prototype */

ol.transaction-step-indicator {
	list-style-type: none;
	font-size:1.1em;
	text-align:center;
	padding:0;
	margin:0;
}

.transaction-step-indicator > li {
	width: 161px;
	height: 60px;
	margin-left: -35px;
	background-image: url('../img/unselected-icon.png');
	background-position: right;
	background-repeat: no-repeat;
	line-height: 60px;
	display: inline-block;
	font-weight:normal;
	color:#666;
	text-align:left;
}

.transaction-step-indicator > li.current {
	background-image: url('../img/selected-icon.png');
	font-weight:500;
	color: #fff;
}

.transaction-step-number {
	padding: 21px;
	text-align:center;
}

.transaction-content {
	background-color: white;
	padding: 0em 2em 0em 5em;
}

/* ==================================================
 * Tables
 * ================================================== */

.car_tax_receipt td, .car_tax_receipt th {
  border: none;
  font-size: 1.6rem;
}

.car_tax_receipt thead th {
  border-right: 2px solid #fff;
  /*background-color: #999;*/
}

.car_tax_receipt td, .car_tax_receipt tr:nth-child(even) td {
  vertical-align: bottom;
  background-color: transparent;
}

td.currency, th.currency {
  text-align: right;
}

tr.total td, tr.total th {
  background-color: transparent;
  border-top: 2px solid #999;
  color: #333;
  font-weight: bold;
  text-align: right;
}
tr.total th:after{
	content: ":";
}

tr.subtotal td, tr.subtotal th {
  background-color: transparent;
  border-top: 1px solid #999;
  color: #333;
}

.edit_order{
	position: absolute;
	margin-top: -3em;
	margin-left: 0.5em;
}

#email_confirmation h3{
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

/* Next steps */
div.next-steps  {
    border:solid 1px #ccc;
    background:#f9f9f9;
    padding-left:2em;
}
div.next-steps h2{
	border-bottom: 0;
}

/* ==================================================
 * Buttons
 * ================================================== */

 .button_row{
 	/*padding-top: 0.5em;
 	border-top: 1px solid #c1cacb;*/
 }

/* ==================================================
 * Overwritten basic styles
 * ================================================== */

 h2{
 	border-bottom: 1px solid #c1cacb;
 	padding-bottom: 0.5em;
 }

 hr{
 	border: solid #DDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 0;
  height: 0;
 }


