@import url("button-styles.css");

/* ==================================================
 * Overwrite default styles
 * ================================================== */

#wrapper.tax-disc header.page-header hgroup {
  border-color: #2DA096;
  margin-right: 0;
}

#wrapper.tax-disc header.page-header hgroup h1 span {
  /*
    new colour should be added to the palette
    this version is much more contrast-friendly than #2DA096
  */
  color: #227770;
}

#wrapper.tax-disc header.page-header hgroup h1 {
  background-image: url(https://static.production.alphagov.co.uk/images/icon-service-l.png);
}

#wrapper.tax-disc .article-container {
  margin-right: 0;
}

/* ==================================================
 * Homepage – You Will Need 
 * ================================================== */

.you-will-need-row {
	padding:1.6rem 1.6rem 1.6rem 6.4rem;
	border-bottom:1px solid #ccc;
	font-size:1.6rem;
	font-weight:bold;
}

.you-will-need-further {
	font-weight:normal;
	font-size:1.6rem;
}

.you-will-need .header {
	padding:1.6rem;
	font-size:1.9rem;
	font-weight:bold;
}

.you-will-need .time {
	background-image:url('../img/time-icon.png');
	background-repeat:no-repeat;
	background-position:0 0;
}

.you-will-need .nino {
	background-image:url('../img/nino-icon.png');
	background-repeat:no-repeat;
	background-position:0 0;
}

.you-will-need .full-address {
	background-image:url('../img/address-icon.png');
	background-repeat:no-repeat;
	background-position:0 0;
}

.column {
  width: 50%;
  float: left;
}

.start {
  text-align: right;
}


/* ==================================================
 * Price Options 
 * ================================================== */

.tax-option {
  width: 48%;
  margin-right: 4%;
  
  float: left;
}

.tax-option:last-child {
  margin-right: 0;
}

.tax-option label {
  display: block;
  width: 80%; height: 100%;
  padding: 10%;
  
  text-align: center;
  font-size: 2rem;
  
  color: #333;
  background-color: #C4CACB;
  
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  
  cursor: pointer;
} 

.tax-option label:hover {
  background-color: #e1e8e8;
}

.tax-option input {
  margin-right: 5px;
}

.tax-option .car_tax {
  width: auto;
  margin: 0.5em auto;
  padding: 0.5em;
}

.tax-option small {
  display: block;
  margin-bottom: -2.4rem;
}

/* ==================================================
 * Accepted Cards 
 * ================================================== */

.accepted-cards {
  margin-bottom: 2.4rem;
}

.accepted-cards>div {
  float: left;
  margin-right: 10px;
}

.accepted-cards label {
  display: inline-block;
  text-align: center;
  width: 76px;
  cursor: pointer;
}

.accepted-cards label img {
  display: block;
  margin-bottom: 0.8rem;
}

.accepted-cards label input {
  display: block;
  margin: 0 auto;
}

/* ==================================================
 * General Form
 * ================================================== */

.form-row {
  margin-bottom: 1em;
}

.form-column {
  width: 50%;
  margin-bottom: 1em;
  float: left;
}

.form-help {
  width: 50%;
  float: right;
}

.form-help img {
  float: left;
  margin: 0 10px 10px 0;
  display: block;
}

.form-column label, .form-row label {
  display: block;
}

.short-input {
  width: 8rem;
}

.buttons {
  border-top: 1px solid #999;
  margin-top: 1.6rem; padding-top: 1.6rem;
}

/* ==================================================
 * Tables
 * ================================================== */

.car_tax_receipt td, .car_tax_receipt th {
  border: none;
  font-size: 1.6rem;
}

.car_tax_receipt thead th {
  border-right: 2px solid #fff;
  background-color: #999;
}

.car_tax_receipt td, .car_tax_receipt tr:nth-child(even) td {
  vertical-align: bottom;
  background-color: transparent;
}

td.currency, th.currency {
  text-align: right;
}

tr.total td, tr.total th {
  background-color: transparent;
  border-top: 2px solid #999;
  color: #333;
  font-weight: bold;
}

/* ==================================================
 * Tim's styles 
 * ================================================== */

/* Temporary sketch images */
.sketch{
	width: 100%;
}

/* Product image (ie. a tax disc)*/
.product_image{
	float: right;
	height: 10em;
	width: 10em;
	margin: -5em -3em 1em 3em;
}

/* Footnote style */
.footnote{
	font-style: italic;
	font-size: 1em;
	color: #aaa;
	margin-top: 2em;
}

/* Results table for car lookup */
.equal-width {
  width: 50%;
}

.car_reg,
.car_tax{
	padding: 0 0.2em;
	color: #000;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	width: 5em;
	margin: 0 auto 0.5em auto;
}

.car_reg{
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbe712), color-stop(100%,#d3c100));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 1px rgba(100, 100, 100, 0.8);
	line-height: 4.8rem;
}

.car_tax{
 background-color: #28A197;
 color: #fff;
 font-weight: normal;
 width: 11em;
 line-height: 4.8rem;
}

.car_tax_details{
	text-align: center;
}

.article table tr th{
	text-align: center;
}

.car_tax_details td{
	padding: 1em;
}
.car_tax_details td p{
	margin-top: 0;
}


/* Image of the V11 form */
#v11image{
	width: 130px;
	float: right;
	margin: -1em 0 0 3em;
}

/* text input field */
/*
input[type=text]{
	display: block;
	margin-bottom: 1em;
}
*/

/* Back button */
.back{
	margin-left: 1em;
}


/* ==================================================
 * Simple Inline Expansion
 * ================================================== */

 /* A styled-up version of the details/summary HTML5 elements */

details{
	margin: 0 -1em 1em -1em;
	padding: 0.7em 1em;
}
details summary{
	cursor: pointer;
	margin-top: 0;
	font-size: 112.5%;
}

/* Closed state */
details:not(.open){
	padding-bottom: 0;
}
details:not(.open) summary{
	/* Display element in standard link style */
	color: #2E3191;
	display: inline;
	margin-bottom: 1em;
	text-decoration: underline;
}
details:not(.open) summary:hover{
  color: #1D97FF;
}

/* Open state */
details.open{
	background-color: #f2f2f2;
}
details.open summary{
  font-weight: bold;
}

summary:focus{
	outline: none;
}


/* ==================================================
 * Transaction step indicator
 * ================================================== */

 /* Taken from ERTP prototype */

ol.transaction-step-indicator {
	list-style-type: none;
	font-size:1.1em;
	text-align:center;
	padding:0;
	margin:0;
}

.transaction-step-indicator > li {
	width: 161px;
	height: 60px;
	margin-left: -35px;
	background-image: url('../img/unselected-icon.png');
	background-position: right;
	background-repeat: no-repeat;
	line-height: 60px;
	display: inline-block;
	font-weight:normal;
	color:#666;
	text-align:left;
}

.transaction-step-indicator > li.current {
	background-image: url('../img/selected-icon.png');
	font-weight:500;
	color: #fff;
}

.transaction-step-number {
	padding: 21px;
	text-align:center;
}

.transaction-content {
	background-color: white;
	padding: 0em 2em 0em 5em;
}
