/* line 1 */
a {
  color: #000 !important;
  text-decoration: none; }
  /* line 4 */
  a:after {
    text-decoration: none; }

/* line 9 */
.manual-header .inner-block {
  color: #000 !important;
  padding: 0 0 30px !important;
  margin: 0; }
  /* line 14 */
  .manual-header .inner-block .metadata-date {
    margin-bottom: 0; }
  /* line 18 */
  .manual-header .inner-block .headings h1 {
    font-size: 36px;
    margin-top: 0; }

/* line 29 */
form,
.open-close,
.back-to-contents,
.feeds .print,
.govdelivery,
.close-this {
  display: none !important; }

/* line 34 */
.contents ol li {
  border-bottom: none; }
/* line 37 */
.contents ol + p {
  clear: both; }

/* line 42 */
.govdelivery {
  padding-left: 0; }

/* line 47 */
.contents .hidden-content,
.contents .hidden-content-secondary {
  display: block; }

/* line 51 */
.subpage-metadata {
  clear: none; }

/* line 55 */
ol {
  clear: both;
  width: 100%; }
  /* line 59 */
  ol .intro {
    clear: both;
    float: left;
    width: 30%; }
    /* line 63 */
    ol .intro h3 {
      font-size: 19px; }
  /* line 68 */
  ol .hidden-content {
    float: right;
    padding-top: 0;
    margin: 0 0 60px 0;
    width: 66.66%; }

/* line 76 */
.main-contents {
  width: 100%; }
  /* line 79 */
  .main-contents .hidden-content h4:first-child {
    margin-top: 0; }
  /* line 82 */
  .main-contents .hidden-content ul {
    padding-left: 20px; }
