body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Rationale_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:22px;
    top:223px;
    width:832px;
    height:117px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:123px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:828px;
    height:146px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Rationale_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:25px;
    top:352px;
    width:596px;
    height:368px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:602px;
    height:374px;
}

.u3 {
    position:absolute;
    left:2px;
    top:176px;
    width:592px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:94px;
    width:1297px;
    height:44px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:13px;
    top:8px;
    width:434px;
    height:78px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u7 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:27px;
    top:107px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:587px;
    top:106px;
    width:270px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:79px;
    top:167px;
    width:145px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../Rationale_1_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:39px;
}

.u15 {
    position:absolute;
    left:21px;
    top:157px;
    width:10px;
    height:39px;
    
}

.u16_normal {
    background-image: url('../Rationale_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:46px;
    top:169px;
    width:6px;
    height:12px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:18px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-2px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Rationale_1_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:51px;
    top:174px;
    width:16px;
    height:2px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:8px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-7px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Rationale_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:65px;
    top:174px;
    width:2px;
    height:6px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:12px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-5px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Rationale_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:39px;
    top:448px;
    width:169px;
    height:103px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:109px;
}

.u23 {
    position:absolute;
    left:6px;
    top:83px;
    width:158px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Footer_files/u35_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:1406px;
    width:880px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Rationale_1_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:22px;
    top:737px;
    width:832px;
    height:457px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:463px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:828px;
    height:461px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Rationale_1_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:42px;
    top:453px;
    width:158px;
    height:71px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:71px;
}

.u31 {
    position:absolute;
    left:2px;
    top:28px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Rationale_1_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:38px;
    top:560px;
    width:361px;
    height:78px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:367px;
    height:84px;
}

.u33 {
    position:absolute;
    left:6px;
    top:58px;
    width:350px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Rationale_1_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:565px;
    width:348px;
    height:46px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:348px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:15px;
    width:344px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Rationale_1_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:39px;
    top:366px;
    width:573px;
    height:74px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:579px;
    height:80px;
}

.u37 {
    position:absolute;
    left:6px;
    top:54px;
    width:562px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Rationale_1_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:43px;
    top:370px;
    width:560px;
    height:42px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:560px;
    height:42px;
}

.u39 {
    position:absolute;
    left:2px;
    top:13px;
    width:556px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Rationale_1_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:233px;
    top:453px;
    width:278px;
    height:98px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:284px;
    height:104px;
}

.u41 {
    position:absolute;
    left:6px;
    top:78px;
    width:267px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Rationale_1_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:237px;
    top:459px;
    width:266px;
    height:64px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:266px;
    height:64px;
}

.u43 {
    position:absolute;
    left:2px;
    top:24px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Rationale_1_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:39px;
    top:644px;
    width:292px;
    height:66px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:298px;
    height:72px;
}

.u45 {
    position:absolute;
    left:6px;
    top:46px;
    width:281px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Rationale_1_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:43px;
    top:652px;
    width:277px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:277px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:273px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

