---
---
@import "_colours";
@import "_conditionals";
@import "_css3";
@import "_typography";
@import "_buttons.scss";

/* 15px em unit */
html { font-size: 10px; }
body { font-size: 150%; margin: 0; background-color: yellow; }

/* New Greys */
$grey-0: #0b0c0c;
$grey-1: #171819;
$grey-2: #2e3133;
$grey-3: #454a4c;
$grey-4: #5c6366;
$grey-5: #8a9499;
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #dee0e2;
$grey-9: #eaedef;

#global-header {
  background-color: $grey-0;
  width: 100%;

  .header-wrapper {
    max-width: 62em;
    margin: 0 auto;
    height: 2em;
    line-height: 2em;
    padding: 0.5em 1em;

    @include media($max-width: 499px) {
      height: auto;
    }

    @include ie-lte(7) {
      width: 62em;
      height: auto;
    }
  }

  #logo {
    position: relative;
    float: left;
    width: 149px;
    height: 28px;

    overflow: hidden;
  
    img {
      position: absolute;
      left: 0; top: 0;
    }

    &:hover img {
      top: -44px;
    }
  }

  nav {
    ul {
      @include core-16($line-height: (30 / 16));
      margin: 0 0 0 1em;
      padding: 0;
      
      float: left;
      list-style: none;

      li {
        float: left;
        margin: 0 1.5em 0 0;

        a {
          @include core-16($line-height: (30/16), $line-height-640: (30/13));
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fff
          }
        }
      }
    }
  }

  .search-toggle {
    display: none;

    @include media($max-width: 379px) {
      display: block;
      float: right;
      top: 0;

      @include core-16($line-height: (20/16), $line-height-640: (20/13));

      overflow: hidden;
      text-indent: -5000px;

      width: 1.8em;
      padding: 0.35em 0.5em;

      background-image: url(icon-search.png);
      background-repeat: no-repeat;
      background-position: 75% 50%;

      @include border-radius(0);
      @include box-shadow(none);

      &:active {
        @include translate(0, 0);
      }
    }

    &.js-hidden { display: none; }
  }

  form#search {
    float: right;
    // max-width: 18em;
    margin: 0;

    input.button {
      @include core-16($line-height: (20/16), $line-height-640: (20/13));
      /* this inherits from the basic button styles */
      display: inline;
      margin: 0;
      padding: 0.25em 0.5em;

      position: static;
 
      
      @include border-radius(0);
      @include box-shadow(none);
      
      -webkit-appearance: none;

      &:hover {
        background-color: #3ABAA8;
      }

      &:active {
        @include translate(0, 0);
      }

      @include media($max-width: 499px) {
        overflow: hidden;
        text-indent: -5000px;

        width: 1.8em;
        padding: 0.25em 0.5em;

        background-image: url(icon-search.png);
        background-repeat: no-repeat;
        background-position: 75% 50%;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        @include border-radius(0);
      }

      @include media($max-width: 379px) {
        float: right;
        margin: 0.3em 0;
      }
    }

      /* search input */
    #site-search-text {
      @include core-16($line-height: (18/16), $line-height-640: (18/13));
      margin: 0;

      /* this is handled in normalize.scss */
      -webkit-appearance: none;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
    }

    @include media($max-width: 379px) {
      display: none;
      width: 100%;

      #site-search-text {
        margin: 0.3em 0;
        width: 80%;
      }
    }
    &.js-visible { display: block; }
  }
}

// self clearing floats
.group:before,
.group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
 }

.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

.visuallyhidden {
  position: absolute;
  left: -9999em;

  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
