---

---
@import "_colours";
@import "_conditionals";
@import "_typography";

body { font-size: 150%; }

section#content {
  background-color: transparent;
}

.meta-data {
  width: 100%;
  clear: both;

  float: none;
  margin: 0;
  padding-top: 2em;

  .inner {
    border-top: 1px solid #b2b2b2;
    margin: 2em 2em 0;
    padding: 1em 0 1em 0;
  }

  p {
    color: #777777;
    display: inline-block;
    margin: 4.5rem 3rem 4.5rem 0;
  }

  a {
    color: #777777;
  }

  .report-a-problem-toggle {
    margin: 1em 1.5rem 1em 0;
    clear: none;
  }

  .modified-date {
    float: none;
  }

  .print-link {
    float: none;

    a {
      padding-left: 0;
    }
  }
}

#footer {
  background-color: #e2e2e2;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2);

  .footer-wrapper {
    max-width: 930px;
    margin: 0 auto;
    padding: 6rem 0 0 2em;
  }

  h2 {
    color: #676767;
    margin: 0;
  }

  .footer-categories {
    font-size: 0;
  }

  .footer-categories ul {
    @include core-16;
    list-style: none;
    
    padding: 2rem 0 1.5rem 0;
    margin: 3rem 3rem 3rem 0;
    border: 1px solid #b5b5b5;
    border-width: 1px 0;

    display: inline-block;
    width: 290px;
    min-height: 210px;

    vertical-align: top;
  
    li {
      margin: 0 20% 1.5rem 0;
    }

    a {
      color: #434343;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    @include core-14;

    display: inline-block;
    float: none;
    text-align: inherit;
    width: 290px;
    min-height: 210px;

    color: #434343;

    padding: 2rem 0 1.5rem 0;
    margin: 3rem 0 3rem 0;
    border: 1px solid #b5b5b5;
    border-width: 1px 0;

    a {
      margin: 35px 0 0 0;
      padding: 115px 0 0 0;

      background: transparent url(crest-4.png) no-repeat 50% 0;
      text-align: center;
    }
  }

  .footer-meta {
    font-size: 0;
    color: #626262;
    padding: 3rem 0 6rem;

    ul {
      @include core-14;
      display: inline-block;
      list-style: none;
      margin: 0 3rem 3rem 0;
      padding: 0;

      width: 290px;

       li {
        display: inline-block;
        margin: 0 1.5rem 0 0;
      }
    }

    .colophon {
      @include core-14;
      display: inline-block;
      margin: 0 0 3rem 0;
    }

    p {
      @include core-14;
      display: block;
      clear: left;
    }

    a {
      color: #626262;
    }
  }
}



