---

---
@import "_colours";
@import "_conditionals";
@import "_typography";

/* 15px em unit */
body { font-size: 150%; }

/* New Greys */
$grey-0: #0b0c0c;
$grey-1: #171819;
$grey-2: #2e3133;
$grey-3: #454a4c;
$grey-4: #5c6366;
$grey-5: #8a9499;
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

/* Fix background & border colours */

html { background-color: $grey-9; }
#global-header { background-color: $grey-1; }
#wrapper { background-color: $grey-9; }
.related {
  .inner {
    background-color: $grey-8;
    border-color: $grey-6;
  }

  li.related-topic {
    border-color: $grey-6;
  }
}

aside .page-navigation { 
  li { border-color: $grey-6; }
  li.active { background-color: $grey-8; }
  li a:hover { background-color: $grey-9; }
}

article {
  th {
    background-color: $grey-8;
    border-color: $grey-6;
  }

  td {
    background-color: $grey-9;
    border-color: $grey-7;
  }
}

.pagination {
  .first, .last { background-color: $grey-8; }

  li { 
    background-color: $grey-8;
    a { background-color: transparent; }
  }
}

/* Fix font colours */
body { color: $grey-0; }
header .page-header hgroup h1 { color: $grey-0; }
aside .page-navigation li span.part-label { color: $grey-0; }
aside .page-navigation li span.part-title { color: $grey-0; }
article {
  header h1, h1, h2, h3, h4 { color: $grey-0; }
  th { color: $grey-0; }
}
.pagination li a .pagination-label { color: $grey-0; }
.related h2 { color: $grey-0; }

/* meta data */

/* meta data */

.meta-data {
  width: 100%;
  clear: both;

  float: none;
  margin: 0;
  padding-top: 2em;

  .inner {
    border-top: 1px solid $grey-6;
    margin: 2em 2em 0;
    padding: 1em 0 1em 0;
  }

  p {
    color: $grey-4;
    display: inline-block;
    margin: 4.5rem 3rem 4.5rem 0;
  }

  a {
    color: $grey-4;
  }

  .report-a-problem-toggle {
    margin: 1em 1.5rem 1em 0;
    clear: none;
  }

  .modified-date {
    float: none;
  }

  .print-link {
    float: none;

    a {
      padding-left: 0;
    }
  }
}

#footer {
  background-color: $grey-8;
  border-top: 1px solid $grey-6;

  .footer-wrapper {
    max-width: 930px;
    margin: 0 auto;
    padding: 6rem 0 0 2em;
  }

  h2 {
    color: $grey-3;
    margin: 0;
  }

  .footer-categories {
    font-size: 0;
  }

  .footer-categories ul {
    @include core-16;
    list-style: none;
    
    padding: 2rem 0 1.5rem 0;
    margin: 3rem 3rem 3rem 0;
    border: 1px solid $grey-6;
    border-width: 1px 0;

    display: inline-block;
    width: 290px;
    min-height: 210px;

    vertical-align: top;
  
    li {
      margin: 0 20% 1.5rem 0;
    }

    a {
      color: $grey-3;
    }

    a:hover {
      color: $grey-1;
    }
  }

  .copyright {
    @include core-16;

    display: inline-block;
    float: none;
    text-align: inherit;
    width: 290px;
    min-height: 210px;

    color: #434343;

    padding: 2rem 0 1.5rem 0;
    margin: 3rem 0 3rem 0;
    border: 1px solid $grey-6;
    border-width: 1px 0;

    a {
      margin: 35px 0 0 0;
      padding: 115px 0 0 0;

      background: transparent url(crest-5.png) no-repeat 50% 0;
      text-align: center;
    }

    a:hover {
      color: $grey-1;
    }
  }

  .footer-meta {
    font-size: 0;
    color: $grey-3;
    padding: 3rem 0 6rem;

    ul {
      @include core-16;
      display: inline-block;
      list-style: none;
      margin: 0 3rem 3rem 0;
      padding: 0;

      width: 290px;

       li {
        display: inline-block;
        margin: 0 1.5rem 0 0;
      }
    }

    .colophon {
      @include core-16;
      display: inline-block;
      margin: 0 0 3rem 0;
    }

    p {
      @include core-16;
      display: block;
      clear: left;
    }

    a {
      color: $grey-3;
    }

    a:hover {
      color: $grey-1;
    }
  }
}



