body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Subsection_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-22px;
    top:43px;
    width:1306px;
    height:1519px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1306px;
    height:1519px;
}

.u1 {
    position:absolute;
    left:2px;
    top:752px;
    width:1302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Subsection_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:193px;
    top:0px;
    width:960px;
    height:1520px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:1526px;
}

.u3 {
    position:absolute;
    left:2px;
    top:752px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:220px;
    top:240px;
    width:433px;
    height:73px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:875px;
    top:16px;
    width:177px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Subsection_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:-52px;
    top:0px;
    width:1302px;
    height:42px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1302px;
    height:42px;
}

.u7 {
    position:absolute;
    left:2px;
    top:13px;
    width:1298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Subsection_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:-52px;
    top:2px;
    width:468px;
    height:42px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:468px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:13px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Subsection_1_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:185px;
    top:2px;
    width:153px;
    height:42px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:42px;
}

.u11 {
    position:absolute;
    left:2px;
    top:13px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Subsection_1_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:400px;
    top:2px;
    width:884px;
    height:42px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:884px;
    height:42px;
}

.u13 {
    position:absolute;
    left:2px;
    top:13px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Subsection_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:357px;
    top:0px;
    width:255px;
    height:42px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:13px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Subsection_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:585px;
    top:0px;
    width:637px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:637px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:633px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Subsection_1_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:1222px;
    top:0px;
    width:62px;
    height:42px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:885px;
    top:14px;
    width:123px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:408px;
    top:12px;
    width:451px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:217px;
    top:462px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:230px;
    top:426px;
    width:609px;
    height:324px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:235px;
    top:1066px;
    width:171px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:693px;
    top:1066px;
    width:252px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:235px;
    top:1099px;
    width:202px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:442px;
    top:1066px;
    width:161px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:928px;
    top:1066px;
    width:150px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:442px;
    top:1099px;
    width:191px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:235px;
    top:1132px;
    width:168px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:232px;
    top:1006px;
    width:555px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:928px;
    top:1099px;
    width:202px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:693px;
    top:1099px;
    width:222px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Subsection_1_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:-1px;
    top:1456px;
    width:1362px;
    height:236px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:236px;
}

.u36 {
    position:absolute;
    left:2px;
    top:110px;
    width:1358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../Subsection_1_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:3px;
    width:960px;
    height:5px;
}

.u37 {
    position:absolute;
    left:193px;
    top:968px;
    width:960px;
    height:10px;
    
}

.u38 {
    position:absolute;
    left:230px;
    top:774px;
    width:365px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:230px;
    top:815px;
    width:609px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:230px;
    top:836px;
    width:96px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:230px;
    top:908px;
    width:150px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:442px;
    top:1132px;
    width:191px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Subsection_1_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:193px;
    top:184px;
    width:960px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:39px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:209px;
    top:192px;
    width:927px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../Subsection_1_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:3px;
    width:960px;
    height:5px;
}

.u46 {
    position:absolute;
    left:193px;
    top:85px;
    width:960px;
    height:10px;
    
}

.u47_normal {
    background-image: url('../Subsection_1_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:282px;
    top:56px;
    width:9px;
    height:15px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:21px;
}

.u48 {
    position:absolute;
    left:2px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Subsection_1_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:193px;
    top:44px;
    width:70px;
    height:45px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:51px;
}

.u50 {
    position:absolute;
    left:2px;
    top:14px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Subsection_1_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:279px;
    top:51px;
    width:4px;
    height:27px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:33px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:207px;
    top:56px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:302px;
    top:56px;
    width:253px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Subsection_1_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:505px;
    top:56px;
    width:9px;
    height:15px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:21px;
}

.u56 {
    position:absolute;
    left:2px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Subsection_1_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:193px;
    top:92px;
    width:966px;
    height:88px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:966px;
    height:88px;
}

.u58 {
    position:absolute;
    left:2px;
    top:36px;
    width:962px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Subsection_1_files/u51_normal.png');
}

.u59_container {
    position:absolute;
    left:502px;
    top:51px;
    width:4px;
    height:27px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:33px;
}

.u60 {
    position:absolute;
    left:2px;
    top:6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:193px;
    top:108px;
    width:178px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:693px;
    top:148px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:403px;
    top:108px;
    width:227px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:693px;
    top:108px;
    width:233px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:193px;
    top:148px;
    width:178px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:403px;
    top:148px;
    width:177px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:833px;
    top:108px;
    width:233px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:833px;
    top:148px;
    width:233px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:230px;
    top:329px;
    width:887px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Subsection_1_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:193px;
    top:180px;
    width:960px;
    height:3px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:9px;
}

.u71 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:526px;
    top:56px;
    width:253px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

