/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 4 */
.category-page .filter-list-form {
  display: block;
  padding: 0.5em 2em;
  background-color: white; }
/* line 13 */
.category-page .browse-container ul.sub-categories li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; }
  /* line 20 */
  .category-page .browse-container ul.sub-categories li a h2 {
    text-decoration: underline; }
  /* line 24 */
  .category-page .browse-container ul.sub-categories li a p {
    color: #0b0c0c; }
/* line 31 */
.category-page .browse-container ul.content-list {
  width: 100%; }
  /* line 34 */
  .category-page .browse-container ul.content-list li {
    margin: 0 -2em;
    padding: 0.5em 2em 1em; }
    /* line 38 */
    .category-page .browse-container ul.content-list li h3, .category-page .browse-container ul.content-list li p {
      width: 65.5%; }
    /* line 42 */
    .category-page .browse-container ul.content-list li:nth-child(odd) {
      background-color: #f8f8f8; }
    /* line 46 */
    .category-page .browse-container ul.content-list li:hover {
      background-color: #ebebeb; }
/* line 56 */
.category-page .version-2 ul.content-list li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; }
  /* line 63 */
  .category-page .version-2 ul.content-list li a h3 {
    text-decoration: underline; }
  /* line 67 */
  .category-page .version-2 ul.content-list li a p {
    text-decoration: none;
    color: #0b0c0c; }
