body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Date_of_birth_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:26px;
    top:257px;
    width:828px;
    height:201px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:834px;
    height:207px;
}

.u1 {
    position:absolute;
    left:2px;
    top:92px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Date_of_birth_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:24px;
    top:478px;
    width:832px;
    height:272px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:278px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:828px;
    height:252px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:93px;
    width:1297px;
    height:44px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:13px;
    top:7px;
    width:434px;
    height:78px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u8 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:27px;
    top:106px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:162px;
    top:106px;
    width:49px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Pattern_Library_Header_files/u9_normal.png');
}

.u12_container {
    position:absolute;
    left:768px;
    top:0px;
    width:89px;
    height:39px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:39px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:50px;
    top:167px;
    width:145px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Date_of_birth_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:39px;
}

.u16 {
    position:absolute;
    left:23px;
    top:157px;
    width:10px;
    height:39px;
    
}

.u17_normal {
    background-image: url('../Footer_files/u36_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:806px;
    width:880px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Date_of_birth_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:38px;
    top:268px;
    width:615px;
    height:179px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:621px;
    height:185px;
}

.u21 {
    position:absolute;
    left:2px;
    top:82px;
    width:611px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Date_of_birth_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:541px;
    top:269px;
    width:112px;
    height:113px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:113px;
}

.u23 {
    position:absolute;
    left:2px;
    top:48px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:24px;
    top:210px;
    width:178px;
    height:44px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:50px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:174px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:0px;
    width:147px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:38px;
    top:268px;
    width:616px;
    height:180px;
    overflow:hidden;
}

#pd7u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u31_normal {
    background-image: url('../Date_of_birth_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:90px;
    top:64px;
    width:350px;
    height:66px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:72px;
}

.u32 {
    position:absolute;
    left:2px;
    top:25px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:210px;
    top:105px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:90px;
    top:42px;
    width:340px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd6u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u39_normal {
    background-image: url('../Date_of_birth_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:90px;
    top:64px;
    width:350px;
    height:41px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:47px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:90px;
    top:42px;
    width:340px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u46_normal {
    background-image: url('../Date_of_birth_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:100px;
    top:52px;
    width:238px;
    height:94px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:100px;
}

.u47 {
    position:absolute;
    left:2px;
    top:39px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:100px;
    top:30px;
    width:238px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:108px;
    top:121px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd4u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u54_normal {
    background-image: url('../Date_of_birth_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:100px;
    top:52px;
    width:238px;
    height:68px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:74px;
}

.u55 {
    position:absolute;
    left:2px;
    top:26px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:100px;
    top:30px;
    width:238px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u61 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:210px;
    top:105px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u66 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:108px;
    top:121px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u71 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u75 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:671px;
    top:257px;
    width:178px;
    height:44px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:50px;
}

.u84 {
    position:absolute;
    left:2px;
    top:13px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

