body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../2_column_grid_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-22px;
    top:43px;
    width:1306px;
    height:2350px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1306px;
    height:2350px;
}

.u1 {
    position:absolute;
    left:2px;
    top:1167px;
    width:1302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../2_column_grid_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:193px;
    top:88px;
    width:957px;
    height:2305px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:963px;
    height:2311px;
}

.u3 {
    position:absolute;
    left:2px;
    top:1144px;
    width:953px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:220px;
    top:104px;
    width:433px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../2_column_grid_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:193px;
    top:0px;
    width:957px;
    height:84px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:963px;
    height:90px;
}

.u6 {
    position:absolute;
    left:2px;
    top:34px;
    width:953px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:875px;
    top:16px;
    width:177px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../2_column_grid_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:-52px;
    top:0px;
    width:1302px;
    height:42px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1302px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:13px;
    width:1298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../2_column_grid_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:-52px;
    top:2px;
    width:468px;
    height:42px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:468px;
    height:42px;
}

.u11 {
    position:absolute;
    left:2px;
    top:13px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../2_column_grid_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:185px;
    top:2px;
    width:153px;
    height:42px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:42px;
}

.u13 {
    position:absolute;
    left:2px;
    top:13px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../2_column_grid_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:400px;
    top:2px;
    width:884px;
    height:42px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:884px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:13px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../2_column_grid_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:357px;
    top:0px;
    width:255px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../2_column_grid_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:585px;
    top:0px;
    width:637px;
    height:42px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:637px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:633px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../2_column_grid_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:1222px;
    top:0px;
    width:62px;
    height:42px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:885px;
    top:14px;
    width:123px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../2_column_grid_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:256px;
    top:56px;
    width:9px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:21px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:275px;
    top:56px;
    width:129px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../2_column_grid_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:253px;
    top:51px;
    width:4px;
    height:27px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:33px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:207px;
    top:56px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:408px;
    top:12px;
    width:451px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:217px;
    top:462px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:223px;
    top:180px;
    width:919px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../2_column_grid_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:-1px;
    top:2345px;
    width:1362px;
    height:236px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:236px;
}

.u33 {
    position:absolute;
    left:2px;
    top:110px;
    width:1358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_mouseOver {
    background-image: url('../2_column_grid_files/u34_mouseOver.png');
}

.u34_normal {
    background-image: url('../2_column_grid_files/u34_mouseOver.png');
}

.u34_container {
    position:absolute;
    left:688px;
    top:227px;
    width:432px;
    height:536px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:542px;
}

.u35 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:476px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../2_column_grid_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:688px;
    top:760px;
    width:432px;
    height:356px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:362px;
}

.u37 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:326px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../2_column_grid_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:223px;
    top:1200px;
    width:432px;
    height:414px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:420px;
}

.u39 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:376px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../2_column_grid_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:688px;
    top:1200px;
    width:432px;
    height:334px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:340px;
}

.u41 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:301px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../2_column_grid_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:223px;
    top:1600px;
    width:432px;
    height:392px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:398px;
}

.u43 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:401px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../2_column_grid_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:223px;
    top:2031px;
    width:432px;
    height:312px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:318px;
}

.u45 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:251px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../2_column_grid_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:688px;
    top:1600px;
    width:432px;
    height:306px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:312px;
}

.u47 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:251px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:226px;
    top:227px;
    width:429px;
    height:716px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:435px;
    height:722px;
}

.u49 {
    position:absolute;
    left:12px;
    top:16px;
    width:409px;
    height:526px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../2_column_grid_files/u50_mouseOver.png');
}

.u50_normal {
    background-image: url('../2_column_grid_files/u50_mouseOver.png');
}

.u50_container {
    position:absolute;
    left:683px;
    top:2031px;
    width:432px;
    height:158px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:164px;
}

.u51 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:162px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../2_column_grid_files/u38_normal.png');
}

.u52_container {
    position:absolute;
    left:223px;
    top:760px;
    width:432px;
    height:414px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:420px;
}

.u53 {
    position:absolute;
    left:12px;
    top:16px;
    width:412px;
    height:426px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

