* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u2_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u15_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u28_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u41_normal.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u54_normal.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u64_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u74_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u74_normal.png");
}

* html .u94_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u0_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u96_normal.png");
}

* html .u106_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u106_normal.png");
}

* html .u118_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u118_line.png");
}

* html .u119_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u119_normal.png");
}

* html .u122_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u122_line.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u106_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u129_normal.png");
}

* html .u137_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u137_line.png");
}

* html .u139_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u139_line.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u106_normal.png");
}

* html .u162_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u162_normal.png");
}

* html .u170_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u170_line.png");
}

* html .u172_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u172_line.png");
}

* html .u175_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u106_normal.png");
}

* html .u187_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u187_line.png");
}

* html .u189_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u189_line.png");
}

* html .u192_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u192_line.png");
}

* html .u194_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u194_line.png");
}

* html .u200_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u162_normal.png");
}

* html .u208_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u208_line.png");
}

* html .u210_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u210_line.png");
}

* html .u213_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u213_normal.png");
}

* html .u218_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u218_normal.png");
}

* html .u229_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u229_line.png");
}

* html .u230_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Narrowing_it_down_files/u230_line.png");
}

