body.mainstream nav.header-context ol {
  margin-right: 0;
}

header.page-header hgroup {
  /*background-color: #303030;*/
  margin-right: 0;
  padding: 0;
}

.sub-category-page header.page-header hgroup {
  /*background-color: #E5E5E5;*/
}

header.page-header hgroup h1 {
  /*color: #fff;*/
  line-height: 1;
  padding: 0.3em 0.7em 0.35em 0.7em;
}

.sub-category-page header.page-header hgroup h1 {
  /*background-color: #E5E5E5;*/
  border-bottom: solid 8px #E5E5E5;
  /*font-size: 1.5em;*/
  /*padding: 0.5em 1.25em;*/
  padding-left: 0.2em;
  margin: 0 0.5em;
}

.sub-category-page header.page-header hgroup h1 a {
  /*color: #999;*/
}

header.page-header hgroup h2 {
  /*background-color: #E5E5E5;*/
  /*background-color: #000;*/
  border-bottom: solid 4px #f47738;
  /*color: #fff;*/
  color: inherit;
  font-size: 1.75em;
  /*font-size: 2.75em;*/
  margin: 0 1.15em 0 2.25em;
  padding: 0.5em 0;
  /*padding: 0.3em 0.7em 0.35em 0.7em;*/
  width: 19em;
}

.category-page .search-container {
  background-color: #fff;
  padding: 0 2em 1em 2em;
}

.category-page.sub-category-page .search-container {
  padding-left: 4em;
}

.category-page .search-container h3 {
  font-size: 1.1875em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.category-page .search-container .summary {
  /*background-color: #D5E8F3;*/
  font-size: 1.5em;
  margin: 0 -1.35em 0.5em -1.35em;
  padding: 1em 1.35em;
}

.category-page .search-container .summary p {
  margin: 0;
  width: 66%;
}

.category-page .search-container ul.sub-categories {
  padding-left: 0;
}

.category-page .search-container ul.sub-categories li {
  float: left;
  height: 11em;
  list-style: none;
  margin-right: 4.25%;
  margin-bottom: 1em;
  width: 30.5%;
}

.category-page .search-container ul.sub-categories li:nth-child(3n) {
  margin-right: 0;
}

.category-page .search-container ul.results-list {
  padding-top: 1.5em;
}

.category-page .search-container h3 + ul.results-list {
  padding: 0;
}

.category-page .search-container ul.results-list li {

}

/* ----------------
   Footer nav
   ---------------- */


#footer .categories h1 {
font-size: 1em;
margin: 1em 0;
}
#footer .categories ul li {
list-style: none;
float: left;
margin-right: 4.25%;
width: 30.5%;
}
#footer .categories ul  {
margin-left: 0em;
padding: 0;
}
#footer .colophon-and-help {
width: auto; /* overwrite */
padding: 0 2em;
}
#footer .copyright {
text-align: left; /* overwrite */
padding: 0 2em;
font-size: 0.9em;
}
#footer .copyright p{
  margin-top: 0;
}
#footer .colophon-and-help .colophon {
clear: left;
padding-top: 0.5em;
}