body {
    margin: 0px;
    background-color: #EEEEEE;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Fees_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1460px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1466px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Fees_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:207px;
    top:42px;
    width:720px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:222px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:297px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Fees_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:274px;
    top:57px;
    width:10px;
    height:10px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Fees_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:720px;
    height:5px;
}

.u8 {
    position:absolute;
    left:207px;
    top:76px;
    width:720px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../Fees_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:867px;
    top:43px;
    width:55px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Fees_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:207px;
    top:83px;
    width:725px;
    height:3527px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:731px;
    height:3533px;
}

.u13 {
    position:absolute;
    left:2px;
    top:1756px;
    width:721px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:167px;
    top:3px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:302px;
    top:11px;
    width:217px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_image_sketch {
    background-image: url('../Fees_files/u16_image_sketch.png');
    position:absolute;
    left:965px;
    top:5px;
    width:226px;
    height:31px;
}

.u16 {
    position:absolute;
    left:968px;
    top:8px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: 'Chalkboard';
}

.u17_normal {
    background-image: url('../Fees_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1190px;
    top:8px;
    width:65px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:294px;
    top:128px;
    width:610px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Fees_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:220px;
    top:98px;
    width:70px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:297px;
    top:102px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u25 {
    position:absolute;
    left:209px;
    top:261px;
    width:721px;
    height:186px;
    overflow:hidden;
}

#pd4u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:186px;
    
}

.u26_normal {
    background-image: url('../Fees_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:112px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:118px;
}

.u27 {
    position:absolute;
    left:2px;
    top:48px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Fees_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:487px;
    top:17px;
    width:214px;
    height:76px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u29 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:558px;
    top:30px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Fees_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:504px;
    top:32px;
    width:48px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:18px;
    top:17px;
    width:214px;
    height:76px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:323px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:266px;
    top:30px;
    width:48px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:88px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u39_container {
    position:absolute;
    left:34px;
    top:30px;
    width:48px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:186px;
    
}

.u41_normal {
    background-image: url('../Fees_files/u26_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:112px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:118px;
}

.u42 {
    position:absolute;
    left:2px;
    top:48px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u43_container {
    position:absolute;
    left:487px;
    top:17px;
    width:214px;
    height:76px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u44 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:558px;
    top:30px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Fees_files/u28_normal.png');
}

.u46_container {
    position:absolute;
    left:252px;
    top:17px;
    width:214px;
    height:76px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u47 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u48_container {
    position:absolute;
    left:504px;
    top:32px;
    width:48px;
    height:50px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u49 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u50_container {
    position:absolute;
    left:18px;
    top:17px;
    width:214px;
    height:76px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u51 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:323px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Fees_files/u31_normal.png');
}

.u53_container {
    position:absolute;
    left:266px;
    top:30px;
    width:48px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:88px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u56_container {
    position:absolute;
    left:34px;
    top:30px;
    width:48px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:186px;
    
}

.u58_normal {
    background-image: url('../Fees_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:170px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:176px;
}

.u59 {
    position:absolute;
    left:2px;
    top:77px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u60_container {
    position:absolute;
    left:487px;
    top:17px;
    width:214px;
    height:76px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u61 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:558px;
    top:30px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u63_container {
    position:absolute;
    left:252px;
    top:17px;
    width:214px;
    height:76px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u64 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u65_container {
    position:absolute;
    left:504px;
    top:32px;
    width:48px;
    height:50px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Fees_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:18px;
    top:17px;
    width:214px;
    height:95px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:101px;
}

.u68 {
    position:absolute;
    left:2px;
    top:40px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:323px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u70_container {
    position:absolute;
    left:266px;
    top:30px;
    width:48px;
    height:50px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u71 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:88px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Fees_files/u31_normal.png');
}

.u73_container {
    position:absolute;
    left:34px;
    top:30px;
    width:48px;
    height:50px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Fees_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:18px;
    top:113px;
    width:683px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:689px;
    height:46px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:679px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:34px;
    top:125px;
    width:410px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Fees_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:526px;
    top:118px;
    width:100px;
    height:30px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u79 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Fees_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:636px;
    top:118px;
    width:59px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:36px;
}

.u81 {
    position:absolute;
    left:2px;
    top:8px;
    width:55px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Fees_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:446px;
    top:118px;
    width:70px;
    height:30px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:36px;
}

.u83 {
    position:absolute;
    left:2px;
    top:8px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u84 {
    position:absolute;
    left:166px;
    top:82px;
    width:381px;
    height:111px;
    overflow:hidden;
}

#pd2u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:381px;
    height:111px;
    
}

.u85_normal {
    background-image: url('../Fees_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:0px;
    width:340px;
    height:90px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:96px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:336px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Fees_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:246px;
    top:54px;
    width:80px;
    height:26px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:32px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_image_sketch {
    background-image: url('../Fees_files/u89_image_sketch.png');
    position:absolute;
    left:9px;
    top:52px;
    width:227px;
    height:31px;
}

.u89 {
    position:absolute;
    left:12px;
    top:55px;
    width:221px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_text_sketch {
    font-family: 'Chalkboard';
}

.u90_normal {
    background-image: url('../Fees_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:320px;
    top:10px;
    width:10px;
    height:10px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u91 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:381px;
    height:111px;
    
}

.u92_normal {
    background-image: url('../Fees_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:100px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:316px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Fees_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:48px;
    top:55px;
    width:94px;
    height:26px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:32px;
}

.u95 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Fees_files/u94_normal.png');
}

.u96_container {
    position:absolute;
    left:174px;
    top:55px;
    width:94px;
    height:26px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:32px;
}

.u97 {
    position:absolute;
    left:2px;
    top:6px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:381px;
    height:111px;
    
}

#pd1u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:186px;
    
}

.u99_normal {
    background-image: url('../Fees_files/u58_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:170px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:176px;
}

.u100 {
    position:absolute;
    left:2px;
    top:77px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u101_container {
    position:absolute;
    left:487px;
    top:17px;
    width:214px;
    height:76px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u102 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:558px;
    top:30px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u104_container {
    position:absolute;
    left:252px;
    top:17px;
    width:214px;
    height:76px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u105 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u106_container {
    position:absolute;
    left:504px;
    top:32px;
    width:48px;
    height:50px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u107 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Fees_files/u67_normal.png');
}

.u108_container {
    position:absolute;
    left:18px;
    top:17px;
    width:214px;
    height:95px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:101px;
}

.u109 {
    position:absolute;
    left:2px;
    top:40px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:323px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u111_container {
    position:absolute;
    left:266px;
    top:30px;
    width:48px;
    height:50px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u112 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:88px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Fees_files/u31_normal.png');
}

.u114_container {
    position:absolute;
    left:34px;
    top:30px;
    width:48px;
    height:50px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u115 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Fees_files/u75_normal.png');
}

.u116_container {
    position:absolute;
    left:18px;
    top:113px;
    width:683px;
    height:40px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:689px;
    height:46px;
}

.u117 {
    position:absolute;
    left:2px;
    top:12px;
    width:679px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:34px;
    top:125px;
    width:410px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:186px;
    
}

.u119_normal {
    background-image: url('../Fees_files/u26_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:112px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:118px;
}

.u120 {
    position:absolute;
    left:2px;
    top:48px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u121_container {
    position:absolute;
    left:487px;
    top:17px;
    width:214px;
    height:76px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u122 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:558px;
    top:30px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Fees_files/u33_normal.png');
}

.u124_container {
    position:absolute;
    left:252px;
    top:17px;
    width:214px;
    height:76px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u125 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u126_container {
    position:absolute;
    left:504px;
    top:32px;
    width:48px;
    height:50px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u127 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../Fees_files/u28_normal.png');
}

.u128_container {
    position:absolute;
    left:18px;
    top:17px;
    width:214px;
    height:76px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u129 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:323px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Fees_files/u36_normal.png');
}

.u131_container {
    position:absolute;
    left:266px;
    top:30px;
    width:48px;
    height:50px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u132 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:88px;
    top:28px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Fees_files/u31_normal.png');
}

.u134_container {
    position:absolute;
    left:34px;
    top:30px;
    width:48px;
    height:50px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u135 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:16px;
    top:0px;
    width:566px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:249px;
    top:505px;
    width:640px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:249px;
    top:721px;
    width:594px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:249px;
    top:793px;
    width:594px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

