---
---

// ===================================================
// GET STARTED PAGE STYLES
//

@import "design-patterns/show-hide";
@include details-and-summary(highlighted);

// overwrite styles in
.get-started{
  text-align: left;
  .button{
    padding: 0;
  }
}

#get-started .destination{
min-width: 20em;
font-size: 16px;
-webkit-font-smoothing: antialiased;
}

.footnotes *{
  font-size: 100%;
}

.meta-data {
padding-left: 3em;
}

hr{
  background: #ebebeb;
  height: 1px;
  border: 0 solid;
  margin: 1em 0;
}

article h3{
  margin-top: 0;
}