<header role="banner" id="global-header-1" class="global-header alpha not-govuk">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/" title="Go to the Service name homepage" id="logo">
            Service title
          </a>

          <a href="#" class="phase-tag">Alpha</a>
        </div>
      </div>

      <form id="search" class="site-search" action="/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search service title</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search" />
        </div>
      </form>
    </div>
  </div>
</header>
