@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* line 4 */
.print-link {
  text-align: left;
  padding-left: 1em; }
  /* line 8 */
  .print-link a, .print-link a:link, .print-link a:visited {
    background-image: url("icon-printer-s.png");
    padding-left: 0; }

/* line 15 */
.version-2 .print-link {
  border-top: 1px solid #bfc1c3;
  padding: 0.5em 0 0;
  margin: 0 1em; }
  /* line 20 */
  .version-2 .print-link a, .version-2 .print-link a:link, .version-2 .print-link a:visited {
    background-position: 0 50%;
    padding: 0.5em 0 0.5em 28px; }

/* line 28 */
.version-3 .print-link {
  padding-left: 2em; }
  /* line 31 */
  .version-3 .print-link a, .version-3 .print-link a:link, .version-3 .print-link a:visited {
    background-position: 0 50%;
    padding: 0.5em 0 0.5em 28px; }
