// ===================================================
// FORMS
//
// Native form controls vary in size across browser
// and OS. This can throw out alignments by a few px.
// The styles are currently optimised for Chrome OS X.

@import '_typography';
@import "_colours";

@mixin form($label-alignment: top, $label-width: 8em, $legend-colour: $charcoal-grey) {

  // FORM ELEMENT STYLES

  /* Text fields and textareas */
  input[type="text"], textarea {
      background-color: #f9f9f9;
      border: 2px inset; /* Remove this if we can get the border style removed from core.css */
      font-size: 1.9rem;
      line-height: 1.2;
      padding: 0.3em 0 0.1em 0.4em;

      /* placeholder text */
      &::-webkit-input-placeholder{
        color: #BBB ;
      }
  }
  /* Labels */
  label{
    color: $charcoal-grey;
  }
  /* Select boxes */
  select {
    padding: 0.3em 0 0.1em 0.4em;
    font-size: 17px;
    line-height: 1.2;
  }
  /* Checkboxes and radio buttons */
  .option.group {
    padding-bottom: 0.5em;
    label {
      width: auto;
      float: none;
      text-align: left;
      margin: 0.25em 0;
    }
    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
    }
  }

  /* Help text */  
  .help {
    clear: left;
    display: block;
    @include core-14;
    /* Adjust padding depending on whether it appears above or below the form control */
    &:last-child{ padding-top: 0.25em; }
    &:first-child{ padding-bottom: 0.25em; }
  }
  /* Mandatory '*' message */
  label abbr {
    border-bottom: none;
    color: $legend-colour;
  }

  /* Action buttons */
  .action.group {
    padding-top: 1.5em;
  }

  .inline.option label{
    float: left;
    margin-right: 1em;
  }

  /* Inline form controls */
  .inline .group {
    float: left;
    margin-top: 0;
  }

  /* Legends and fieldsets */
  legend {
    @include core-24;
    margin-bottom: 0.5em;
    color: $legend-colour;
  }
  fieldset {
    margin: 0;
    margin-top: 2em;
    /* Legends in nested fieldsets look like labels */
    fieldset {
      margin-top: 0;
      legend {
        @include core-19;
        color: $charcoal-grey;
      }
      /* Shift controls up */
      .inline .group,
      .inline.option label{
        margin-top: -0.75em;
        /* margin-top: -2.25em; this is what FF would need */
      }
    }
  }

  /* Validation summary */
  .validation-summary{
    color: $mellow-red;
    border-left: 3px solid $mellow-red;
    @include panel(lighten($mellow-red, 45%));
    h1{
      margin-bottom: 0;
    }
    a {
      color: $mellow-red;
      text-decoration: none;
      @include core-14;
      &:hover{
        text-decoration: underline;
      }
    }
    ul{
      padding-left: 2.1em;
    }
    ul,
    li{
      list-style-type: none;
      list-style-image: none;
    }
  }
  /* Inline validation messages */
  .validation{
    background-color: lighten($mellow-red, 45%);
    border-left: 3px solid $mellow-red;
    margin: 0 0 -0.5em -1em;
    padding: 0.75em 0 1em 1em;
    .validation-message{
      color: $mellow-red;
      @include core-14;
      display: block;
      padding-bottom: 0.5em;
    }
  }

  /* Default field widths */

  input[type="text"] {min-width: 2em;} /* overwrite core style */

  $full-width: 100%;
  $x-large: 20em;
  $large:   15em;
  $medium:  8em;
  $small:   5em;

  input.email       {width: $large;}
  input.name        {width: $large;}
  input.url         {width: $full-width;}
  input.full-name   {width: $x-large;}
  input.street      {width: $large;}
  input.town        {width: $large;}
  input.postcode    {width: $small;}
  textarea.big      {width: $x-large;
                    height: $medium;}
  textarea.full-size{width: $full-width; height: $large;}





  // LABEL POSITIONING

  /* Left or right aligned labels */
  @if ($label-alignment == left or $label-alignment == right) {
    label{
      display: block;
      float: left;
      text-align: #{$label-alignment};
      padding-top: 0.25em; /* vertically align labels with middle of text fields */
      width: $label-width;
      /* Maintain field alignment if label is hidden */
      &.visuallyhidden {
        + input,
        + select,
        + textarea {
          margin-left: $label-width + 0.5em; 
        }
      }
    }
    /* Maintain help text and button alignment with form fields with side-aligned labels */
    .help{ margin-left: $label-width + 3.3em; }
    .action.group { padding-left: $label-width; }

    input[type=text],
    select,
    textarea{
      float: left;
      margin-left: 0.5em;
    }
    select{
      margin-top: 0.5em; /* re-align with horizontal labels (because select boxes aren't as tall as text fields) */
    }

    fieldset{
      legend{
        display: block;
        padding-left: $label-width - 1.25em; /* Align legend with fields (needs offset) */    
      }
      /* Nested fieldsets */
      fieldset{
        margin-top: 2em;
        legend {
          padding-left: 0;
          line-height: 0;
          /* Left/right aligned nested fieldset legends need a span inside them */
          span{
            width: $label-width;
            text-align: #{$label-alignment};
            position: relative;
            float: left;
          }
        }
        /* Shift controls up */
          .inline {
            .group,
            &.inline.option label{
              margin-top: -1.5em;
            }        
            .group{
              margin-bottom: 0.5em;
            }
          }

      }
    }



    .option.group {
      label{
        padding-left: $label-width + 0.5em;
        padding-top: 0;
      }
      .validation-message{
        width: $label-width;
        display: block;
        float: left;
      }
    }

    /* Inline form controls */
    .inline{
      padding-left: $label-width + 1.5em;
      label{
        width: auto;
        float: none;
        margin-left: 0.5em;
        text-align: left;
        /* Reset left margins assigned above */
        &.visuallyhidden {
          + input,
          + select,
          + textarea {
            margin-left: 0.5em;
            margin-right: 0;
          }
        }
      }
      /* Inline option groups */
      &.option.group {
        padding-left: $label-width + 0.5em;
        padding-top: 0.25em;
        label{
          padding-left: 0;
        }
      }
    }


  /* Top-aligned labels */  
  } @else { 
    label{ display:block; }
    input{ margin-left: 0; }
    legend span {
      padding-bottom: 0.3em;
      display: block;
    }
    .inline{    
      input[type=text],
      select,
      textarea{
        margin-right: 0.5em;
      }
    }
  }
}