// =======================================================
//  DESIGN PATTERNS

//  If you've produced any reusable CSS during the
//  creation of a prototype, put it in the design-patterns
//  folder and import it here so everyone can use it.
//  
//  If any patterns are genuinely useful to every page we
//  can migrate them to the core CSS in the static
//  repository.

// =======================================================

@import "progress-indicator.scss";
@import "show-hide.scss";
@import "regular-grid.scss";

