/*
 * Based on this one: http://www.brunildo.org/test/img_center.html
 * Updated to use HTML5 elements and modern IE targeting
 */


@mixin thumbnail {
  a {
    text-align: center;
    vertical-align: top;
    color: #000;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: 1px solid #e8f0f0;
    &:hover{
      background-color: #d5e8f3;
    }
    .image-container {
      display: table-cell;
      height: 10em;
      vertical-align: middle;
      width: 10em;    
      img {
        vertical-align: middle;
        margin: 0.5em;
      }
    }
    figcaption {
      background: #e8f0f0;
      display: block;
      padding: .5em;
    }    
  }
}


/* =============================================
   Old versions of IE
   ============================================= */

/*
   No prefix = IE8 and below
   *  prefix = IE7 and below
   _  prefix = IE6 and below
*/

/* Need to update this to use GOV.UK X-browser mixins 

.lte-ie8 .contact-sheet {
  *display: inline;
  *zoom: 1;
  _height: 0;
}

.lte-ie8 .contact-sheet li {
  *display: inline;
  *width: 201px;
}

.lte-ie8 .contact-sheet li .image-container {
  *display: block;
  *height: auto;
  *width: auto;
  _font-size: 1px;
}

.lte-ie8 .contact-sheet .image-container span {
  *height: 199px;
  *vertical-align: middle;
  *zoom: 1;
  _display: inline-block;
  _width: 1px;
} */