    <footer class="group" id="footer" role="contentinfo">
      <div class="beta-notice">
        <p>This is a <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">test website</a>, so may be inaccurate or misleading. The official website remains <a href="http://www.direct.gov.uk">Directgov</a> and the website of the <a href="http://www.cabinetoffice.gov.uk/content/list-government-departments-and-ministers">relevant government department or organisation</a></p>
      </div>
      <div class="inner group">
        <div class="colophon-and-help">
          <nav class="help">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
          </nav>
          <div class="colophon">
            <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
            <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; Crown Copyright</p>
        </div>
      </div>
    </footer>