<header role="banner" id="global-header"{% if page.proposition_title %} class="with-proposition"{% endif %}>
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" alt=""> GOV.UK
        </a>
      </div>
      <a href="#search" class="search-toggle js-header-toggle">Search</a>
      {% if page.no_search != true %}
      <form id="search" class="site-search" action="http://www.gov.uk/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
      </form>
      {% endif %}

      {% if page.proposition_title %}
      <div class="header-proposition">
        <div class="content">
          <nav id="proposition-menu"><a href="#" id="proposition-name">{{ page.proposition_title }}</a>
          </nav>
        </div>
      </div>
      {% endif %}
    </div>   
  </div>
</header>
    <!--end header-->
