<!--[if gt IE 8]>
  <!--><link href="https://assets-origin.preview.alphagov.co.uk/static/govuk-template-f20a8a974eb4a586e8db79b97aa2cd58.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if IE 6]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/govuk-template-ie6-9595473533b752a7e8edb8302bcad978.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/govuk-template-ie7-967a9fe4f834b15b329cfa0128298a3f.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/govuk-template-ie8-55fde1378c87ace2140af7b7a2567b33.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->

<link href="https://assets-origin.preview.alphagov.co.uk/static/govuk-template-print-00f647a39e33414061140fa7eeda0017.css" media="print" rel="stylesheet" type="text/css" />

<!--[if IE 8]>
  <script type="text/javascript">
    (function(){if(window.opera){return;}
     setTimeout(function(){var a=document,g,b={families:(g=
     ["nta"]),urls:["https://assets-origin.preview.alphagov.co.uk/static/fonts-ie8-d5022281985fa3ae26724841d2c118e2.css"]},
     c="https://assets-origin.preview.alphagov.co.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
     e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
     ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
     .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
    })()
  </script>
<![endif]-->

<!--[if gte IE 9]>
  <!--><link href="https://assets-origin.preview.alphagov.co.uk/static/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

<!--[if lt IE 9]>
  <script src="https://assets-origin.preview.alphagov.co.uk/static/ie-fc5bd25c5f46587b9bff917417ab2b7f.js" type="text/javascript"></script>
<![endif]-->

<link rel="shortcut icon" href="https://assets-origin.preview.alphagov.co.uk/static/favicon-447e4ac1ab790342660eacfe3dcce264.ico" type="image/x-icon" />

<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://assets-origin.preview.alphagov.co.uk/static/apple-touch-icon-144x144-4e306e01c31e237722b82b7aa7130082.png">
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://assets-origin.preview.alphagov.co.uk/static/apple-touch-icon-114x114-f1d7ccdc7b86d923386b373a9ba5e3db.png">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://assets-origin.preview.alphagov.co.uk/static/apple-touch-icon-72x72-2ddbe540853e3ba0d30fbad2a95eab3c.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="https://assets-origin.preview.alphagov.co.uk/static/apple-touch-icon-57x57-37527434942ed8407b091aae5feff3f3.png">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://assets-origin.preview.alphagov.co.uk/static/opengraph-image-4e469785ca4cc8f8dd18d0627bc43d19.png">

<!--[if gt IE 8]>
  <!--><link href="https://assets-origin.preview.alphagov.co.uk/static/application-8f1cf8a4e8a076a9881320d5eaae121a.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]-->
<!--[if IE 6]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/application-ie6-587eeebfd5e369989b3192b7a1ac1e4b.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/application-ie7-4077e0726bd86375c5757a54ee65c6d4.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8]>
  <link href="https://assets-origin.preview.alphagov.co.uk/static/application-ie8-0a1025bd92229226751dcfe8490772eb.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

<link href="https://assets-origin.preview.alphagov.co.uk/static/print-962d6ad53c9d2dc9f033d26dcab8c33a.css" media="print" rel="stylesheet" type="text/css" />

