    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    {% if page.assets == 'local' %}
        {% comment %} References local assets, for working temporarily offline {% endcomment %}
        {% include _head.local.html %}
    {% else %}
        {% comment %} References individual assets on static.preview, for easy debugging {% endcomment %}
        {% include _head.unmerged-preview.html %}
    {% endif %}

    {% if page.css  %}
    <link rel="stylesheet" href="{{ page.css }}" />
    {% endif %}

    {% if page.js  %}
    <script defer src="{{ page.js }}" type="text/javascript"></script>
    {% endif %}

    <meta name="viewport" content="width=device-width,initial-scale=1">