<header role="banner" id="global-header" class="">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" alt=""> GOV.UK
        </a>
      </div>
      <a href="#search" class="search-toggle js-header-toggle">Search</a>
    </div>     
  </div>
</header>
    <!--end header-->
