<!-- report_a_problem -->
<p class="report-a-problem-toggle"><a href="">Is something wrong with this page?</a></p>
<div class="report-a-problem-container">
  <p>Help us improve GOV.UK by telling us:</p>
  <form accept-charset="UTF-8" action="/feedback" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="/"><label for="what_doing">
      What you were doing
      <input id="what_doing" name="what_doing" type="text"></label>
    <label for="what_wrong">
      What went wrong
      <input id="what_wrong" name="what_wrong" type="text"></label>
    
    <div><input name="commit" type="submit" value="Send" class="button"></div>

    <p>If you have more extensive feedback, please visit the <a href="index.html">support page</a>.</p>
  </form>
</div>
<!-- end report_a_problem -->