<div class="js-toggle-nav" id="global-nav">
  <div class="inner">
    <span class="home"><a href="/government">Inside Government</a></span>
    <span class="jump-link"><a href="#navigation" class="toggler">menu</a></span>
    <nav role="navigation" class="content">
      <ul id="navigation">
        <li><a href="/government/how-government-works" class="">How government works</a></li>
        <li><a href="/government/organisations" class="">Departments</a></li>
        <li><a href="/government/topics" class="">Topics</a></li>
        <li><a href="/government/policies" class="">Policies</a></li>
        <li>
          <span class="toggler ">Documents</span>
          <ul class="subtype content js-hidden">
            <li><a href="/government/publications" class="">Publications</a></li>
            <li><a href="/government/announcements" class="">Announcements</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>