<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" alt=""> GOV.UK
        </a>
      </div>

      <a href="#search" class="search-toggle js-header-toggle">Search</a>

      <form id="search" class="site-search" action="{% if page.search_action %}{{ page.search_action }}{% else %}http://www.gov.uk/search{% endif %}" method="get" role="search">
        <div class="content">
          <label for="site-search-text">{% if page.search_placeholder %}{{ page.search_placeholder }}{% else %}Search{% endif %}</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
        <input type="hidden" name="tab" value="government-results">
      </form>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <ul id="proposition-links">
            <li><a href="https://www.gov.uk/government/organisations" class="{% unless page.current_nav %}active{% endunless %}{% if page.current_nav == 'departments' %}active{% endif %}">Departments</a></li>
            <li><a href="https://www.gov.uk/government/topics" class="{% if page.current_nav == 'topics' %}active{% endif %}">Topics</a></li>
            <li><a href="https://www.gov.uk/government/world" class="{% if page.current_nav == 'worldwide' %}active{% endif %}">Worldwide</a></li>
            <li><a href="https://www.gov.uk/government/how-government-works" class="{% if page.current_nav == 'how-gov-works' %}active{% endif %}">How government works</a></li>
            <li><a href="https://www.gov.uk/government/get-involved" class="{% if page.current_nav == 'get-involved' %}active{% endif %}">Get involved</a></li>
            <li class="clear-child"><a href="https://www.gov.uk/government/policies" class="{% if page.current_nav == 'policies' %}active{% endif %}">Policies</a></li>
            <li><a href="https://www.gov.uk/government/publications" class="{% if page.current_nav == 'publications' %}active{% endif %}">Publications</a></li>
            <li><a href="https://www.gov.uk/government/publications?publication_filter_option=consultations" class="{% if page.current_nav == 'consultations' %}active{% endif %}">Consultations</a></li>
            <li><a href="https://www.gov.uk/government/publications?publication_filter_option=statistics" class="{% if page.current_nav == 'statistics' %}active{% endif %}">Statistics</a></li>
            <li><a href="https://www.gov.uk/government/announcements" class="{% if page.current_nav == 'annoucments' %}active{% endif %}">Announcements</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header><!--end header-->
