<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-c09acb07e4d1d5d558f5a0bc53e9e36d.png" alt=""> GOV.UK
        </a>
      </div>

      <a href="#search" class="search-toggle js-header-toggle">Search</a>

      <form id="search" class="site-search" action="/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
        </div>
        <input type="hidden" name="tab" value="government-results">
      </form>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <ul id="proposition-links">
            <li><a href="/government/organisations" class="active">Departments</a></li>
            <li><a href="/government/topics" class="">Topics</a></li>
            <li><a href="/government/world" class="">Worldwide</a></li>
            <li><a href="/government/how-government-works" class="">How government works</a></li>
            <li><a href="/government/get-involved" class="">Get involved</a></li>
            <li class="clear-child"><a href="/government/policies" class="">Policies</a></li>
            <li><a href="/government/publications" class="">Publications</a></li>
            <li><a href="/government/publications?publication_filter_option=consultations" class="">Consultations</a></li>
            <li><a href="/government/publications?publication_filter_option=statistics" class="">Statistics</a></li>
            <li><a href="/government/announcements" class="">Announcements</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header><!--end header-->
