/* Homepage Header
============================================================================ */

section#landing header {
  /* margin-left: 33.3333333%; */
  /* padding-top: 8em; */
}

section#landing header h1 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 300;
}

section#landing header h1.strap {
  margin-left: -3px;
  font-size: 2.5em;
  line-height: 1.0416666667;
  margin-bottom: .625em;
}

/* Homepage Search box
============================================================================ */

section#landing .homepage-search {
  margin: 3.125em 0 0 33.3333333%;
  position: relative;
}

section#landing .homepage-search .search-suggestions {
  font-size: 1.1875em;
  line-height: 1.25em;
  font-weight: 300;

  margin-bottom: .833333333em;
}

section#landing .homepage-search .search-suggestions span {
  float: left;
  margin-right: 5px;
}

section#landing .homepage-search .search-suggestions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 1.25em;
  display: block;
  float: left;
  overflow: hidden;
}

section#landing .homepage-search .search-suggestions ul li a {
  color: #d53880;
  font-weight: 500;
  text-decoration: none;
}

section#landing .homepage-search .search-suggestions:before {
  /* search arrow as generated content */
  content: " ";
  display: block;
  width: 124px; height: 133px;

  position: absolute;
  top: -16px; left: -130px;
  z-index: 99;

  background: transparent url(https://d17tffe05zdvwj.cloudfront.net/static/homepage-search-arrow-a76f5ebfc983b88b969957fc8070378a.png) no-repeat 0 50%;
}

section#landing .homepage-search #main_autocomplete {
  margin: 0 .416666667em 0 0;
  max-width: 19.33em;
  width: 77%;
  font-size: 1.5em; line-height: 1.25em;
  position: relative;
  z-index: 0;
}

.lte-ie8 section#landing .homepage-search #main_autocomplete {
  _width: 19.33em;
}

section#landing .homepage-search .button.search {
  background-image: url(https://d17tffe05zdvwj.cloudfront.net/static/icon-search-ee081dd37e37edf1b3374cd900a3cb74.png);
  background-repeat: no-repeat;
  
  font-size: 1.42em;
}

section#landing .homepage-search .button.search:hover {
  /* overwriting erreneous styles from search.css */
  border: none;
}

/* Sections
============================================================================ */

section#landing .homepage-sections {
  margin-top: 5.3125em;
  padding-bottom: 5em;
}

section#landing .homepage-sections h2 {
  font-size: 2.25em;
  font-weight: 300;

  margin: 0;
  width: 33.3333333%;
  float: left;
}

section#landing .homepage-sections h2 a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #2e3191;
}

section#landing .homepage-sections h2 a:hover {
  color: #2e8aca;
  border-color: #2e8aca;
}

section#landing .sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#landing .sections-list li {
  display: block;

  border-top: 1px solid #c1cacb;
  padding: 1.25em 0;
}

section#landing .sections-links {
  font-size: 1.1875em;
  line-height: 1.315789474;
  margin-right: 1.5em;
}




















/* Campaign Landing Page styles
============================================================================ */

section#content {
	background-color: #fff;
	padding-bottom: 3em;
}

section#landing {
  position: relative;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 2.5em;
  background-color: #fff;
}

.lte-ie8 section#landing {
  _width: 960px;
}


#landing h1,
#landing h2 {
	color:#000;	
}

#landing h1 {
	padding-top: 0.65em;
	padding-bottom: 0.4em;
	padding-left: 0.8em;
	margin-left: -3px;
    font-size: 2.75em;
    line-height: 1.1;
    font-weight: 300;
    max-width: 500px;
}

.campaign-image {
	position: relative;
	float: left;
	width: 100%;
	height: 360px;
	background: url('https://dl.dropbox.com/u/1312500/gov.uk/dwp_campaign.jpg') no-repeat;
	vertical-align: bottom;
}

.heading {
	float: left;
}

.campaign-logo {
	padding-top: 2em;
	padding-right: 2em;
	float: right;
}

.logo {
	display:block;
	width: 93px;
	height:79px;
	background: url('https://dl.dropbox.com/u/1312500/gov.uk/dwp_logo.png') no-repeat;
}

h2.jump-off {
	margin-top: 2.5em;
}

.campaign-links {
	padding:0;
	margin: 0;
	position:absolute;
	right:2em;
	bottom:2em;
	min-width: 240px;
	background-color: #fff;
}

.campaign-links nav {
	margin: 0;
	padding: 0;
}

.campaign-links h2 {
	padding: 0;
	margin:0;
	padding-bottom: 0.5em;	
}

.campaign {
	display: block;
	float:left;
	margin-left: 2em;
	margin-right: 2em;
	padding-right: 20em;
	padding-top: 1.75em;
	padding-bottom: 1em;
	border-bottom: solid 1px #d5d5d5;
}

.take-me-elsewhere {
	display: block;
	float:left;
	width:97%;
	margin-left: 2em;
	display: block;
}

ul.links, 
ul.more {
	list-style: none;
	margin:0; padding:0;
}

ul.links li {
	margin:0 padding:0;
}

.link-group {
	display: block;
	width:50%;
	position: relative;
	float: left;
}

section#landing p {
	max-width: 662px;
	font-size: 1.16em;
}

h3 {
	margin-top:1.5em;
	margin-bottom:0.5em;
}
