header.page-header hgroup h1 {
	background-repeat: no-repeat;
	color: #000;
	font-family: 'Gill Sans','Gill Sans W01 Medium', sans-serif;
	font-size: 2.75em;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 1.05em;
	padding: 0.1em 1.5em 0 1.65em;
}

header.page-header hgroup {
	border-color: #D33883;
}

header.page-header h1 {
	background-image: url(https://d17tffe05zdvwj.cloudfront.net/static/icon-answer-l-13f440085d437f019a08573b382c20ad.png);
	background-position: 12px 4px;
}

header.page-header hgroup h1 span {
    color: #D33883;
}

#global-header h1 {
    font-family: 'Gill Sans','Gill Sans W01 Medium', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 0.05em;
    line-height: 1.15em;
    text-transform: uppercase;
}
a.button {
  padding: 0.25em 0.5em;
}

.search-container,
.business-sector-results,
.business-activity-results {
  /*border-right: solid 1px #EEE;*/
  float: left;
  margin-right: 5%;
  width: 50%;
}

.search-picker li {
  list-style-type: disc;
  /*padding-left: 1.5em;*/
}

.search-picker li input {
  /*margin-left: -1.5em;*/
  /*width: 1.25em;*/
}

.business-sector-picked,
.business-activity-picked {
  background-color: #96c6e2;
  float: left;
  /*margin-left: 5%;*/
  padding: 1em 5%;
  width: 35%;
}

.business-sector-picked ul li,
.business-activity-picked ul li {
  list-style-type: disc;
}

li.done .answer {
  display: inline;
}

li.done .answer ul {
  display: inline;
  padding: 0;
}

li.done .answer ul li {
  background-color: none;
  /*display: inline-block;*/
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  /*width: 60%;*/
}

li.done h3 {
  display: block;
  margin-bottom: 0.5em;
}

.intro ul li {
	margin-left: 32px;
}
.question-in-group {
	font-weight:bold;
	font-size: 16px;
	line-height: 17px;
}






















/* FROM APPLICATION.CSS */

/* buttons! */

.button,
.button:visited {
  background-color: #444;
  background-image: url(https://d17tffe05zdvwj.cloudfront.net/static/button-overlay-e41aa29f6f02a347c2a33e6f2cbac961.png);
  _background-image:none;
  background-position: 0 100%;
  background-repeat: repeat-x;
  border: solid 1px #000;
  /*-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
  
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75), inset 0 1px 1px white;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75), inset 0 1px 1px white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15), inset 0 1px 1px #666;

/*
-webkit-box-shadow: 5px 5px 0 1px black;
-moz-box-shadow: 5px 5px 0 1px black;
box-shadow: 5px 5px 0 1px black;
*/
  
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  font-family: "Gill Sans";
  font-weight: 300;
 
}
.button:hover {
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
}
.button:active {
  background-color: #666;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
}

.get-started {
  margin: 0;
  text-align: center;
  text-align: right;
}

.get-started .button {
  font-family: 'Gill Sans W01 Medium', 'Gill Sans', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  font-weight: 100;
  margin: 0.75em 0 0 0;
  max-width: 60%;
  position: relative;
   text-transform:none;
}
.lte-ie8 .get-started .button {
  _width: 60%;
}


.get-started .button.big {
  background-image: url('https://d17tffe05zdvwj.cloudfront.net/static/button-arrow-d7e46fca5a640cbc65ed7dc18bf5db88.png');
  background-image: none;
  padding: 0.5em 2em 0.5em 0.5em;
  /*background-position: 95% 50%;
  background-repeat: no-repeat;
  padding: 0.65em 2em 0.65em 0.5em;*/
}

.get-started .button .button-content {
  display: inline-block;
  vertical-align: middle;
}

.get-started .button .destination {
  display: block;
  /* font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; */

  margin: 0.25em 0 0 0;
  opacity: 0.75;
}
/* / FROM APPLICATION.CSS */






















/* FROM LICENCE-FINDER.CSS */

.start {
	display: inline-block;
}

.start a {
	font-size: 1.5em;
	margin: 0.5em 0 0 0;
}

.get-started {
/*  margin-top: 1.5em;*/
}

/*
  questions
*/

.hint {
  color: #666;
  display: block;
}

.done-questions {
  position: relative;
}

.start-again {
  background: #fff;
  position: absolute;
  right: 0;
  top: -2.5em;
  height: 2.5em;
  width: 11em;
}

.start-again a {
  display: block;
  line-height: 2.5em;
  text-align: center;
	text-decoration: none;
}

.start-again a:hover {
	text-decoration: underline;
}

.done-questions ol {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.done-questions ol > li {
  list-style: none;
  position: relative;
  padding: 0.5em 1.5em 0.5em 5em;
}

.done-questions ol > li.done {
  background: #CCE0D5;
  border-bottom: solid 1px #A1D1AE;
  overflow: hidden;
}

.done-questions ol > li.done:last-child {
  border-bottom: none;
}

.done-questions .question-number {
  font-weight: normal;
}

li.done h3 {
  display: inline;
  font-size: 1em;
  margin: 0.5em 0.5em 0 0;
}
.lte-ie8 li.done h3 {
  line-height: 1.5em;
  position: relative;
}

li.done .answer {
  background-color: #4f6f5e;
  color: #fff;
  display: inline;
  padding: 0.1em 0.3em;
  margin-right: 0.5em;
}

li.done .undo {
  display: inline;
  float: right;
  font-size: 0.85em;
  margin: -2em 0 0 0.5em;
}
.lte-ie8 li.done .undo {
  margin: 0;
  *position: absolute;
  *bottom: 0.75em;
  *right: 1em;
}

li.done .undo a {
  color: #333;
  display: block;
  text-decoration: none;
}
.lte-ie8 li.done .undo a {
  *color: #333;
}

li.done:hover .undo a {
  color: inherit;
  text-decoration: underline;
}

.step.current {
	background-color: #fff;
	margin-right: 15em;
	padding: 0 2em 1em 5em;
	position: relative;
}

.current-question {
  border-top: solid 1px #C9D0D0;
	margin-top: -1px;
	padding: 1.5em 0 1.25em 0;
}

.current-question h2 {
  border: none;
  margin-bottom: 0.5em;
  margin-left:-0.4em;
  position: relative;
}
.lte-ie8 .current-question h2 {
  line-height: 1.2em;
}

.question-number {
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
}
.lte-ie8 .question-number {
  display: block;
  position: absolute;
}

.done .question-number {
  margin-left: -1.7em;
}

.current-question ul {
  list-style: none;
  padding: 0;
}

.current-question ul li {
  line-height: 1.5em;
  margin: 0.5em 0;
}

.question-body + p input.button {
  margin-top: 0.5em;
}


.current-question label {
  margin-left: 0.25em;
}

.current-question select {
  margin-right: 0.25em;
}

.next-question {
  margin: 1.5em 0 0.5em 0;
}

/*
	results
*/

.results .inner {
  padding-top: 2em;
}

.results {
	background-color: #fff;
  float: none;
	margin-right: 0;
	min-height: 0;
}

.result-info {
/*  float: left;*/
/*  margin: 0 0 2.5em 0;*/
/*  width: 60%;*/
}

.next-steps {
  right: -15em;
  top: 2em;
}

.next-steps .inner {
  padding-top: 0;
  padding-bottom: 1em;
}

/*.next-steps .inner h2 {
  background: none;
  height: auto;
  margin: 0 0 0.5em 0;
  padding: 0;
  top: auto;
}*/

.next-steps .inner ul {
  padding: 0 0 0 1.5em;
}

#wrapper .related.next-steps .inner p,
#wrapper .related.next-steps .inner li {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.next-steps .inner li {
  list-style-type: disc;
  margin: 0.5em 0;
/*  padding-left: 0;*/
}

#wrapper .next-steps.related .inner li a {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 100%;
}

/*.next-steps h3 {
  font-style: normal;
  margin-bottom: 0.75em;
  margin-top: 0.25em;
}*/

.meta-data {
  background: #fff;
  float: none;
  font-size: 1em;
  margin-right: 15em;
  padding: 0 5em 0 0;
  width: auto;
}

.meta-data .modified-date {
  font-size: 0.85em;
}

/*
  errors messages
*/

.error {
  border:1px solid #B01117;
  background-color:#FFF3CF;
  color:#B01117;
  margin: 0 0 -0.5em -0.5em;
  padding: 0.5em;
}
.error ul {
  margin-bottom: 0;
}
.error-message {
  margin-top: 0;
  color:#B01117;
}

/*
  calculators
*/

.calculator article {
  min-height: 0;
}

@media only screen and (max-width:670px) {
  .step.current,
  .meta-data{
    margin:0;
  }
}
/*


 */


li.done .answer {
  background-color: transparent;
  display: inline-block;
  width: 60%;
}

li.done .answer ul {
  display: inline;
  padding: 0;
}

li.done .answer ul li {
  /*background-color: #4F6F5E;*/
  /*display: inline-block;*/
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  /*width: 60%;*/
  color: #305642;
  margin-left: -6px;
  list-style-type: circle;
  list-style-image: url(https://djb1962t8apu5.cloudfront.net/static/bullet-disc-5px-ba51fe28267600cde9bfb058f0a4e6b6.gif);
}

li.done .answer ul li:first-child {
	
	margin-top: 0.8rem;
}

li.done .answer ul li:last-child {
	margin-bottom: 10px;
}

li.done h3 {
  display: block;
  margin-bottom: 0.5em;
}


.upcoming-questions ol {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.upcoming-questions ol > li {
  list-style: none;
  position: relative;
  padding: 0.5em 1.5em 0.5em 5em;
}

.upcoming-questions ol > li.upcoming {
  background: #f0e7d7;
  border-bottom: solid 1px #dac39c;
  overflow: hidden;
}

.upcoming-questions ol > li.upcoming:last-child {
  border-bottom: none;
}

.upcoming-questions .question-number {
  font-weight: normal;
}
li.upcoming h3 {
  display: inline;
  font-size: 1em;
  margin: 0 0.5em 0 0;
}

.business-sector-results, .business-activity-results, .search-container {
    float: left;
    margin-right: 5%;
    width: 50%;
}

.business-sector-picked, .business-activity-picked {
    background-color: #96c6e2;
    background-color: #CCE0D5;
    float: left;
    padding: 0.4em 5%;
    padding-bottom: 1.3em;
    width: 35%;
    margin-top:0.3em;
}
.business-activity-picked h3, .business-sector-picked h3 {
	font-size:1em;
}

.business-sector-picked ul li, .business-activity-picked ul li {
    /*list-style-type: disc;*/
    color: #305642;
    list-style-type: circle;
  list-style-image: url(https://djb1962t8apu5.cloudfront.net/static/bullet-disc-5px-ba51fe28267600cde9bfb058f0a4e6b6.gif);
}

.search-picker li {
    padding: 0 0.25em;
    margin-left: -8px;
    list-style-type: circle;
    list-style-image: url(https://djb1962t8apu5.cloudfront.net/static/bullet-disc-5px-ba51fe28267600cde9bfb058f0a4e6b6.gif);
}

.search-container .button {
    margin-left: 5px;
}

.search-picker li:first-child {
	margin-top: 2.3em;
}

.intro ul {
	margin-left:0em;
	padding-left:0.9em;
}

.and-breathe {
	margin-top: 2.4em;
}
/*
h2 {
	margin-left: 7em;
}
*/


/* /FROM LICENCE-FINDER.CSS */









/* GUY BUTTONS */

.btn,.btn:visited {		
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0 4px 0 #ccc,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #ccc, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #ccc, 0 8px 10px rgba(0,0,0,.05);
}
.btn span {	
	display: inline-block;
	padding: 10px  20px;
	padding-right:2.7em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 200;
	letter-spacing: 0.03em;
	line-height: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
.button:active {	
	-webkit-box-shadow: 0 4px 0 #000,0 12px 10px rgba(0,0,0,.0);
	-moz-box-shadow: 0 4px 0 #000,0 12px 10px rgba(0,0,0,.0);
	box-shadow: 0 4px 0 #000,0 12px 10px rgba(0,0,0,.0);
}
*/

.btn:active span {	
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	-o-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.small:active span {	
	-webkit-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	-o-transform: translate(0, 2px);
	transform: translate(0, 2px);
}




/* BUTTON COLOURS */

/*
.blue {
	-webkit-box-shadow:0 4px 0 #196E7C,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #196E7C, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #196E7C, 0 8px 10px rgba(0,0,0,.05);
}
.blue span {
	background: #3194c6;
	color: #fff;
}

.green {
	-webkit-box-shadow:0 4px 0 #004921,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #004921, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #004921, 0 8px 10px rgba(0,0,0,.05);
}

.green span {
	background: #006435;
	color: #fff;
}
*/

.black {
	-webkit-box-shadow:0 4px 0 #000,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #000, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #000, 0 8px 10px rgba(0,0,0,.05);
}

.black.small {
	-webkit-box-shadow:0 2px 0 #000,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 2px 0 #000, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 2px 0 #000, 0 8px 10px rgba(0,0,0,.05);
}

.black span {
	background: #444;
	color: #fff;
}


.grey {
	-webkit-box-shadow:0 4px 0 #999,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #999, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #999, 0 8px 10px rgba(0,0,0,.05);
}

.grey.small {
	-webkit-box-shadow:0 2px 0 #999,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 2px 0 #999, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 2px 0 #999, 0 8px 10px rgba(0,0,0,.05);
}

.grey span {
	background: #d5d5d5;
	color: #333;
}


.turquoise {
	-webkit-box-shadow:0 4px 0 #1C7F73,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #1C7F73, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #1C7F73, 0 8px 10px rgba(0,0,0,.05);
}

.turquoise.small {
	-webkit-box-shadow:0 2px 0 #1C7F73,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 2px 0 #1C7F73, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 2px 0 #1C7F73, 0 8px 10px rgba(0,0,0,.05);
}

.turquoise span {
	background: #28a197;
	color:#fff;
}

.red {
	-webkit-box-shadow:0 4px 0 #b10e1e,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 4px 0 #b10e1e, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 4px 0 #b10e1e, 0 8px 10px rgba(0,0,0,.05);
}

.red.small {
	-webkit-box-shadow:0 2px 0 #b10e1e,0 8px 10px rgba(0,0,0,.05);
	-moz-box-shadow:0 2px 0 #b10e1e, 0 8px 10px rgba(0,0,0,.05);
	box-shadow: 0 2px 0 #b10e1e, 0 8px 10px rgba(0,0,0,.05);
}

.red span {
	background: #df3034;
	color:#fff;
}

/* BUTTON SIZES/INVERSION */

.invert span {
	background-image: none;
	background-image: url(pointer_invert.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.large span {
	padding: 0.8rem 1.2rem;
	padding-right:2.7em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
	font-weight: 200;
	letter-spacing: 0.03em;
	background-image: none;
	background-image: url(pointer.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.medium span {
	padding: 0.5rem 0.9rem;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 200;
	letter-spacing: 0.03em;
	background-image: none;
}

.small span {
	padding: 0.35rem 0.7rem;
	padding-top:0.4rem;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 200;
	letter-spacing: 0.03em;
	background-image: none;
}

/* /GUY BUTTONS */
