header.page-header hgroup {
  border-color: #617900;
}

header.page-header h1 {
  background-image: url(images/licence-icon.png);
}

header.page-header h1 span {
  color: #10370d;
}

.licence-info {

}

.relevant-authority {
  border-bottom: 1px solid #C9D0D0;
  margin: 0.5em 0 0.5em 0;
  overflow: hidden;
  /*padding: 0.5em 1em;*/
  padding-bottom: 0.5em;
}

.relevant-authority p {
  font-size: 0.85em;
}

.relevant-authority > p {
  margin-top: 0;
}

.relevant-authority img {
  width: 75%;
}

aside {
  float: left;
  width: 14%;
}

aside nav {
  float: right;
  width: 95%;
}

aside nav ol {
  list-style: none;
  padding: 0;
}

aside nav ol li a {
  background-color: #E1E8E8;
  border-top: solid 1px #C9D0D0;
  display: block;
  padding: 0.75em;
  text-decoration: none;
}
aside nav ol li a:hover {
  background-color: #97C5E5;
  color: #2E3191;
}

aside nav ol li:first-child a {
  border-top: none;
}

aside nav ol li.active a {
  background-color: white;
  border: solid 1px #C9D0D0;
  border-right: none;
  display: block;
  margin: 0 0 -1px -1px;
  position: relative;
  z-index: 2;
}

article.licence {
  border-left: solid 1px #C9D0D0;
  margin-left: -1px;
  min-height: 40em;
  width: 86%;
}

article.licence .inner {
  padding: 0.5em 2.5em 1em 2.5em;
}

article.licence .inner > h1 {
  margin-top: 0;
}