header.page-header hgroup {
  border-color: #617900;
}

header.page-header h1 {
  background-image: url(images/licence-icon.png);
}

header.page-header h1 span {
  color: #10370d;
}

.relevant-authority {
  margin-left: 5.125em;
  margin-bottom: 2em;
}

.relevant-authority p {
  font-size: 112.5%;
  margin: 0;
}

.set-location p {
  font-size: 0.85em;
}

.set-location > p {
  margin-top: 0;
}

.set-location img {
  width: 75%;
}

.relevant-authority-contact {
  font-size: 0.85em;
  margin-top: 2em;
}

aside {
  float: left;
  width: 14%;
}

aside nav {
  float: right;
  width: 95%;
}

aside nav ol {
  list-style: none;
  padding: 0;
}

aside nav ol li a {
  background-color: #E1E8E8;
  border-top: solid 1px #C9D0D0;
  display: block;
  padding: 0.75em;
  text-decoration: none;
}
aside nav ol li a:hover {
  background-color: #97C5E5;
  color: #2E3191;
}

aside nav ol li:first-child a {
  border-top: none;
}

aside nav ol li.active a {
  background-color: white;
  border: solid 1px #C9D0D0;
  border-right: none;
  display: block;
  margin: 0 0 -1px -1px;
  position: relative;
  z-index: 2;
}

article.licence {
  border-left: solid 1px #C9D0D0;
  margin-left: -1px;
  min-height: 40em;
  width: 86%;
}

article.licence .inner {
  padding: 0 2.5em 1em 2.5em;
}

article.licence .inner > h1 {
  margin-top: 0;
}

article.override-bad-styles li p {
  font-size: inherit;
  margin: inherit;
}

article.override-bad-styles li ul,
article.override-bad-styles li ol {
  list-style-position: inherit;
  padding-left: 1em;
}

div.application-notes {
  margin-bottom: 2em;
}

article.application-for-licence {
  background: transparent;
  border-top: solid 1px #cccccc;
  float: none;
  margin-bottom: 3em;
  min-height: none;
  padding-top: 1em;
  width: auto;
}

article.application-for-licence > h2 {
  margin-top: 0;
}