a.button {
  padding: 0.25em 0.5em;
}

.search-container,
.business-sector-results {
  /*border-right: solid 1px #EEE;*/
  float: left;
  margin-right: 5%;
  width: 50%;
}

.search-picker li {
  list-style-type: disc;
  /*padding-left: 1.5em;*/
}

.search-picker li input {
  /*margin-left: -1.5em;*/
  /*width: 1.25em;*/
}

.business-sector-picked {
  background-color: #96c6e2;
  float: left;
  /*margin-left: 5%;*/
  padding: 1em 5%;
  width: 35%;
}

.business-sector-picked ul li {
  list-style-type: disc;
}