.nav-and-controls {
  /*background-color: #fff;*/
  margin-right: 24rem;
  /*padding-bottom: 2em;*/
  /* margin-bottom: 1em; */
  /*padding: 0 0 1em 0;*/
  position: relative;
  border-left: solid 1px #cce0d6;
  border-right: solid 1px #cce0d6;
  color: #333;
}

.start-again {
  background: white;
  position: absolute;
  top: 0;
  right: -15em;
  width: 13em;
  height: auto;

}

h1 span {font-family: NTA, 'Gill Sans W01 Medium', sans-serif;}

.start-again a {
  text-align: left;
  display: block;
  line-height: 1.5em;
}

.start-again li {
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  line-height: 1.5em;
}
.start-again ul {
  list-style: none;
  padding: 0.2em 1em;
  margin: 0;
  font-size: 0.85em;
}

input#commodity_search_q {
  width: 8em;
}

.date {
  background: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13em;
}

/* hierarchy navigation */

.hierarchy {
  /*background-color: #ddd;*/
  font-size: 0.85em;
  line-height: 1.5;
  padding: 0.5em 0.5em 0 0;

}

.hierarchy ol {
  margin: 0;
  padding: 0;
}

.hierarchy li {
  /*border-top: solid 1px #C9D0D0;*/
  list-style: none;
  margin: 0 0 0 2em;
}

.hierarchy > ol > li {
  margin-left: 0;
}

.hierarchy li h1 {
  /* border-left: solid 1px #6f7b5b; */
  font-weight: normal;
  font-size: 1em;
}

.hierarchy ol li a {
  /*color: #444;*/
  /*text-decoration: underline;*/
}

.hierarchy ol li a:hover {
  /*color: #1D97FF;*/
  /*text-decoration: underline;*/
}

.identifier {
  background: #cce0d6;
  border-top: solid 1px #7fb299;
  border-right: solid 1px #7fb299;
  display: inline-block;
  margin-left: -2em;
  padding-left: 0.25em;
  width: 1.5em;
  vertical-align: top;
}

.identifier_wide {
  background: #cce0d6;
  border-top: solid 1px #7fb299;
  border-right: solid 1px #7fb299;
  display: inline-block;
  margin-left: -1.5em;
  padding-left: 0.25em;
  width: 4.5em;
  vertical-align: top;
}

.chapter_identifier {
  background: #cce0d6;
  border-top: solid 1px #7fb299;
  border-right: solid 1px #7fb299;
  display: inline-block;
  margin-left: -2em;
  padding-left: 0.25em;
  width: 1.5em;
  vertical-align: top;
}

.heading_identifier {
  background: #cce0d6;
  border-top: solid 1px #7fb299;
  border-right: solid 1px #7fb299;
  display: inline-block;
  margin-left: -2.813em;
  padding-left: 0.25em;
  width: 2.563em;
  vertical-align: top;
}

.description {
  display: inline-block;
  padding-left: 0.5em;
  vertical-align: top;
}

.heading_description {
  display: inline-block;
  padding-left: 1.5em;
  vertical-align: top;
  margin_right: 0;
}

header.page-header hgroup {
  border-color: #7fb299;
  padding: 0.75em 1em 0.75em 0.85em;
}

header.page-header hgroup h1 {
  /*background-image: url(images/licence-icon.png);*/
  padding: 0.1em 1.5em 0 0;
}

header.page-header h1 span {
  color: #10370d;
}

.relevant-authority {
  border-bottom: 1px solid #93A1A1;
  margin: 0.5em 0 1em 0;
  overflow: hidden;
  /*padding: 0.5em 1em;*/
  padding-bottom: 1em;
}

.relevant-authority > p {
  margin-top: 0;
}

nav.tabs ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: -1px;
  margin-left: 1.5em;
  padding: 0;
}

nav.tabs ol li a {
  background-color: #E1E8E8;
  border: solid 1px #cce0d6;
  border-bottom: none;
  display: block;
  float: left;
  margin-right: -1px;
  padding: 0.25em 0.75em;
  text-decoration: none;
}
nav.tabs ol li a:hover {
  background-color: #97C5E5;
  color: #2E3191;
}

nav.tabs ol li.active a {
  background-color: white;
  /*border: solid 1px #C9D0D0;*/
  /*border-right: none;*/
  border-bottom: solid 1px #fff;
  display: block;
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
}

.tariff-container {
  /*background: #fff;*/
  margin-right: 15em;
  position: relative;
  /*padding-top: 1em;*/
  border-left: solid 1px #cce0d6;
  border-right: solid 1px #cce0d6;
}

nav.tabs {
  border-left: solid 1px #C9D0D0;
  border-right: solid 1px #C9D0D0;
}

article.tariff {
  border-top: solid 1px #C9D0D0;
  min-height: 40em;
  width: auto;
}

article.tariff .inner {
  padding: 1em 2.5em 1em 2.5em;
    border-left: none;
  border-right: none;
}

article.tariff .inner > h1 {
  margin-top: 0.5em;
}

aside {
  position: absolute;
  top: 2em;
  right: -15em;
  width: 13em;
}

aside .info-notice {
  background: #fff;
  border: solid 1px #C9D0D0;
  color: #666;
  margin-top: 0;
  padding: 0.5em 1em;
}

aside article {
  background: transparent;
}


.business-sector-picked,
.business-activity-picked {
  background-color: #96c6e2;
  float: left;
  /*margin-left: 5%;*/
  padding: 1em 5%;
  width: 35%;
}

.business-sector-picked ul li,
.business-activity-picked ul li {
  list-style-type: disc;
}

li.done .answer {
  background-color: transparent;
  display: inline-block;
  width: 73%;
}

li.done .answer ul {
  display: inline;
  padding: 0;
}

li.done .answer ul li {
  background-color: #4F6F5E;
  /*display: inline-block;*/
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  /* width: 60%; */
}

li.done h3 {
  display: block;
  margin-bottom: 0.5em;
}

li.done a {
  color: #ffffff;
}

.highlighted {
  color: white;
  padding: 0.1em 2em 0.2em 2em;
  margin-bottom: 1em;
  background-color: #D33883;
}

article {
  margin-right: 0;
}

td, th {
  font-size: 12px;
}


li.done-thin {
  width:64.3%;
}

li.done-thin div.answer {
  width:100%;
}

.start-again-white {
  top: auto;
  height: auto;
  width: 214px;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
}

.start-again-white a {
  text-align: left;
  display: block;
}

.start-again-white li {
  padding-right: 5px;
  padding-bottom: 10px;
  display: block;
}

#wrapper.programme .programme-progression li a {
  background-image: none;
  padding-right: 0.75em;
}

input.btn.button.right {
  background-color: #28a197;
  border-color: #28a197;
}

/* sector navigation widget */

#sector-navigation {
  margin: 0;
}

#sector-navigation li {
  display: block;
  /*margin: 0.25em 0;*/
  /*overflow: hidden;*/
  clear: both; /* clear under floated "add" links */
}

/*#sector-navigation a,
#sector-navigation span {
  display: block;
  margin: 0.25em 0;
}*/

/*#sector-navigation span {
  display: inline-block;
}*/

a.add {
  float: right;
  padding-left: 0.25em;
}

.hierarchy {
  /*background-color: #ddd;*/
  font-size: 0.85em;
  line-height: 1.5;
  padding: 0.5em 0.5em 1em 0;

}

.hierarchy h1 { 
  font-family: NTA, 'Gill Sans W01 Medium', sans-serif;
  padding: 0.5em 0.5em 0em 0.5em;
  font-weight: normal;
}

.search-results h2 { 
  font-family: NTA, 'Gill Sans W01 Medium', sans-serif;
  padding: 1.5em 0.5em 0em -0.5em;
  font-weight: normal;
}

.hierarchy ol {
  margin: 0;
  padding: 0;
}

.tariff-browse {
  /*background-color: #ddd;*/
  background-color: #FFF;
  font-size: 0.85em;
  line-height: 1.5;
  padding: 0.5em 1em 1em 0.5em;
}

.tariff-browse a {
  color: #333;
}

.tariff-browse a:hover {
  color: #2E8ACA;
}

.tariff-browse ol {
  padding: 0;
}

/*.tariff-browse ol > li:first-child {
  margin-left: 0;
}*/

.tariff-browse li {
  border-bottom: solid 1px #eee;
  list-style: none;
  margin-left: 4em;
  /*padding-left: 3.75em;*/
  /*padding-right: 10em;*/
  position: relative;
}

.tariff-browse li li {
  margin-left: 0;
}

.tariff-browse li:last-child {
  border-bottom: none;
}

.tariff-browse li .identifier {
  /*margin-left: -5em;*/
  border: none;
  margin-left: 0;
  position: absolute;
  right: 4em;
  top: 0;
  width: 4.5em;
}

.tariff-browse .description {
  /*display: inline-block;*/
  /*margin-top: 1px;*/
  margin-right: 12em;
  padding-left: 0.5em;
  /*vertical-align: top;*/
}

.tariff-browse .search-results {
  padding-left: 0;
}

.tariff-browse .rate {
  /*float: right;*/
  padding-right: 0.25em;
  position: absolute;
  right: 0;
  top: 0;
  width: 4em;
  text-align: right;
  /*background: #fff;*/
}

.tariff-browse li ol {
  margin: 0;
  padding-left: 2em;
}

.tariff-browse li.open ol {
  /*padding-left: 1em;*/
}

.tariff-browse li a.has-children {
  background-image: url(images/expand-collapse-transparent.png);
  background-position: 0 4px;
  background-repeat: no-repeat;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

.tariff-browse li.open a.has-children {
  background-position: 0 -86px;
}

.tariff-browse  li a.add {
  background-image: none;
}

.tariff-browse  ol ol li {
  padding: 0;
}

.tariff-browse  ol li {
  /*background-color: #e8f0f0;*/
}

.tariff-browse ol li ol li {
  /*background-color: #e1e8e8;*/
  /*margin-left: 5em;*/
}

.tariff-browse  ol li ol li ol li {
  /*background-color: #c1cacb;*/
}

.tariff-browse  ol li ol li ol li ol li {
  /*background-color: #c1cacb;*/
}

#sector-navigation ol {
  display:none;
}

.browsenav {
  font-color: #eee;
  font-size: 80%;
}

.popdown {
  display: none;
  font-size: 12px;
  list-style: none;
}

.popdown li {
  font-size: 12px;
  list-style: none;
  font-weight: normal;
}

/* expanded detail within tables stuff */

table td {
  position: relative;
}

article table td.contains-conditions {
  background-color: #CCE0D6;
}

.conditiontable {
  position: absolute;
  right: -40em;
  top: 0;
  width: 40em;
  z-index: 10;
}

.conditiontable table {
  width: 100%;
  /*width: 200px;*/
}

.conditiontable table th {
  border-top: solid 2px #CCE0D6;
}

