header.page-header hgroup {
  border-color: #617900;
}

header.page-header h1 {
  background-image: url(images/licence-icon.png);
}

header.page-header h1 span {
  color: #10370d;
}

.licence-info {

}

.relevant-authority {
  border-bottom: 1px solid #93A1A1;
  margin: 0.5em 0 1em 0;
  overflow: hidden;
  /*padding: 0.5em 1em;*/
  padding-bottom: 1em;
}

.relevant-authority > p {
  margin-top: 0;
}

aside {
  float: left;
  width: 25%;
}

aside nav {
  float: right;
  width: 95%;
}

aside nav ol {
  list-style: none;
  padding: 0;
}

aside nav ol li a {
  background-color: #E1E8E8;
  border-top: solid 1px #C9D0D0;
  display: block;
  padding: 0.75em;
  text-decoration: none;
}
aside nav ol li a:hover {
  background-color: #97C5E5;
  color: #2E3191;
}

aside nav ol li:first-child a {
  border-top: none;
}

aside nav ol li.active a {
  background-color: white;
  border: solid 1px #C9D0D0;
  border-right: none;
  display: block;
  margin: 0 0 -1px -1px;
  position: relative;
  z-index: 2;
}

article.tariff {
  border-left: solid 1px #C9D0D0;
  margin-left: -1px;
  min-height: 40em;
  width: 75%;
}

article.tariff .inner {
  padding: 0.5em 2.5em 1em 2.5em;
}

article.tariff .inner > h1 {
  margin-top: 0;
}

.business-sector-picked,
.business-activity-picked {
  background-color: #96c6e2;
  float: left;
  /*margin-left: 5%;*/
  padding: 1em 5%;
  width: 35%;
}

.business-sector-picked ul li,
.business-activity-picked ul li {
  list-style-type: disc;
}

li.done .answer {
  background-color: transparent;
  display: inline-block;
  width: 73%;
}

li.done .answer ul {
  display: inline;
  padding: 0;
}

li.done .answer ul li {
  background-color: #4F6F5E;
  /*display: inline-block;*/
  margin-bottom: 0.25em;
  padding: 0 0.25em;
  /* width: 60%; */
}

li.done h3 {
  display: block;
  margin-bottom: 0.5em;
}

li.done a {
  color: #ffffff;
}

.highlighted {
  color: white;
  padding: 0.1em 2em 0.2em 2em;
  margin-bottom: 1em;
  background-color: #D33883;
}

article {
  margin-right: 0;
}

td, th {
  font-size: 12px;
}
aside {
  width: 20%;
}

article.tariff {
  width: 80%;
}


li.done-thin {
  width:64.3%;
}

li.done-thin div.answer {
  width:100%;
}

.start-again-white {
  top: auto;
  height: auto;
  width: auto;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
}

.start-again-white a {
  text-align: left;
}