body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Patterns_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-10px;
    top:147px;
    width:1344px;
    height:196px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1350px;
    height:202px;
}

.u1 {
    position:absolute;
    left:2px;
    top:90px;
    width:1340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:93px;
    width:1297px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:13px;
    top:7px;
    width:434px;
    height:78px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u5 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:27px;
    top:106px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:162px;
    top:106px;
    width:49px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Pattern_Library_Header_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:768px;
    top:0px;
    width:89px;
    height:39px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:39px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Patterns_1_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:22px;
    top:530px;
    width:832px;
    height:241px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:247px;
}

.u13 {
    position:absolute;
    left:2px;
    top:16px;
    width:828px;
    height:210px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_mouseOver {
    background-image: url('../Patterns_1_files/u15_mouseOver.png');
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:18px;
    top:159px;
    width:213px;
    height:91px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:97px;
}

.u16 {
    position:absolute;
    left:8px;
    top:4px;
    width:203px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Footer_files/u36_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:766px;
    width:880px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_mouseOver {
    background-image: url('../Patterns_1_files/u20_mouseOver.png');
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:453px;
    top:159px;
    width:213px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:86px;
}

.u21 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../Patterns_1_files/u20_mouseOver.png');
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:670px;
    top:159px;
    width:213px;
    height:80px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:86px;
}

.u23 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_mouseOver {
    background-image: url('../Patterns_1_files/u20_mouseOver.png');
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:235px;
    top:156px;
    width:213px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:86px;
}

.u25 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_mouseOver {
    background-image: url('../Patterns_1_files/u20_mouseOver.png');
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:453px;
    top:249px;
    width:213px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:219px;
    height:86px;
}

.u27 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:18px;
    top:385px;
    width:382px;
    height:91px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:388px;
    height:97px;
}

.u29 {
    position:absolute;
    left:8px;
    top:4px;
    width:372px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

