---
---

{% include _head.html %}

<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="alpha-beta.css">

<body>
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>


  <h2>Alpha standard</h2>

  {% include alpha-beta-header/_alpha-standard-header.html %}

  <h2>Beta standard</h2>

  {% include alpha-beta-header/_beta-standard-header.html %}

  <h2>Alpha with proposition</h2>

  {% include alpha-beta-header/_alpha-with-prop-header.html %}

  <h2>Beta with proposition</h2>

  {% include alpha-beta-header/_beta-with-prop-header.html %}

  <h2>Alpha no search</h2>

  {% include alpha-beta-header/_alpha-no-search-header.html %}

  <h2>Beta no search</h2>

  {% include alpha-beta-header/_beta-no-search-header.html %}

  <h2>Alpha no search with proposition</h2>

  {% include alpha-beta-header/_alpha-with-prop-no-search-header.html %}

  <h2>Beta no search with proposition</h2>

  {% include alpha-beta-header/_alpha-with-prop-no-search-header.html %}

</body>
</html>
