body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Squares_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-22px;
    top:43px;
    width:1306px;
    height:1082px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1306px;
    height:1082px;
}

.u1 {
    position:absolute;
    left:2px;
    top:533px;
    width:1302px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Squares_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:193px;
    top:88px;
    width:957px;
    height:1093px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:963px;
    height:1099px;
}

.u3 {
    position:absolute;
    left:2px;
    top:538px;
    width:953px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:210px;
    top:101px;
    width:433px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Squares_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:193px;
    top:0px;
    width:957px;
    height:84px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:963px;
    height:90px;
}

.u6 {
    position:absolute;
    left:2px;
    top:34px;
    width:953px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:875px;
    top:16px;
    width:177px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Squares_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:-52px;
    top:0px;
    width:1302px;
    height:42px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1302px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:13px;
    width:1298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Squares_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:-52px;
    top:2px;
    width:468px;
    height:42px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:468px;
    height:42px;
}

.u11 {
    position:absolute;
    left:2px;
    top:13px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Squares_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:185px;
    top:2px;
    width:153px;
    height:42px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:42px;
}

.u13 {
    position:absolute;
    left:2px;
    top:13px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Squares_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:400px;
    top:2px;
    width:884px;
    height:42px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:884px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:13px;
    width:880px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Squares_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:357px;
    top:0px;
    width:255px;
    height:42px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:255px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:13px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Squares_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:585px;
    top:0px;
    width:637px;
    height:42px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:637px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:13px;
    width:633px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Squares_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:1222px;
    top:0px;
    width:62px;
    height:42px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:13px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:885px;
    top:14px;
    width:123px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Squares_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:402px;
    top:56px;
    width:9px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:21px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:421px;
    top:56px;
    width:129px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Squares_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:399px;
    top:51px;
    width:4px;
    height:27px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:33px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:207px;
    top:56px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:408px;
    top:12px;
    width:451px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:217px;
    top:462px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:210px;
    top:169px;
    width:919px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Squares_files/u23_normal.png');
}

.u32_container {
    position:absolute;
    left:256px;
    top:56px;
    width:9px;
    height:15px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:21px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:275px;
    top:56px;
    width:129px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Squares_files/u26_normal.png');
}

.u35_container {
    position:absolute;
    left:253px;
    top:51px;
    width:4px;
    height:27px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:33px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u37_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:208px;
    top:227px;
    width:219px;
    height:136px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u38 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u39_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:443px;
    top:227px;
    width:219px;
    height:136px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u40 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u41_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:677px;
    top:227px;
    width:219px;
    height:136px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u42 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u43_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u43_container {
    position:absolute;
    left:909px;
    top:227px;
    width:219px;
    height:136px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u44 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u45_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u45_container {
    position:absolute;
    left:208px;
    top:378px;
    width:219px;
    height:136px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u46 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u47_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u47_container {
    position:absolute;
    left:443px;
    top:378px;
    width:219px;
    height:136px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u48 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u49_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u49_container {
    position:absolute;
    left:677px;
    top:378px;
    width:219px;
    height:136px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u50 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u51_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u51_container {
    position:absolute;
    left:910px;
    top:378px;
    width:219px;
    height:136px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u52 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u53_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u53_container {
    position:absolute;
    left:208px;
    top:532px;
    width:219px;
    height:136px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u54 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_mouseOver {
    background-image: url('../Squares_files/u37_mouseOver.png');
}

.u55_normal {
    background-image: url('../Squares_files/u37_normal.png');
}

.u55_container {
    position:absolute;
    left:443px;
    top:532px;
    width:219px;
    height:136px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:142px;
}

.u56 {
    position:absolute;
    left:8px;
    top:8px;
    width:203px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Squares_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:-1px;
    top:884px;
    width:1362px;
    height:236px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1362px;
    height:236px;
}

.u58 {
    position:absolute;
    left:2px;
    top:110px;
    width:1358px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:220px;
    top:794px;
    width:237px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:432px;
    top:831px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:432px;
    top:812px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:432px;
    top:794px;
    width:202px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:220px;
    top:833px;
    width:161px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:220px;
    top:813px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:667px;
    top:794px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:667px;
    top:813px;
    width:168px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:220px;
    top:755px;
    width:195px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../Squares_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:3px;
    width:957px;
    height:5px;
}

.u68 {
    position:absolute;
    left:193px;
    top:729px;
    width:957px;
    height:10px;
    
}

.u69_normal {
    background-image: url('../Squares_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:885px;
    top:732px;
    width:265px;
    height:152px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:158px;
}

.u70 {
    position:absolute;
    left:2px;
    top:68px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

