/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, /Users/jaimes/Sites/assets/toolkit/stylesheets/_shims.scss */
#wrapper:after, #wrapper #content #homepage .floated-children:after, #wrapper #content #homepage .inside-government .intro:after, #wrapper #content #homepage .inside-government .government .statistics:after, #wrapper #content #homepage .inside-government .government .column .government-activity:after {
  content: "";
  display: block;
  clear: both; }

/* line 5 */
header#global-header form {
  display: none; }

/* line 11 */
#footer .footer-categories ul {
  border: none;
  padding: 10px 0 0 0; }
/* line 15 */
#footer h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  color: #0b0c0c;
  font-weight: bold;
  line-height: 1.25;
  font-weight: bold;
  text-transform: none;
  color: black;
  margin: 0; }
  @media (max-width: 640px) {
    /* line 15 */
    #footer h2 {
      font-size: 2rem;
      line-height: 1.2; } }

/* line 27 */
#global-breadcrumb {
  display: none; }

/* line 32 */
header.homepage {
  background-color: #b10e1e;
  color: white; }
  /* line 35 */
  header.homepage .wrapper {
    margin: 0 auto;
    max-width: 1020px;
    position: relative; }
    /* line 40 */
    header.homepage .wrapper .inner {
      padding: 30px; }
      /* line 42 */
      header.homepage .wrapper .inner h1 {
        font-family: "nta", Arial, sans-serif;
        font-size: 80px;
        font-size: 8rem;
        line-height: 1;
        font-weight: 400;
        text-transform: none;
        font-weight: bold;
        line-height: 1; }
        @media (max-width: 640px) {
          /* line 42 */
          header.homepage .wrapper .inner h1 {
            font-size: 5.3rem;
            line-height: 1.03774; } }
      /* line 47 */
      header.homepage .wrapper .inner p {
        margin: 10px 0 15px; }
        /* line 49 */
        header.homepage .wrapper .inner p .simpler {
          display: block;
          font-weight: bold; }
      /* line 54 */
      header.homepage .wrapper .inner form#search {
        position: relative;
        width: 66.66%; }
        /* line 57 */
        header.homepage .wrapper .inner form#search label {
          float: none;
          position: absolute;
          left: 0;
          top: 1px;
          z-index: 1;
          width: 100%;
          margin-right: 0;
          text-indent: -9999px; }
        /* line 68 */
        header.homepage .wrapper .inner form#search input {
          border-color: #fff;
          margin-left: 0;
          padding: 10px;
          width: 90%; }
          /* line 73 */
          header.homepage .wrapper .inner form#search input.button {
            color: white;
            background-color: #0b0c0c;
            background-image: url(images/magnifiying-glass.jpg);
            background-repeat: no-repeat;
            background-position: 0 50%;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            height: 40px;
            border: 1px solid #28a197;
            border-width: 0 0 0 1px;
            border-left-color: #222;
            overflow: hidden;
            text-indent: -5000px;
            position: absolute;
            z-index: 4;
            right: 0;
            top: 0;
            width: 7%; }
      /* line 95 */
      header.homepage .wrapper .inner .wrap {
        width: 33.7%;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 10; }
        /* line 101 */
        header.homepage .wrapper .inner .wrap .inner {
          padding: 0 15px; }
          /* line 103 */
          header.homepage .wrapper .inner .wrap .inner .jump-links {
            font-family: "nta", Arial, sans-serif;
            font-size: 19px;
            font-size: 1.9rem;
            line-height: 1.31579;
            font-weight: 400;
            text-transform: none;
            background-color: #0b0c0c;
            color: #fff;
            padding: 5px 20px; }
            @media (max-width: 640px) {
              /* line 103 */
              header.homepage .wrapper .inner .wrap .inner .jump-links {
                font-size: 1.6rem;
                line-height: 1.25; } }
            /* line 108 */
            header.homepage .wrapper .inner .wrap .inner .jump-links h2 {
              font-family: "nta", Arial, sans-serif;
              font-size: 19px;
              font-size: 1.9rem;
              line-height: 1.31579;
              font-weight: 400;
              text-transform: none;
              font-weight: bold; }
              @media (max-width: 640px) {
                /* line 108 */
                header.homepage .wrapper .inner .wrap .inner .jump-links h2 {
                  font-size: 1.6rem;
                  line-height: 1.25; } }
            /* line 112 */
            header.homepage .wrapper .inner .wrap .inner .jump-links ul {
              padding-left: 0;
              margin-top: 10px; }
              /* line 115 */
              header.homepage .wrapper .inner .wrap .inner .jump-links ul li {
                display: block;
                margin-bottom: 10px; }
                /* line 118 */
                header.homepage .wrapper .inner .wrap .inner .jump-links ul li a {
                  color: #fff;
                  display: block;
                  text-decoration: none; }
                  /* line 122 */
                  header.homepage .wrapper .inner .wrap .inner .jump-links ul li a:hover, header.homepage .wrapper .inner .wrap .inner .jump-links ul li a:focus {
                    text-decoration: underline; }

/* line 137 */
#wrapper {
  background-color: #fff; }
  /* line 141 */
  #wrapper h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: bold; }
    @media (max-width: 640px) {
      /* line 141 */
      #wrapper h2 {
        font-size: 2.4rem;
        line-height: 1.04167; } }
  /* line 146 */
  #wrapper #content {
    margin: 0 auto;
    max-width: 1020px;
    padding-top: 40px;
    position: relative; }
    /* line 153 */
    #wrapper #content #homepage .keyline {
      margin: 30px; }
    /* line 157 */
    #wrapper #content #homepage .floated-children {
      padding: 0 15px; }
      /* line 160 */
      #wrapper #content #homepage .floated-children .inner {
        padding: 0 15px; }
      /* line 163 */
      #wrapper #content #homepage .floated-children .head-section {
        float: left;
        width: 33.33%; }
      /* line 167 */
      #wrapper #content #homepage .floated-children .column {
        float: left; }
      /* line 170 */
      #wrapper #content #homepage .floated-children .keyline {
        margin: 30px 15px; }
    /* line 175 */
    #wrapper #content #homepage .replaces-jumplinks {
      float: right;
      width: 33.33%; }
      /* line 178 */
      #wrapper #content #homepage .replaces-jumplinks p {
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        color: #6f777b;
        margin: 0; }
        @media (max-width: 640px) {
          /* line 178 */
          #wrapper #content #homepage .replaces-jumplinks p {
            font-size: 1.4rem;
            line-height: 1.14286; } }
      /* line 183 */
      #wrapper #content #homepage .replaces-jumplinks ul {
        padding-left: 0;
        margin: 0; }
        /* line 186 */
        #wrapper #content #homepage .replaces-jumplinks ul li {
          display: inline;
          padding-right: 1em; }
    /* line 193 */
    #wrapper #content #homepage .homepage-categories {
      font-family: "nta", Arial, sans-serif;
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 1.31579;
      font-weight: 400;
      text-transform: none;
      margin-top: 10px;
      width: auto; }
      @media (max-width: 640px) {
        /* line 193 */
        #wrapper #content #homepage .homepage-categories {
          font-size: 1.6rem;
          line-height: 1.25; } }
      /* line 198 */
      #wrapper #content #homepage .homepage-categories h2 {
        margin: 0 0 30px 0;
        padding: 0 15px; }
      /* line 203 */
      #wrapper #content #homepage .homepage-categories ul {
        margin: 0;
        padding: 0; }
        /* line 206 */
        #wrapper #content #homepage .homepage-categories ul li {
          float: left;
          list-style: none;
          width: 33.33%; }
          /* line 210 */
          #wrapper #content #homepage .homepage-categories ul li p {
            padding: 0 15px;
            margin: 10px 0; }
            /* line 213 */
            #wrapper #content #homepage .homepage-categories ul li p a {
              color: #b10e1e;
              display: block;
              font-weight: bold;
              margin-right: 10px;
              text-decoration: none; }
              /* line 219 */
              #wrapper #content #homepage .homepage-categories ul li p a:hover, #wrapper #content #homepage .homepage-categories ul li p a:focus {
                text-decoration: underline; }
          /* line 224 */
          #wrapper #content #homepage .homepage-categories ul li.clear-category {
            clear: both; }
    /* line 231 */
    #wrapper #content #homepage .activity-car-tax {
      border-color: #bfc1c3;
      border-style: solid;
      border-width: 1px 0;
      margin: 0 30px;
      padding-bottom: 30px; }
      /* line 238 */
      #wrapper #content #homepage .activity-car-tax h2 {
        margin-bottom: 30px; }
      /* line 242 */
      #wrapper #content #homepage .activity-car-tax .browsing-tracker {
        background: #2b8cc4 url(images/browser-tracker.jpg) left 30px no-repeat;
        color: white;
        padding: 30px 0 30px 69%; }
        /* line 246 */
        #wrapper #content #homepage .activity-car-tax .browsing-tracker h3 {
          font-family: "nta", Arial, sans-serif;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 1.25;
          font-weight: 400;
          text-transform: none;
          font-weight: bold;
          margin-top: 0; }
          @media (max-width: 640px) {
            /* line 246 */
            #wrapper #content #homepage .activity-car-tax .browsing-tracker h3 {
              font-size: 2rem;
              line-height: 1.2; } }
        /* line 251 */
        #wrapper #content #homepage .activity-car-tax .browsing-tracker p {
          font-family: "nta", Arial, sans-serif;
          font-size: 16px;
          font-size: 1.6rem;
          line-height: 1.25;
          font-weight: 300;
          text-transform: none; }
          @media (max-width: 640px) {
            /* line 251 */
            #wrapper #content #homepage .activity-car-tax .browsing-tracker p {
              font-size: 1.4rem;
              line-height: 1.14286; } }
          /* line 253 */
          #wrapper #content #homepage .activity-car-tax .browsing-tracker p a {
            color: white; }
        /* line 257 */
        #wrapper #content #homepage .activity-car-tax .browsing-tracker ol {
          counter-reset: li 0;
          padding-left: 30px; }
          /* line 260 */
          #wrapper #content #homepage .activity-car-tax .browsing-tracker ol li {
            list-style: none;
            position: relative; }
            /* line 263 */
            #wrapper #content #homepage .activity-car-tax .browsing-tracker ol li a {
              color: white;
              font-weight: bold; }
            /* line 267 */
            #wrapper #content #homepage .activity-car-tax .browsing-tracker ol li:before {
              counter-increment: li 1;
              content: counter(li, decimal-leading-zero);
              font-weight: bold;
              position: absolute;
              left: -30px; }
      /* line 278 */
      #wrapper #content #homepage .activity-car-tax .car-tax {
        background: #28a197 url(images/car-tax.jpg) center left no-repeat;
        color: white;
        padding: 30px 30px 30px 34.5%;
        margin-bottom: 30px; }
        /* line 283 */
        #wrapper #content #homepage .activity-car-tax .car-tax h3 {
          font-family: "nta", Arial, sans-serif;
          font-size: 24px;
          font-size: 2.4rem;
          line-height: 1.25;
          font-weight: 400;
          text-transform: none;
          font-weight: bold;
          margin-top: 0; }
          @media (max-width: 640px) {
            /* line 283 */
            #wrapper #content #homepage .activity-car-tax .car-tax h3 {
              font-size: 2rem;
              line-height: 1.2; } }
        /* line 289 */
        #wrapper #content #homepage .activity-car-tax .car-tax .get-started .button {
          background-color: white;
          color: #28a197; }
    /* line 297 */
    #wrapper #content #homepage .inside-government {
      margin-bottom: 30px; }
      /* line 300 */
      #wrapper #content #homepage .inside-government a {
        color: #0076c0;
        text-decoration: none; }
        /* line 303 */
        #wrapper #content #homepage .inside-government a:hover, #wrapper #content #homepage .inside-government a:focus {
          text-decoration: underline; }
      /* line 307 */
      #wrapper #content #homepage .inside-government .intro {
        margin-bottom: 30px; }
        /* line 311 */
        #wrapper #content #homepage .inside-government .intro .head-section h2 {
          margin-top: 5px; }
        /* line 315 */
        #wrapper #content #homepage .inside-government .intro .column {
          margin-top: 15px;
          width: 66.66%; }
          /* line 318 */
          #wrapper #content #homepage .inside-government .intro .column p {
            font-family: "nta", Arial, sans-serif;
            font-size: 24px;
            font-size: 2.4rem;
            line-height: 1.25;
            font-weight: 400;
            text-transform: none;
            margin-top: 0; }
            @media (max-width: 640px) {
              /* line 318 */
              #wrapper #content #homepage .inside-government .intro .column p {
                font-size: 2rem;
                line-height: 1.2; } }
      /* line 326 */
      #wrapper #content #homepage .inside-government .government h3 {
        font-family: "nta", Arial, sans-serif;
        font-size: 24px;
        font-size: 2.4rem;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        font-weight: bold;
        padding: 0 15px; }
        @media (max-width: 640px) {
          /* line 326 */
          #wrapper #content #homepage .inside-government .government h3 {
            font-size: 2rem;
            line-height: 1.2; } }
      /* line 331 */
      #wrapper #content #homepage .inside-government .government .statistics {
        margin-bottom: 60px; }
        /* line 334 */
        #wrapper #content #homepage .inside-government .government .statistics ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          /* line 338 */
          #wrapper #content #homepage .inside-government .government .statistics ul li {
            font-family: "nta", Arial, sans-serif;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.25;
            font-weight: 300;
            text-transform: none;
            float: left;
            width: 25%; }
            @media (max-width: 640px) {
              /* line 338 */
              #wrapper #content #homepage .inside-government .government .statistics ul li {
                font-size: 1.4rem;
                line-height: 1.14286; } }
            /* line 342 */
            #wrapper #content #homepage .inside-government .government .statistics ul li em {
              font-family: "nta", Arial, sans-serif;
              font-size: 80px;
              font-size: 8rem;
              line-height: 1;
              font-weight: 400;
              text-transform: none;
              padding-top: 8px;
              padding-top: 0.8rem;
              padding-bottom: 7px;
              padding-bottom: 0.7rem;
              font-style: normal;
              font-weight: bold;
              margin: 0 0 -5px 0; }
              @media (max-width: 640px) {
                /* line 342 */
                #wrapper #content #homepage .inside-government .government .statistics ul li em {
                  font-size: 5.3rem;
                  line-height: 1.03774; } }
              @media (min-width: 641px) {
                /* line 342 */
                #wrapper #content #homepage .inside-government .government .statistics ul li em {
                  padding-top: 0.6rem;
                  padding-bottom: 1.4rem; } }
            /* line 348 */
            #wrapper #content #homepage .inside-government .government .statistics ul li a {
              display: block; }
      /* line 354 */
      #wrapper #content #homepage .inside-government .government .column {
        padding-bottom: 30px;
        width: 66.66%; }
        /* line 358 */
        #wrapper #content #homepage .inside-government .government .column .government-activity {
          margin: 0;
          padding-left: 0; }
          /* line 362 */
          #wrapper #content #homepage .inside-government .government .column .government-activity li {
            float: left;
            list-style: none;
            width: 50%; }
            /* line 366 */
            #wrapper #content #homepage .inside-government .government .column .government-activity li.clear-activity {
              clear: both; }
            /* line 369 */
            #wrapper #content #homepage .inside-government .government .column .government-activity li h4, #wrapper #content #homepage .inside-government .government .column .government-activity li h5 {
              font-family: "nta", Arial, sans-serif;
              font-size: 19px;
              font-size: 1.9rem;
              line-height: 1.31579;
              font-weight: 400;
              text-transform: none;
              font-weight: bold; }
              @media (max-width: 640px) {
                /* line 369 */
                #wrapper #content #homepage .inside-government .government .column .government-activity li h4, #wrapper #content #homepage .inside-government .government .column .government-activity li h5 {
                  font-size: 1.6rem;
                  line-height: 1.25; } }
            /* line 373 */
            #wrapper #content #homepage .inside-government .government .column .government-activity li p {
              font-family: "nta", Arial, sans-serif;
              font-size: 16px;
              font-size: 1.6rem;
              line-height: 1.25;
              font-weight: 300;
              text-transform: none;
              margin: 10px 0; }
              @media (max-width: 640px) {
                /* line 373 */
                #wrapper #content #homepage .inside-government .government .column .government-activity li p {
                  font-size: 1.4rem;
                  line-height: 1.14286; } }
              /* line 376 */
              #wrapper #content #homepage .inside-government .government .column .government-activity li p.meta-data {
                color: #6f777b;
                display: block;
                float: none;
                margin: 6px 0 0 0;
                text-align: left;
                width: auto; }
      /* line 390 */
      #wrapper #content #homepage .inside-government #how-government-works {
        list-style: none;
        margin: 0;
        padding: 0; }
        /* line 394 */
        #wrapper #content #homepage .inside-government #how-government-works li {
          float: left;
          width: 33.33%; }
          /* line 397 */
          #wrapper #content #homepage .inside-government #how-government-works li img {
            display: block;
            width: 100%; }
          /* line 401 */
          #wrapper #content #homepage .inside-government #how-government-works li h2 {
            font-family: "nta", Arial, sans-serif;
            font-size: 19px;
            font-size: 1.9rem;
            line-height: 1.31579;
            font-weight: 400;
            text-transform: none;
            font-weight: bold;
            margin: 10px 0 0 0; }
            @media (max-width: 640px) {
              /* line 401 */
              #wrapper #content #homepage .inside-government #how-government-works li h2 {
                font-size: 1.6rem;
                line-height: 1.25; } }
          /* line 406 */
          #wrapper #content #homepage .inside-government #how-government-works li p {
            font-family: "nta", Arial, sans-serif;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 1.25;
            font-weight: 300;
            text-transform: none;
            margin-top: 5px; }
            @media (max-width: 640px) {
              /* line 406 */
              #wrapper #content #homepage .inside-government #how-government-works li p {
                font-size: 1.4rem;
                line-height: 1.14286; } }
    /* line 415 */
    #wrapper #content #homepage .more-on-govuk {
      padding: 30px 15px 60px; }
      /* line 417 */
      #wrapper #content #homepage .more-on-govuk .image, #wrapper #content #homepage .more-on-govuk .column {
        float: left;
        width: 33.33%; }
      /* line 421 */
      #wrapper #content #homepage .more-on-govuk .column {
        width: 66.66%; }
        /* line 423 */
        #wrapper #content #homepage .more-on-govuk .column h2 {
          margin-top: 0; }
        /* line 426 */
        #wrapper #content #homepage .more-on-govuk .column h3 {
          font-weight: bold;
          margin: 30px 0 10px; }
          /* line 429 */
          #wrapper #content #homepage .more-on-govuk .column h3 a {
            color: #2b8cc4;
            text-decoration: none; }
            /* line 432 */
            #wrapper #content #homepage .more-on-govuk .column h3 a:hover, #wrapper #content #homepage .more-on-govuk .column h3 a:focus {
              text-decoration: underline; }
        /* line 437 */
        #wrapper #content #homepage .more-on-govuk .column p {
          margin-top: 0; }
