---
---


.search-box {
}
.search-box label {
  display: block;
}
.search-box input[type="text"] {
  background-color: #F9F9F9;
  border: 2px inset;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.3em 0 0.1em 0.4em;
  margin-left: 0;
  width: 22em;
}


