---
---

// @import "conditionals";

.browse{
	float: right;
	width: 10em;
	padding: 0;
	margin: 0 0 0 4em;
	
	// Reset top-margin for elements that appear at the top of panels
	 h2{
	   margin-top: 0em;
	 }
}

.search-box {
  background-color: #F9F9F9;
  padding: 0.25em 0.5em;
  input[type="text"] {
    border: 2px inset;
    font-size: 1em;
    line-height: 1.2;
    padding: 0.3em 0 0.1em 0.4em;
    width: 16em;
  }
}


