---
---

@import "colours";
@import "typography";
@import "design-patterns/_show-hide";
@import "design-patterns/_regular-grid";
@import "design-patterns/_popups";
@import "design-patterns/_forms";
@import "design-patterns/progress-indicator";
@import "design-patterns/account-management-tools";
@import "design-patterns/accordion-form";


@include account-management-tools;


header.page-header hgroup {
  margin-right: 0 /* Extend page header out to end of search button */
}

@include progress-indicator;



/* ===========================================================
 * ACCORDION
 * ===========================================================
 *
 */


@include accordion-form;


.accordion-form{
  .section.current{
    // Right-align secondary actions
    .accordion-actions .secondary-action{
      float: right;
      margin: -0.8em 0 0 0.5em;
    }
  }
}

.step-intro{
  @include panel;
}

.added-attorney{
background-color: #E8F0F0;
margin: 0 -1.2em 1em -1.2em;
padding: 1em;
}
.added-attorney .edit{
  float: right;
  margin-left: 0.5em;
}
.added-attorney .label{
  display: inline-block;
  width: 10em;
  margin-left: -3em;
  text-align: right;
  margin-right: 0.5em;
}


// Disabled state for link-style buttons
.button.disabled{
  opacity: 0.5;
  &:hover{
    cursor: default;
    background-color: #008270;
  }
}

// Secondary actions

.secondary-action .button{
  background-color: #E1E8E8;
  color: #083640;
  -webkit-box-shadow: 0 4px 0 #AAA, 0 8px 10px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 4px 0 #AAA, 0 8px 10px rgba(0,0,0,.05);
  box-shadow: 0 3px 0 #AAA, 0 8px 10px rgba(0, 0, 0, 0.05);
}
.secondary-action .button:hover{
  background-color: #e3e3e3;
}




/* ===============================
 * BULLETS
 * ===============================
 */

/* '+' symbol */
.add{
  padding: 1em 0;
}
.add:before{
  background-color: #28a197;
  color: #FFF;
  content:"+";
  float: left;
  font-weight: bold;
  line-height: 0.9em;
  padding: 0.1em 0.3em;
  margin: 0.1em 0.5em 0 0;
}

.help-block.examples{
  float: right;
  margin: -1.3em -0.5em 0 0;
}

/* ================================
 * POP-UP FORM STYLES
 * ================================
 */


#popup{
  @include popup(38em);
  .content{
    margin-top: -2.5em;
    h1{
      padding: 0.8em 1em;
      background-color: $grey-95;
      margin: 1em -1em;
    }
    .save-details{
      background-color: $grey-95;
      padding: 1.25em 1.25em 1em 9.5em;
      margin: 1em -1.25em -2em;
    }
  }
}

input.postcode{
  width: 5em;
  min-width: 5em;
}
input.small-number{
  width: 2em;
  min-width: 2em;
}


/* ================================================================
 * ADDRESS LIST
 * ================================================================
 */

select.street{
  width: 20em;
  border: 1px inset;
}
select.street::-webkit-scrollbar {
-webkit-appearance:none !important;
width: 1em !important;
height: 2em;
background-color:#ccc !important
}
select.street::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.5) !important;
}

.postcode-lookup{
  display: block;
  float: left;
  margin-top: 0.15em;
}

/* ================================================================
 * FORMS
 * ================================================================
 */


.form{
  @include form(left);
}

.accordion-form{
  margin-top: 2em;
}




/* SHOW / HIDE */
@include details-and-summary(highlighted);

/* ===============================
 * Progressive disclosure in forms
 * ===============================
 *
 * On occasion you may want form elements to appear if the users selects
 * a particular radio button or checkbox. 
 */

label details{
  padding: 0;
  margin: 0;
}
label details summary{
  text-decoration: none;
  color: #333;
  padding: 0;
  margin:0;
  font-weight: 300;
  font-size: 1em;
  display: block;
 }
label details summary:hover{
  color: #333;
  font-weight: 300;
}
 label details summary::-webkit-details-marker { 
  display:none; 
}
label details[open]{
  background-color: transparent;
  padding-top: 0;
  margin-right: -1.5em;
  margin-bottom: 0;
 }
label details[open] summary{
  margin-bottom: 0.5em;
  font-weight: 300;
 }


details textarea {
margin: 0.2em -1em 0 -1em;
}





fieldset.intro{
  margin-bottom: 1em;
}

detail[open] > summary.button{
  color: white;
  font-weight: normal;
}
summary.button::-webkit-details-marker { display:none; }

.link-style{
  color: #2E3191;
  text-decoration: underline;
  cursor: pointer;
}
.link-style:hover{
  color: #2E8ACA;
}

.example {
background: none repeat scroll 0 0 #E7EBDA;
margin: 0.75em -1em;
padding: 0.5em 1em;
}




/* REGISTRATION STYLES */

.capture-dates .controls label{
  margin-top: -2em;
}
.capture-dates h3{
  font-size: 1.1875em;
}
.capture-dates .controls label,
.capture-dates h3{
  font-weight: bold;
}
.capture-dates .control-label{
  text-align: left;
}
.card-images{
  display: inline-block;
  line-height: 4em;
  height: 2em;
  margin: -1em 0 0 0.5em;
}
.card-images img{
  width: 2em;
  margin-top: 0.5em;
}



/* EMPHASISED RADIOS & CHECKBOXES
---------------------------------

*/

.emphasised input[type="checkbox"], .emphasised input[type="radio"] {
  margin-right: 0.5em;
  position: relative;
}
.emphasised.option.group label{
  display: block;
  padding: 0.5em 0 0.5em 1em;
  margin: 0 -0.8em 0.25em -0.8em;
}
.emphasised label.radio:hover,
.emphasised label.checkbox:hover{
  background-color: #f2f2f2;
}
.checked{
  background-color: #f2f2f2;
}
.radio-action{
  float: right;
  font-size: 1rem;
  margin-top: -2.7em;
  padding-right: 1em;
}



/* HELP SYSTEM */

#popup.help-system{
  background-color: #fff;
  padding: 1em 0 1em 1.5em;
  /*width:60%;*/
  min-height: 26em;
  position: absolute; /* popup scrolls with page, so we can have long popups */
}

#popup.help-system h2{
  font-size: 1.75em;
  font-weight:normal;
  margin:0;
}
#popup.help-system .content{
  float: left;
  width: 70%;
  padding-right: 0em;
}
#popup.help-system nav{
  float: left;
  margin: 0 -1em 0 1em;
  width: 30%;
}
#popup.help-system nav{
  margin-top:-1em;
  /*font-size: 0.8em;*/
}

#popup.help-system nav ul{
  margin: 0;
  list-style-type: none;
}

#popup.help-system nav > *{
  padding-left: 2em;
}

#popup.help-system nav li{
  margin: 0;
  padding: 0.5em 0;
  font-weight: bold;
}
#popup.help-system nav .current{
  background: #e8f0f0;
  position: relative;
}
#popup.help-system nav .current:before {
  width: 0;
  height: 0;
  content: " ";
  border: 1.25em solid transparent;
  border-right-color: #e8f0f0;
  position: absolute;
  left: -2.5em;
  top: 0;

}
#popup.help-system nav a{
  text-decoration: none;
}
#popup.help-system nav a:hover{
  text-decoration: underline;
}
#popup.help-system nav .current a{
  color: #333;
}

#popup.help-system .content ul{
  margin: 0;
}




/* FORM DOWNLOAD */

/* Need to change the styles in application.css so they apply to elements outside of the 
   application div (eg. popups) */

.form-download {
  background-color:#d5e8f3;
  margin: 1em -1em 1.5em -1em;
  padding: 0.25em 1em 0.25em 1em;
}
.form-download{
  background: url(https://d17tffe05zdvwj.cloudfront.net/static/icon-file-download-00b5dbb3ea8a18c444a08497b3d03d56.png) no-repeat scroll 98% 1em #D5E8F3;
}

.form-download p {
  /*margin: 0 0;*/
  padding-right:3em;
}
.form-download a {
  color: #000;
  display: block;
}

#sign-in-reminder{
  padding-left: 0;
}