---
---

@import "colours";
@import "typography";
@import "design-patterns/_show-hide";
@import "design-patterns/_forms";
@import "design-patterns/regular-grid";
@import "design-patterns/account-management-tools";


@include account-management-tools;

article .inner{
  padding-right: 2em;
  & > *:first-child{
    margin-top: 0;
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

.form{
  @include form(top);
  input[type='text'],
  input[type='email'] {
    background: $white;
  }
}

.two-column{
  @include regular-grid(2);
  form{
    background-color: $grey-95;
    padding: 1em;
    padding-top: 1px;
  }
}

/* ================================================================
 * PROCESS OVERVIEW
 * ================================================================
 *
 * The three-panelled diagrams that explain the LPA process 
 */

.process.overview{
  @include regular-grid(3, 16em);
}

.process.overview > li{
  background-color: $grey-95;
  display: table-cell;
}

.process img{
  margin: 1em;
  max-width: 9em;
  width: 100%;
  margin: 1em;
}
.process li h3{
  background-color: $green-25;
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
}

.process.overview figure{
  text-align: center;
  padding: 0 0.5em;
}

.process figcaption a{
  display: block;
}
.process .btn{
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: center;
}

/* ================================================================
 * DASHBOARD
 * ================================================================
 *
 */

.dashboard-intro{
  @include panel;
}

.ref{
  display: block;
}

.status{
  width: 8em;
}

.LPA-list .button{
  top: 0.5em;
}


.document-list{
  @include panel;
  margin-top: 2em;
}

article table{
  width: 103.95%;
}

.address.vcard{
  width: 30%;
  margin-left: -1em;
}
