

.transaction .toolbar{
  background: #e8f0f0;
  overflow: auto;
  margin: 0 -3em;
  padding: 0.2em 0.5em;
}
.transaction .sign-out{
  float: right;
}


.form-element{
  margin-bottom: 0.5em;
  overflow: hidden;
}

.form-element label{
  display: block;
  width: 7em;
  float: left;
}

.form-element input{
  margin-left: 0.25em;
  float: left;
}



/* ==================================================
 * Transaction step indicator
 * ================================================== */

 /* Taken from ERTP prototype */

ol.transaction-step-indicator {
  list-style-type: none;
  font-size:1.1em;
  text-align:center;
  padding:0;
  margin:0;
}

.transaction-step-indicator > li {
  width: 161px;
  height: 60px;
  margin-left: -35px;
  background-image: url('../img/unselected-icon.png');
  background-position: right;
  background-repeat: no-repeat;
  line-height: 60px;
  display: inline-block;
  font-weight:normal;
  color:#666;
  text-align:left;
}

.transaction-step-indicator > li.current {
  background-image: url('../img/selected-icon.png');
  font-weight:500;
  color: #fff;
}

.transaction-step-number {
  padding: 21px;
  text-align:center;
}

.transaction-content {
  background-color: white;
  padding: 0em 2em 0em 5em;
}





.accordion-header {
  background-color: #e3e3e3;
  padding:0.5em 2em 0.5em 6em;
  text-transform: uppercase;
  font-size: 0.8em;
}

.accordion-item {
  padding-bottom:2px;
  background-color: white;
}

.complete .accordion-header{
  background-color: #d5ecea;
  background-image:url('../img/completed-icon.png');
  background-repeat:no-repeat;
  background-position:50px 50%;
  transition: background-color 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.current .accordion-header{
  background-color: #d5ecea;
  background-image:none;
  background-repeat:no-repeat;
  background-position:50px 50%;
  transition: background-color 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.accordion-content, .accordion-confirm {
  background-color: white;
  padding:1em 2em 1em 5em;

}

.accordion-content {
  position: relative;
}

.accordion-button-large {
  background-color: #28A197;
  background-image: url('../img/button-next.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  color:white !important;
  display: inline-block;
  padding: 0.5em 2.5em 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 3px #1C7F73;
}

.accordion-button-large:active {
  background-color: #28A197;
  background-image: url('../img/button-next.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  color:white !important;
  display: inline-block;
  top:3px;
  padding: 0.5em 2.5em 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 0px #1C7F73;
}

.accordion-button {
  background-color: #28A197;
  background-image: url('../img/button-next.png');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  color:white !important;
  display: inline-block;
  padding: 0.5em 2.5em 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 3px #1C7F73;
}
.accordion-button:active {
  background-color: #28A197;
  background-image: url('../img/button-next.png');
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
  color:white !important;
  display: inline-block;
  top:3px;
  padding: 0.5em 2.5em 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 0px #1C7F73;
}

.accordion-content .intro{
  margin-right: 2em;
}

.confirm-text {
padding-right: 2em;
font-weight: bold;
}


.add:before{ /* '+' symbol */
  background-color: #28a197;
  color: #FFF;
  content:"+";
  float: left;
  font-weight: bold;
  line-height: 0.9em;
  padding: 0 0.3em 0.3em 0.3em;
  margin: 0.1em 0.5em 0 0;
}

/* POP-UP FORM */

#popup.form{
  background-color: #fff;
  padding: 1em 0 1em 1.5em;
  width:45%;
  min-height: 26em;
  position: absolute; /* popup scrolls with page, so we can have long popups */
}

#popup.form h2{
  font-size: 1.75em;
  font-weight:normal;
  margin:0;
}

#popup.form .content ul{
  margin: 0;
}

fieldset{
  margin-top: 1em;
}
fieldset.vertically-aligned label{
  margin-top: 1em;
  display: block;
}
fieldset.vertically-aligned input,
fieldset.left-aligned input{
  margin-left: 0;
  vertical-align: text-bottom;
}

fieldset.left-aligned{
  overflow: auto;
}
fieldset.left-aligned label,
fieldset.left-aligned input{
  float: left;
  margin-top: 0.2em;
}
fieldset.left-aligned label{
  width: 7em;
  margin-left: -7em;
  clear: both;
}

form .row{
  overflow: hidden;
  padding-top: 1em;
  padding-left: 7em;
}

input.postcode{
  width: 5em;
  min-width: 5em;
}
input.small-number{
  width: 2em;
  min-width: 2em;
}

fieldset legend{
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 0.5em;
}

details{
  margin:  1em 0 0 0;
  padding: 0;
}
details summary{
  color: #2E3191;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  margin: 0 0 0 7em;
  padding: 0;
}

/* Open state */

details summary:focus{
  outline: none;
}

.address-list{
  background: #e8f0f0;
  max-height: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.address-list li{
  padding: 0 0 0 0.5em;
}

.address-list::-webkit-scrollbar {
-webkit-appearance:none !important;
width:10px !important
}
.address-list::-webkit-scrollbar {
background-color:#ccc !important
}
.address-list::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.5) !important;
}


/* =============================
 * PROGRESS INDICATOR
 * =============================
 * 
 * Based on ERTP design, but this one scales and doesn't use images
 */

 .progress-indicator{
  counter-reset:li;     /* Initiate a counter */
  list-style-type: none;  /* Remove default numerals */
  margin-bottom: 2em;
  text-align: center;
}
.progress-indicator li{
  background: #ebebeb;
  border-radius: 20px;
  color: #666;
  display: inline-block;
  padding: 10px 33px;
  position: relative;
}
.progress-indicator li:before,  /* Grey circle */
.progress-indicator li:after{ /* White border round grey circle */
  padding-top: 3px;
  position: absolute;
  float: left;
  width: 30px;
  height: 27px;
  top: -3px;
}
.progress-indicator li:before {
  background-color: #ebebeb;
  border: 10px solid #ebebeb;
  border-radius: 30px;
  color: #666;
  content:counter(li);  /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  left: -18px;
  z-index: 99999;
}
.progress-indicator li.current:before,
.progress-indicator li.current {
  background: #666;
  border-color: #666;
  color: #fff;
}
.progress-indicator li:after {
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 32px;
  content: " ";
  left: -21px;
}