---
---

@import "colours";
@import "typography";
@import "design-patterns/show-hide";
@import "design-patterns/regular-grid";
@import "design-patterns/popups";
@import "design-patterns/forms";
@import "design-patterns/buttons";
@import "design-patterns/account-management-tools";
@import "design-patterns/accordion-form";
@import "design-patterns/help-popup";

// ===========================================================
// GLOBAL STYLES
// ===========================================================

header.page-header hgroup {
  margin-right: 0 /* Extend page header out to end of search button */
}
article .inner{
  padding-right: 2em;
}
article table{
  width: 103.95%;
}
.document-list{
  @include panel;
  margin-top: 2em;
}

// ===========================================================
// ACCOUNT MANAGEMENT BAR
// ===========================================================
@include account-management-tools;

// ===========================================================
// SHOW / HIDE
// ===========================================================
@include details-and-summary;


// ===========================================================
// FORMS
// ===========================================================

.secondary-action .button{
  background-color: #E1E8E8;
  color: #083640;
  -webkit-box-shadow: 0 4px 0 #AAA, 0 8px 10px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 4px 0 #AAA, 0 8px 10px rgba(0,0,0,.05);
  box-shadow: 0 3px 0 #AAA, 0 8px 10px rgba(0, 0, 0, 0.05);
}
.secondary-action .button:hover{
  background-color: #e3e3e3;
}
.form-actions{
  list-style-image: none;
  padding: 0;
  margin: 0;
}
.form-actions li{
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0 0.5em 0 0;
}


// ===========================================================
// MODAL ALERT
// ===========================================================

#popup.modal-alert{
  @include popup(40%, 8em);
}
#popup p,
#popup li{
  @include core-19;
}


// ===========================================================
// ACCORDION
// ===========================================================

// Generic accordion form styles
@include accordion-form;

// Bespoke accordion form styles
.accordion-form{
  .section.current{
    .accordion-actions{
      p{
        width: 50%;
        float: left;
      }
      .secondary-actions{
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
        li{
          float: right;
          list-style-type: none;
          list-style-image: none;
          padding: 0;
          margin: 0.8em 0 0 0.5em;
        }
      } 
    }
  }
}

// Intro panels for each question
.section-intro{
  @include panel($turquoise-25);
}

// Person summary
.person-summary{
  @include panel;
  p{
    float: left;
    width: 50%;
  }
  .actions{
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
    li {
      float: right;
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0 0 0 1em;
    }
  }
}

// Signatures
.form .capture-dates{
  width: 103.5%;
  td, th {
    @include core-19;
    vertical-align: middle;
  }
  label{
    width: 6em;
  }
}

// Add a person action 
.add{
  padding: 1em 0;
  &:before{
    background-color: #28a197;
    color: #FFF;
    content:"+";
    float: left;
    font-weight: bold;
    line-height: 0.9em;
    padding: 0.1em 0.3em;
    margin: 0.1em 0.5em 0 0;  
  }
}

// 'Not sure what to put?' links
.hidden-controls .not-sure{
  float: right;
  margin: -2.25em 0.5em 0 0;
}


// ================================
// POP-UP WINDOW STYLES
// ================================

#popup.form{
  @include popup(38em);
  .content{
    margin-top: -2.5em;
    // Popup header style
    h1{
      padding: 0.8em 1em;
      background-color: $highlight-colour;
      margin: 1em -1em;
    }
    // Popup footer style
    .save-details{
      background-color: $highlight-colour;
      padding: 1.25em 1.25em 1em 9.5em;
      margin: 1em -1.25em -0.85em -1.25em;
    }
  }
}




// ================================================================
// FORMS
// ================================================================

// Basic form styles
.form{
  @include form(right, 9em);
}

// Postcode lookup button
.postcode-lookup{
  vertical-align: top;
}

// Address list
select.street{
  width: 20em;
  border: 1px inset;
}
select.street::-webkit-scrollbar {
-webkit-appearance:none !important;
width: 1em !important;
height: 2em;
background-color:#ccc !important
}
select.street::-webkit-scrollbar-thumb {
background-color:rgba(0,0,0,.5) !important;
}

// Show/Hide panel
@include details-and-summary(highlighted);

// Hidden form controls
@include hidden-form-controls;

// Emphasised form controls
@include emphasised-form-controls;


// Make standard body text look like a link
.link-style{
  color: #2E3191;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    color: #2E8ACA;
  }
}

// ==========================================
// LPA REGISTRATION STYLES

.capture-dates .controls label{
  margin-top: -2em;
}
.capture-dates h3{
  font-size: 1.1875em;
}
.capture-dates .controls label,
.capture-dates h3{
  font-weight: bold;
}
.capture-dates .control-label{
  text-align: left;
}
.card-images{
  display: inline-block;
  line-height: 4em;
  height: 2em;
  margin: -1em 0 0 0.5em;
}
.card-images img{
  width: 2em;
  margin-top: 0.5em;
}
#donor-signature{
  padding-left: 0;
}



// FORM DOWNLOAD PANEL

// We need to change the styles in application.css so they apply to elements  
// outside of the application div (eg. popups)

.form-download {
  background-color:#d5e8f3;
  margin: 1em -1em 1.5em -1em;
  padding: 0.25em 1em 0.25em 1em;
}
.form-download{
  background: url(https://d17tffe05zdvwj.cloudfront.net/static/icon-file-download-00b5dbb3ea8a18c444a08497b3d03d56.png) no-repeat scroll 98% 1em #D5E8F3;
}
.form-download p {
  padding-right:3em;
}
.form-download a {
  color: #000;
  display: block;
}
#sign-in-reminder{
  padding-left: 0;
}


// Tooltip

.tooltip {
  outline: none;
  color: $black;
  text-decoration: none;
  border-bottom: 1px dashed;
  &:hover{
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
    &:after{
      content: "\25C0";
      display: block;
      text-decoration: none;
      color: black;
      z-index: 11;
      margin-left: 10px;
    }
    span{
      display: inline;
      position: absolute;
      color: #EEE;
      background: #0B0C0C;
    }
  }
  span {
    z-index: 10;
    display: none;
    padding: 1em;
    margin-top: -50px;
    margin-left: 22px;
    width:240px;    
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  }
}


// Prototype-only styles

#later-attorney-example{
  display: none;
}

article .inner{
  padding-right: 2em;
  & > *:first-child{
    margin-top: 0;
  }
}

/* ================================================================
 * ACCOUNT FORMS
 * ================================================================
 */


.accounts-form{
  @include form(top);
  input[type='text'],
  input[type='email'] {
    background: $white;
  }
}


.two-column{
  @include regular-grid(2);
  form{
    background-color: $highlight-colour;
    padding: 1em;
    padding-top: 1px;
  }
}

/* ================================================================
 * PROCESS OVERVIEW
 * ================================================================
 *
 * The three-panelled diagrams that explain the LPA process 
 */

.process.overview{
  @include regular-grid(3, 16em);
}

.process.overview > li{
  background-color: $highlight-colour;
  display: table-cell;
}

.process img{
  margin: 1em;
  max-width: 9em;
  width: 100%;
  margin: 1em;
}
.process li h3{
  background-color: $green-25;
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
}

.process.overview figure{
  text-align: center;
  padding: 0 0.5em;
}

.process figcaption a{
  display: block;
}
.process .btn{
  display: block;
  width: 75%;
  margin: 1em auto;
  text-align: center;
}

/* ================================================================
 * DASHBOARD
 * ================================================================
 *
 */

.dashboard-intro{
  @include panel;
}

.ref{
  display: block;
}

.status{
  width: 8em;
}

.LPA-list .button{
  top: 0.5em;
}


.document-list{
  @include panel;
  margin-top: 2em;
}

article table{
  width: 103.95%;
}

.address.vcard{
  width: 30%;
  margin-left: -1em;
}



// ================================================================
// HELP SYSTEM
// ================================================================

#opg-help-system {
  display:none;
}
