@media screen, projection {

	* {margin:0;padding:0;}
	body {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:62.5%;color:#000;margin-top:0.9em;}
	p {font-size:1.2em;margin-bottom:0.833em;line-height:1.5em;}
	h2 {font-size:1.8em;color:#333;}
	h3 {font-size:1.3em;color:#333;}
	h4 {font-size:1.2em;color:#333;}
	img {border:none;}
	ul {list-style:none;}	
	abbr, acronym {border:none;}
	button, textarea {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:1.2em;}
	button:hover {cursor:pointer;text-decoration:underline;}
	label {line-height:1.4em;}
	input {font-family:Verdana, Arial, Helvetica, sans-serif;}
	select {background:#fff scroll;}
	a.headerlogolink {background:none; }
	a:link, a {color:#0000FF;padding-left:9px;background:left 0.4em url('images/bluechevron.gif') no-repeat;text-decoration:none;}
	#Content a:hover {text-decoration:underline;}
	p a:visited {color:#660099;padding-left:9px;background:left 0.4em url('images/purplechevron.gif') no-repeat;text-decoration:none;}
	#SecondNav a:visited {color:#000;}
	.access {position:absolute;left:-999em;top:-999em;}
	.extimg {background:right top url('images/newwindow.png') no-repeat;padding-right:20px;height:11px;display:inline-block;cursor:pointer;}
	.newwindow:hover .extimg:hover {text-decoration:none!important;}
	.tl, .bl, .tr, .br {width:5px;height:5px;position:absolute;}
	.tl, .tr {top:0;}
	.bl, .br {bottom:0;}
	.tl, .bl {left:0;}
	.tr, .br {right:0;}
	.close {display:none;}
	.bullet ul, .bullet li {font-size: 1.2em;margin:0 0 1em 55px;list-style-position:outside;list-style:disc;line-height:1.2em;}
	
	#Content .text,#ContentRight .text {padding:0.8em 5px;overflow:hidden;border-top:1px solid #e0e0e0;}
	#Content .text.first,#ContentRight .text.first {padding-top:0;border:none;}
	#Content .text h3,#ContentRight .text h3 {font-size:1.4em;margin-bottom:0.714em;}
	#Content .text h4,#ContentRight .text h4 {font-size:1.2em;margin-bottom:0.714em;}
	
	/* PDF & BACK TO TOP LINK CLASSES */
	
	a.pdf, a:visited.pdf{background:left url('images/pdf_icon.gif') no-repeat;padding-left:23px;height:17px;display:block;}
	a.top{float:right;background:left 0.6em url('images/bluechevronup.gif') no-repeat;padding-left:12px;margin-bottom:5px;}
	a:visited.top {background:left 0.6em url('images/purplechevronup.gif') no-repeat;padding-left:12px;margin-bottom:5px;}
	
	/* PRINT & SAVE LINKS */
	
	#Content .steps .printSave {text-align:right; margin-right:10px; vertical-align:middle;}
	#Content .steps .printSave a {text-decoration:none;background:none;font-size:1.2em;padding-left:0px;}
	#Content .steps .printSave a:hover {text-decoration:underline; }
	.print {background:left url('images/print_icon.gif') no-repeat;padding-left:15px;height:14px; }
	.save {background:left url('images/save_icon.gif') no-repeat;padding-left:15px;height:14px;}
	
	
	/* COLUMNS*/
	
	.col-container{width:95%; }
	.one-half{width:48%; }
	.one-third{width:30.66%; }
	.two-third{width:65.33%; }
	.one-fourth{width:22%; }
	.three-fourth{width:74%; }
	.one-fifth{width:16.8%; }
	.two-fifth{width:37.6%; }
	.three-fifth{width:58.4%; }
	.four-fifth{width:67.2%; }
	.one-sixth{width:13.33%; }
	.five-sixth{width:82.67%; }
	.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, 
	.three-fifth, .four-fifth, .one-sixth, .five-sixth{position:relative; margin-right:4%; float:left; }
	.last{margin-right:0 !important; clear:right; }
	.clear{clear:both; }
	.spacer{width:100%; height:10px; background:transparent; border-bottom:1px solid #e0e0e0; margin-bottom:10px;}
	
	
}
@media print {
	* {margin:0;padding:0;}
	body {font-family:Verdana, Arial, Helvetica, sans-serif;color:#333;width:100%;font-size:62.5%;}
	p {font-size:1.2em;margin-bottom:10px;}
	a {font-size:1.2em;color:#ff5b00;font-weight:bold;}
	abbr, acronym {border-bottom:none;font-size:1.2em;}
	.submitc, .ignore, .pagelist, .steps p, .searchbox, .access, #Footer, #RHC, #SecondNav, #LHC, #TextSize, #TopBar {display:none;}
	.printlogo {padding-bottom:10px;border-bottom:1px #e0e0e0 solid;margin-bottom:10px;}
	.printlogo p {margin-top:-5px;}
	.pfooter {margin-top:80px;padding-top:10px;border-top:1px #e0e0e0 solid;}
	.pfooter .clear {clear:right;display:block;}
}