@media screen, projection {
	
	/* RESIZE */
	
	#TextSize .tl {background:url('images/texttl.gif') no-repeat;height:2px;width:2px;}
	#TextSize .tr {background:url('images/texttr.gif') no-repeat;height:2px;width:2px;}
	#TextSize .br {background:url('images/textbr.gif') no-repeat;height:2px;width:2px;}
	#TextSize .bl {background:url('images/textbl.gif') no-repeat;height:2px;width:2px;}
	#TextSize {float:right;width:200px;}
	#TextSize ul {float:left;width:auto;white-space:normal;}
	#TextSize ul li {display:inline;}
	#TextSize p {margin-bottom:0;float:left;width:auto;margin-right:5px;padding-top:0.25em;}
	#TextSize .nojs {color:#333;text-decoration:none;font-size:1.2em;padding-left:9px;background:0 0.3em url('images/greyicon.gif') no-repeat;}
	#TextSize .nojs:visited {color:#666;background:0 0.3em url('images/lightgreyicon.gif') no-repeat;}
	#TextSize li a {position:relative;width:22px;background:#f2f1ef;color:#333;text-decoration:none;line-height:1em;display:block;float:left;text-align:center;margin-right:5px;padding:0.5em 0;}
	#TextSize .medium a {font-size:1.1em;padding:0.363em 0 0.454em;}
	#TextSize .large a {font-size:1.3em;padding:0.230em 0 0.307em;}
	#TextSize a:hover {text-decoration:underline;}
	#TextSize .active {background:#006600;color:#fff;font-weight:bold;}
	
	/* OTHER */
	
	.seealso {width:200px;}
	.seealso h2 {background:#ff5b00;color:#fff;font-weight:bold;font-size:1.2em;padding:0.25em 5px 0.416em 18px;position:relative;}
	.download, .seealso, #RHC .rhcpagehelp, #RHC .online {margin-bottom:2em;}
	#RHC .rhcpagehelp .tl {height:20px;width:20px;top:-5px;left:-5px;}
	#RHC .download .tl {height:20px;left:-5px;top:-5px;width:20px;}
	#RHC .online .tl {height:20px;width:20px;top:-5px;left:-5px;}
	#RHC .download .tr, .narrowsearch .tr, .key .tr, #RHC .rhcpagehelp .tr, #RHC .online .tr {height:3px;width:3px;}
	#RHC .download h2, #RHC .rhcpagehelp h2, #RHC .online h2 {background:#ff5b00;color:#fff;font-weight:bold;font-size:1.2em;padding:0.25em 5px 0.416em 18px;position:relative;}
	#RHC .download ul, .seealso ul, #RHC .rhcpagehelp ul, #RHC .online ul {border-bottom:1px #e0e0e0 solid;}
	#RHC .download li, .seealso li, #RHC .rhcpagehelp li, #RHC .online li {border-top:1px #e0e0e0 solid;margin-bottom:0.5em;padding-top:0.4em;}
	#RHC a:link, #RHC a {color:#000;text-decoration:none;font-size:1.2em;padding-left:15px;display:block;line-height:1.3em;background:5px 0.3em url('images/greyicon.gif') no-repeat;}
	#RHC a:visited {color:#666;background:5px 0.3em url('images/lightgreyicon.gif') no-repeat;}
	#RHC a:hover {text-decoration:underline;}
	
	/* PROVIDED */
	
	.providedby {position:relative;padding-bottom:2em;border-bottom:1px #e0e0e0 solid;margin-bottom:2em;}
	.providedby .tl {background:url('images/formtl.gif') no-repeat;}
	.providedby .tr {background:url('images/formtr.gif') no-repeat;}
	.providedby h2 {background:#f2f1ef;font-size:1.2em;color:#333;padding:0.5em 7px;border:1px #e0e0e0 solid;font-weight:bold;}
	.providedby img {margin:2em 0 1em;}
	#RHC .providedby a, .providedby a, .providedby a:visited {padding:0;background:none!important;}	
	
	/* RHM */
	.first {border-top:none;margin-bottom:0.5em;padding-top:0.4em;}
	.rhmlinks {position:relative;padding-bottom:1em;margin-bottom:2em;}
	.rhmlinks .tl {background:url('images/formtl.gif') no-repeat;}
	.rhmlinks .tr {background:url('images/formtr.gif') no-repeat;}
	.rhmlinks h2 {background:#f2f1ef;font-size:1.2em;color:#333;padding:0.5em 7px;border:1px #e0e0e0 solid;border-bottom:none;font-weight:bold;}
	.rhmlinks img {margin:2em 0 1em;}
	.rhmlinks ul {border-bottom:1px #e0e0e0 solid;}
	.rhmlinks li {border-top:1px #e0e0e0 solid;margin-bottom:0.5em;padding-top:0.4em;}
	
	.rhmtext {position:relative;padding-bottom:2em;margin-bottom:2em;}
	.rhmtext {position:relative;padding-bottom:2em;border-bottom:1px #e0e0e0 solid;margin-bottom:2em;}
	.rhmtext .tl {background:url('images/formtl.gif') no-repeat;}
	.rhmtext .tr {background:url('images/formtr.gif') no-repeat;}
	.rhmtext h2 {background:#f2f1ef;font-size:1.2em;color:#333;padding:0.5em 7px;border:1px #e0e0e0 solid;font-weight:bold;}
	.rhmtext img {margin:2em 0 1em;}
	.rhmtext ul {border-bottom:1px #e0e0e0 solid;}
	.rhmtext li {border-top:1px #e0e0e0 solid;margin-bottom:0.5em;padding-top:0.4em;}
	
}