@media screen, projection {
#Section {
	padding-top:3.5em;
	border-top:1px #e0e0e0 solid;
	margin:0 5px 1.2em 0;
	overflow:hidden;
}
#Section #Heading {
	margin:0 216px 0 10px;
}
#Section #Heading h1 {
	font-size:2em;
	color:#000000;
}
#Section #Heading.search h1 {
	padding-left:35px;
	background:5px 0.15em;
}
}
