body {
    margin: 0px;
    background-color: #EEEEEE;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:1288px;
    height:743px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1288px;
    height:743px;
}

.u1 {
    position:absolute;
    left:2px;
    top:364px;
    width:1284px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

