---
---

// ===================================================
// WEBSITE TOOLKIT STYLES
//

@import "mixins.scss";

header.page-header hgroup {
  margin-right: 0 /* Extend page header out to end of search button */
}


// ====================================================
// DESIGN PATTERNS
//

/* Intro panel on landing page */
.pattern-library{
  width: 50%;
  float: right;
  padding: 1em;
  margin-top: -1em;
  margin-bottom: 2em;
  background-color: $green-25;
  h1{
    margin-top: 0;
  }
}
/* Container for example patterns */
.pattern-example{
  background-color: #f2f2f2;
  padding: 1em;
  margin: 0 -1em;
  .inner{
    background-color: white;
    border: 1px solid #CCC;
    padding-top: 2em;
  }
}
/* Pattern status label */
.pattern-status{
  display: block;
  float: right;
  color: $white;
  background-color: $fuschia;
  padding: 0.2em 1.5em 0em 1.5em;
  text-align: center;
  text-transform: uppercase;
}
/* Side-by-side code examples */
.side-by-side{
  @include regular-grid(2);
  .pattern-example{
    margin: 0.8em 0 0 0;
  }
}
/* Styles for inline and block code examples */
pre,
code{
  color: black;
  background-color: #f9f9f9;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
pre code{
  border: 0 solid;
  padding: 0;
}
code{
  padding: 0.3em 0.5em;
}

pre:first-child { margin-top: 0; }
pre:last-child { margin-bottom: 0; }

/* Update text.scss with these */
hr{
  border: 0;
  background-color: $light-blue-grey;
  height: 1px;
  margin: 2em 0;
}
article dd{
  font-size: 1.16em;
}

/* Mixin argument toggle styles */

.class-toggle .option:hover{
  cursor: pointer;
  text-decoration: underline;
}
.class-toggle .selected{
  text-decoration: none;
  color: red;
  font-weight: bold;
  &:hover{
    cursor: default;
    text-decoration: none;
  }
}

// ====================================================
// DESIGN PATTERN PAGES
//

// Page contents
.page-contents{
  @include panel;
}

/* Progress indicator */
@include progress-indicator;
.alt { @include progress-indicator($green, $green, $white); }

/* Show/hide */
@include details-and-summary;

/* Panels */
.new-panel { @include panel($grass-green-25); }

/* Regular grid */
.regular-grid p{
    background-color: $cool-grey;
    border: 1px solid $light-blue-grey;
    text-align: center;
    padding: 1em;
}
.example-1{ @include regular-grid(4); }
.example-2{ @include regular-grid(5); }
.example-3{ @include regular-grid(8); }
.example-4{ @include regular-grid(2); }

/* Forms */
.form-example-1 {
  @include form(top, 5.5em);
}

#form-example-2.top { @include form(top, 7.5em, $green) }
#form-example-2.left { @include form(left, 7.5em, $green) }
#form-example-2.right { @include form(right, 7.5em, $green) }






