body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:93px;
    width:1297px;
    height:44px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u1 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u2_container {
    position:absolute;
    left:13px;
    top:7px;
    width:434px;
    height:78px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u3 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:27px;
    top:106px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:162px;
    top:106px;
    width:49px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pattern_Library_Header_files/u9_normal.png');
}

.u7_container {
    position:absolute;
    left:768px;
    top:0px;
    width:89px;
    height:39px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:89px;
    height:39px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Footer_files/u36_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:766px;
    width:880px;
    height:80px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u11 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

