body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../ASSETS_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:62px;
    top:62px;
    width:741px;
    height:308px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:747px;
    height:314px;
}

.u1 {
    position:absolute;
    left:2px;
    top:146px;
    width:737px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../ASSETS_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:566px;
    top:79px;
    width:220px;
    height:76px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:82px;
}

.u3 {
    position:absolute;
    left:2px;
    top:30px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:639px;
    top:92px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../ASSETS_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:323px;
    top:79px;
    width:220px;
    height:76px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:82px;
}

.u6 {
    position:absolute;
    left:2px;
    top:30px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../ASSETS_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:583px;
    top:94px;
    width:50px;
    height:50px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../ASSETS_files/u2_normal.png');
}

.u9_container {
    position:absolute;
    left:80px;
    top:79px;
    width:220px;
    height:76px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:82px;
}

.u10 {
    position:absolute;
    left:2px;
    top:30px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:396px;
    top:90px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../ASSETS_files/u7_normal.png');
}

.u12_container {
    position:absolute;
    left:337px;
    top:92px;
    width:50px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:152px;
    top:90px;
    width:150px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../ASSETS_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:96px;
    top:92px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:60px;
    top:15px;
    width:430px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../ASSETS_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:566px;
    top:156px;
    width:220px;
    height:196px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:202px;
}

.u19 {
    position:absolute;
    left:2px;
    top:90px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../ASSETS_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:323px;
    top:156px;
    width:220px;
    height:196px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:202px;
}

.u21 {
    position:absolute;
    left:2px;
    top:90px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../ASSETS_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:80px;
    top:156px;
    width:220px;
    height:196px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:202px;
}

.u23 {
    position:absolute;
    left:2px;
    top:90px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../ASSETS_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:214px;
    top:171px;
    width:72px;
    height:69px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:69px;
}

.u25 {
    position:absolute;
    left:2px;
    top:26px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../ASSETS_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:92px;
    top:171px;
    width:103px;
    height:69px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:69px;
}

.u27 {
    position:absolute;
    left:2px;
    top:26px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../ASSETS_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:114px;
    top:182px;
    width:57px;
    height:34px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:40px;
}

.u29 {
    position:absolute;
    left:2px;
    top:9px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../ASSETS_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:3px;
    width:56px;
    height:5px;
}

.u30 {
    position:absolute;
    left:175px;
    top:207px;
    width:56px;
    height:10px;
    
}

.u31_line {
    background-image: url('../ASSETS_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:3px;
    width:21px;
    height:5px;
}

.u31 {
    position:absolute;
    left:240px;
    top:179px;
    width:21px;
    height:10px;
    
}

.u32_normal {
    background-image: url('../ASSETS_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:122px;
    top:182px;
    width:41px;
    height:34px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:40px;
}

.u33 {
    position:absolute;
    left:2px;
    top:9px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_line {
    background-image: url('../ASSETS_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:3px;
    width:30px;
    height:5px;
}

.u34 {
    position:absolute;
    left:127px;
    top:184px;
    width:30px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../ASSETS_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:333px;
    top:173px;
    width:75px;
    height:65px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:75px;
    height:65px;
}

.u36 {
    position:absolute;
    left:2px;
    top:24px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../ASSETS_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:3px;
    width:28px;
    height:5px;
}

.u37 {
    position:absolute;
    left:347px;
    top:180px;
    width:28px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../ASSETS_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:405px;
    top:178px;
    width:61px;
    height:59px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:59px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../ASSETS_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:466px;
    top:179px;
    width:60px;
    height:57px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:57px;
}

.u41 {
    position:absolute;
    left:2px;
    top:20px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../ASSETS_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:584px;
    top:170px;
    width:52px;
    height:66px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:25px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../ASSETS_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:593px;
    top:192px;
    width:27px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../ASSETS_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:680px;
    top:158px;
    width:82px;
    height:74px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:74px;
}

.u47 {
    position:absolute;
    left:2px;
    top:29px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../ASSETS_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:643px;
    top:187px;
    width:46px;
    height:27px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:27px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../ASSETS_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:5px;
}

.u50 {
    position:absolute;
    left:576px;
    top:238px;
    width:200px;
    height:10px;
    
}

.u51_line {
    background-image: url('../ASSETS_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:5px;
}

.u51 {
    position:absolute;
    left:332px;
    top:238px;
    width:200px;
    height:10px;
    
}

.u52_line {
    background-image: url('../ASSETS_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:0px;
    top:3px;
    width:200px;
    height:5px;
}

.u52 {
    position:absolute;
    left:89px;
    top:238px;
    width:200px;
    height:10px;
    
}

.u53 {
    position:absolute;
    left:574px;
    top:257px;
    width:205px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:338px;
    top:257px;
    width:177px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:96px;
    top:257px;
    width:191px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../ASSETS_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:94px;
    top:306px;
    width:194px;
    height:34px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:40px;
}

.u57 {
    position:absolute;
    left:2px;
    top:10px;
    width:190px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../ASSETS_files/u56_normal.png');
}

.u58_container {
    position:absolute;
    left:580px;
    top:304px;
    width:194px;
    height:34px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:40px;
}

.u59 {
    position:absolute;
    left:2px;
    top:10px;
    width:190px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:381px;
    top:314px;
    width:127px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:64px;
    top:395px;
    width:430px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:64px;
    top:440px;
    width:743px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

