---
---
@import "frontend_toolkit";
@import "design_patterns";

@include progress-indicator;
@include details-and-summary;


/* =============================================
   APPLICATION-WIDE STYLES */

.relevant-authority {
  margin-left: 5.125em;
  margin-bottom: 2em;
  h2 {   
    margin: 0; 
  }
}


/* =============================================
   OVERVIEW PAGE STYLES (Licence Format) */

/* Set location */
.set-location {
  background-color: #D9E0E0;
  margin-bottom: 1em;
  padding: 1em;
  > p{
      margin-top: 0;
  }
}
/* Left tabs on overview page */
aside {
  float: left;
  width: 25%;
}
aside nav.actions {
  float: right;
  width: 95%;
}
nav.actions ol {
  list-style: none;
  padding: 0;
}
nav.actions ol li a {
  background-color: #E1E8E8;
  display: block;
  padding: 0.75em;
  text-decoration: none;
}
nav.actions ol li a:hover {
  background-color: #97C5E5;
  color: #2E3191;
}
nav.actions ol li.active a {
  background-color: white;
  border: solid 1px #C9D0D0;
  display: block;
  position: relative;
  z-index: 2;
}
aside nav.actions ol li:first-child a {
  border-top: none;
}
aside nav.actions ol li a {
  border-top: solid 1px #C9D0D0;
}
aside nav.actions ol li.active a {
  border-top: solid 1px #C9D0D0;
  border-right: none;
  margin: 0 0 -1px -1px;
}
/* Content area on overview page */
article.licence {
  border-left: solid 1px #C9D0D0;
  margin-left: -1px;
  min-height: 40em;
  padding-bottom: 1em;
  width: 75%;
}
article.licence .inner {
  padding: 0 2.5em 1em 2.5em;
}
article.licence .inner > h1 {
  margin-top: 0;
}
/* Intro to overview page */
div.application-notes {
  margin-bottom: 2em;
}
/* Section on overview page */
article.application-for-licence {
  background: transparent;
  border-top: solid 1px #cccccc;
  float: none;
  margin-bottom: 3em;
  min-height: none;
  padding-top: 1em;
  width: auto;
}
article.application-for-licence > h2 {
  margin-top: 0;
}


/* ==============================================================
   UPDATES TO GLOBAL CSS
   ==============================================================

   The following styles should be integrated into the global CSS
   in the 'Static' repository.
*/


/* ==========================
   basic.scss
*/

label{
  display: block;
}
input[type=file]{
  padding: 0.25em;
}
input[type="text"]{
  margin-left: 0; /* overwrite */
}


/* ==========================
   text.scss
*/

/* Style fieldset legends */
article legend{
  @include core-19;
  font-weight: 600;
}

/* Improve styles inside notices */

/* Reset top-margin for headers that appear at the top of .application-notice panels */
$i: 6;
@while $i > 0 {
  .application-notice h#{$i}:first-child { margin-top: 0.5em }
  $i: $i - 1;
}
/* Shrink right-padding in notices down to 2em */
.help-notice p,
.info-notice p,
.subscribe p {
padding-right: 2em; /* overwrite text.css */
}



/* ==========================
   _buttons.scss
*/


.button.big {
  @include core-24($line-height: (16 / 24)); 
  padding: 0.45em 1.7em 0.45em 0.5em;
  background-image: image-url("icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}


