<header role="banner" id="global-header-3" class="global-header alpha with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/" title="Go to the gov.uk homepage" id="logo">
            <img src="gov.uk_logotype-no_crown-2x.png" alt="GOV.UK">
          </a>
        </div>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>
      </div>

      <form id="search" class="site-search" action="/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search" />
        </div>
      </form>
    </div>

    <div class="header-proposition">
      <div class="content">
        <nav class="proposition-menu">
          <a href="/service-manual" class="proposition-name">Service title</a>
          <a href="#" class="phase-tag">Alpha</a>
        </nav>
      </div>
    </div>
  </div>
</header>