<header role="banner" id="global-header-3" class="global-header beta with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="#" class="phase-tag">Beta</a>

          <a href="/" title="Go to the gov.uk homepage" id="logo">
            <img src="gov.uk_logotype-no_crown-2x.png" alt="GOV.UK">
          </a>
        </div>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <nav class="proposition-menu"><a href="/service-manual" class="proposition-name">Service name</a>
        </nav>
      </div>
    </div>
  </div>
</header>