<header role="banner" id="global-header-3" class="global-header beta with-proposition not-govuk">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/service-manual" class="proposition-name" id="logo">Service title</a>
          <a href="#" class="phase-tag">Beta</a>
        </div>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav class="proposition-menu">
          <ul class="proposition-links">
            <li><a href="" class="">About this service</a></li>
            <li><a href="" class="">Support</a></li>
            <li><a href="" class="">Settings</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>