<header role="banner" id="global-header-3" class="global-header alpha with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/" title="Go to the gov.uk homepage" id="logo-crown">
            <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
          </a>
        </div>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>
      </div>

      <form id="search" class="site-search" action="/search" method="get" role="search">
        <div class="content">
          <label for="site-search-text">Search Cloudstore</label>
          <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
          <input class="submit" type="submit" value="Search" />
        </div>
      </form>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav class="proposition-menu">
          <a href="/service-manual" class="proposition-name">Cloudstore</a>
          <a href="#" class="phase-tag">Alpha</a>
          <ul class="proposition-links">
            <li><a href="" class="active">Software</a></li>
            <li><a href="" class="">Platform</a></li>
            <li><a href="" class="">Infrastructure</a></li>
            <li><a href="" class="">Specialist cloud services</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>