<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<header role="banner" id="global-header-3" class="global-header alpha with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/" title="Go to the gov.uk homepage" id="logo-crown">
            <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
          </a>
        </div>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav class="proposition-menu">
          <a href="/service-manual" class="proposition-name">Your tax account</a>
          <a href="#" class="phase-tag">Alpha</a>
        </nav>
      </div>
    </div>
  </div>
</header>

<!--end header-->