
/* PATTERNS FOR DESCRIBING STEPPED PROCESSES
--------------------------------------------

There are three related patterns:

1.	Process Steps
	Gives the number and title of each step
	Only the current step is highlighted
	Intended as an orientation device at the top of a page

2.	Process Overview
	As above, but a brief description of each step is added
	Each step can contain a pictogram, caption and links
	Intended as an overview and to launch transactions or more detailed info

3.	Process Details
	As above, but a detailed description of each step is added
	The pictogram and caption are placed in a right-floated panel
	Intended to take up a whole page


*/

.process.overview{
  display: table;
  padding: 1em;
  margin: 0 -5em; /* extend panel to edges of wrapper */
}
.process{
  counter-reset:li; /* Initiate a counter */
  list-style-type: none;
}
.process.overview > li{
	background-color: #e8f0f0;
	border-right: 1em solid #FFF;
	display: table-cell;
	padding: 0.5em;
	width: 29%;
}
.process > li:before {
	/* Replace standard numerals with styled ones*/
  background-color: #006435;
  color: #FFF;
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  float: left;
  padding: 0.35em 0.7em;
}
.process.overview > li:before {
  font-size: 15px; font-size: 1.5rem;
  padding: 0.4em 0.7em;
}
.process img{
	margin-top: 1em;
	max-width: 12em;
	width: 100%;
}
.process.overview > li:last-child{
	border-right: 0;
}
.process > li h3{
	background-color: #e8f0f0;
	font-size: 23px; font-size: 1.41rem;
	padding: 0.2em 0.5em 0.3em 1.7em;
}
.process.overview > li h3{
	background-color: #c1cacb;
	margin: -0.4em;
	padding: 0.2em 0.5em 0.3em 2.7em;
}
.process.overview h3 em{
	display: block;
}
.process ul {
	padding-left: 0;
}
.process ul li{
	list-style-image: none;
	list-style-type: none;
	padding-left: 0;
}
.process.overview .button{
	margin-top: 0.5em;
	width: 75%;
}
.process.overview ul li, 
.process.overview figure{
	text-align: center;
}

.process > li.disabled h3{
	background-color: #FFF;
	color: #083640;
}
.process > li.disabled:before {
	background-color: #083640;
}

/* Process - detailed view */

.process.details figure{
	background-color: #e8f0f0;
	float: right;
	margin: 0 0 1em 1em;
	padding: 0 1em 1em 1em;
	text-align: center;
	width: 45%;
}

/* Anti-headbut anchor links */
/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-D */
.process.details li {
    border-top:5em solid transparent;
    margin-top:-5em;
  -webkit-background-clip:padding-box;
     -moz-background-clip:padding;
        background-clip:padding-box;
}
.process.details > li:before {
  margin-top: 1.7em;
}

/* Process steps */

.process.steps{
}

/* TRANSACTION TOOLBAR
----------------------
Use to house global transaction features.
For example; login, quit, save, print etc.
*/

.transaction-toolbar{
	border-top: 0.5em solid #c1cacb;
  background-color: #F2F2F2;
	padding: 0.5em;
	margin: -1em -4em 1em -4em; /* extend panel to edges of wrapper */
}
.transaction-toolbar h2{
  font-size: 1em;
  margin: 0;
}

/* PANELS
---------
*/


/* Generic panel style */
.panel{
  background-color: #D9E0E0;
  padding: 0.5em 1em 1.5em 1em;
  text-align: center;
}
.panel .button{
  display: block;
  font-weight: normal;
  margin: 0.6em auto;
  width: 50%;
}

/* Start-LPA-transaction panel */
#start-transaction p{
	font-weight: bold;
}


/* Donor tooltip */
#donor-tooltip .tooltip {
  	margin-left: -3.5em;
  	width: 10.5em;
}

/* FORMS
--------
*/

legend{
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 0 1em 0;

}

/* SMART FORM
-------------
*/

.smart-form > li > header{
  background-color: #CCE0D5;
  display: block;
  margin-bottom: 0.5em;
  padding: 0.1em 0 0.15em 0;
}
.smart-form li{
  list-style-type: none;
  margin-top: 1em;
  padding: 0;
}
.smart-form{
  margin: 0 -4em 0 -5em; /* extend panel to edges of wrapper */
  padding-left: 1em;
}


.smart-form > li h1,
.smart-form > li h1 span{
  font-weight: bold;
  padding: 0.5em 0.7em;
  font-size: 1rem;
  line-height: 1rem;
}
.smart-form > li h1{
  border: 0;
  padding-left: 0;
}
.smart-form > li h1 span{
  background-color: #006435;
  color: #FFF;
  display: inline;
  margin-right: 0.5em;
}



.smart-form .question header{
  background-color: #f2f2f2;
  display: block;
  width: 10em;
  margin-bottom: 1em;
}

.smart-form .question header h1{
  font-size: 1.41rem;
  margin-top: -0.5em;
}
.smart-form > li > footer{
  display: none;
}
.smart-form footer.ready{
  display: block;
}
.smart-form footer.ready .button{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 12em;
}

.smart-form h2{
  margin: 0;
}
.smart-form p{
  margin: 0 0 0.5em 0;
}
.smart-form .add.person:before{ /* '+' symbol */
  background-color: #006435;
  color: #FFF;
  content:"+";
  float: left;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 0.9em;
  padding: 0 0.3em 0.3em 0.3em;
  margin: 0.3em 0.5em 0 0;
}
.smart-form .person{
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: 0;
}
.smart-form section ul{
  padding: 0;
  margin-left: 1em;
}

.smart-form legend{
  font-weight: normal;
  font-size: 1rem;
}


/* ACCORDIAN STATES
----------------------------
These styles determine the various states for the sections in the 'accordian' style smart-form
Please note, whilst it's sufficent to visibly hide elements for prototyping, the final product
may need a more accessible treatment.
*/


/* DISABLED: For future sections that the user has not completed yet */
.smart-form > li.disabled-state section,
.smart-form > li.disabled-state footer{
  display: none;
}
.smart-form > li.disabled-state header{
  background-color: #f2f2f2;
}
.smart-form > li.disabled-state h1{
  color: #666;
  margin-bottom: 0;
}
.smart-form > li.disabled-state h1 span{
  background-color: #C1CACB;
}

/* INTRO: For sections that start with an initial intro */

.smart-form > li.intro-state .question{
  display: none;
}

/* EDIT: For sections that start with an initial intro */

.smart-form > li.edit-state .intro{
  display: none;
}

/* COMPACT: For sections that have been completed; */
.smart-form > li.compact-state section, /* temp */
.smart-form > li.compact-state footer,
.smart-form > li.compact-state .intro,
.smart-form > li.compact-state .question header p,
.smart-form > li.compact-state .question header a{
  display: none;
}
.smart-form > li.compact-state h1{
  color: #666;
  margin-bottom: 0;
}
.smart-form > li.compact-state h1 span{
  background-color: #C1CACB;
}

/* Edit button */
.smart-form > li.compact-state .edit.button{
  float: right;
  font-size: 0.8rem;
  padding: 0 0.8em;
  line-height: 1.2rem;
  margin: 0.5em 0.5em 0 0;

}


/* Help button */
.help.button{
  background-color: #4370CD;
  border-color: #4370CD;
  font-size: 0.8rem;
  padding: 0 0.5em;
}


.smart-form .question{
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.smart-form .question header,
.smart-form .question .response{
  display: table-cell;
  padding: 0.5em;
}

.smart-form .question .response li{
  margin: -0.5em;
}

.smart-form .question .response{
  padding-left: 1em;
  list-style-image: none;
}

/* Part intros */
.smart-form > li > .intro{
  background-color: #e7ebda;
  margin-top: 0.5em;
}
.smart-form > li > .intro h2{
  margin-top: 0;
}
.smart-form > li > .intro p{
  margin-bottom: 0.5em;
}


/* Text fields */
.response input[type="text"],
.response select{
  display: block;
  margin-bottom: 1em;
}

input[type="text"]{
/*
height: 40px;
border: 1px solid #CDCDCD;
padding: 0 0.5em;
box-shadow:inset 2px 2px 2px #DDD;
*/
border: 1px solid #CDCDCD;
background-color: #f2f2f2;
padding: 0.5em;
box-shadow:inset 2px 2px 5px #DDD;
}

/* DOB fields */
.birth-date{
  display: table;
}
.birth-date label{
  display: table-cell;
  padding-right: 1em;
}
.birth-date select{
  display: block;
}

.confirmation.panel {
  text-align: left;
}
.confirmation.panel img{
  float: left;
  width: 8em;
  margin-left: -1em;
}

table#lpa-details th{
  width: 9em;
}





