html.no-branding {
  background-color: #f2f2f2;
}

.no-branding section#content {
  max-width: 720px;
} 

.no-branding header.page-header hgroup {
  margin: 0;
  padding-top: 2em;
}

.no-branding article {
  margin: 0;
  padding: 0 5em 2em 5em;
  width: auto;
}

.old-site-logo {
  float: right;
  margin: 0 0 20px 20px;
}

@media screen and (max-width: 500px) {
  .no-branding body {
    padding: 0;
  }

  .no-branding section#content {
    margin: 0;
  }

  .no-branding header.page-header hgroup h1 {
    padding: 0
  }

  .no-branding .old-site-logo {
    width: 50%;
  }

  .no-branding article {
    padding: 0 10px;
  }
}