body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Patterns_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:161px;
    width:847px;
    height:225px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:853px;
    height:231px;
}

.u1 {
    position:absolute;
    left:2px;
    top:104px;
    width:843px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:94px;
    width:1297px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:13px;
    top:8px;
    width:434px;
    height:78px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u5 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:27px;
    top:107px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:664px;
    top:106px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Patterns_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:22px;
    top:410px;
    width:832px;
    height:241px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:247px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:828px;
    height:210px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:23px;
    top:198px;
    width:235px;
    height:159px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:165px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:231px;
    height:147px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:23px;
    top:177px;
    width:144px;
    height:22px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:28px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:418px;
    top:210px;
    width:235px;
    height:159px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:165px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:231px;
    height:126px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:418px;
    top:177px;
    width:205px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:666px;
    top:200px;
    width:235px;
    height:159px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:165px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:231px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:666px;
    top:177px;
    width:205px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:28px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:246px;
    top:198px;
    width:171px;
    height:47px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:53px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:167px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:246px;
    top:177px;
    width:114px;
    height:22px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:28px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:246px;
    top:282px;
    width:157px;
    height:87px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:93px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:153px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:246px;
    top:260px;
    width:205px;
    height:22px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:211px;
    height:28px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:201px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Footer_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:766px;
    width:880px;
    height:80px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u35 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

