/* MY LAYOUT OVERRIDES TO GET PROTOTYPING TO PLAY NICELY */

section#content {
	/* max-width: 1020px; */
}
header.page-header hgroup {
	margin-right:0px;
}

header.page-header hgroup h1 {
	padding:0.5em 0 0 0.5em;
	max-width: 600px;
}

header.page-header hgroup {
	padding:0;
}

header.page-header {
		
}

#global-header nav ul {
	display:none;
}

#global-header h1 a {
	width: 91px;
}

article .inner {
	padding:1.75em 0 0 1.75em;
}

/* END OF MY OVERRIDES */




/* TOUR PAGE */
.tour-video {
	width: 62%; 
	height:380px; 
	background-color: #007FAF; 
	display:block; 
	float:left;
}

.tour-video figure {
	height:380px;
}

.tour-intro {
	/* width:20em; */
	width: 31%; 
	margin-right: 3%;
	margin-top:-1.2em; 
	height:380px; 
	display:block; 
	float:right; 
	padding:0;
}


article .category-page .browse-container ul li h2 {
	margin-top:0;
}

article h2 {
	margin-top:0.75em;
}

.category-page .browse-container {
	display: inline-block;
	padding-top: 3.5em;
	padding-bottom: 6em;
}

.category-page .browse-container ul.sub-categories {
	padding: 0 0 0 2em;
}

.category-page .browse-container ul li {
	list-style: none;
	margin-bottom: 1em;
}

.category-page .browse-container ul.sub-categories li:nth-child(3n+1) {
	clear: left;
}

.category-page .browse-container ul.sub-categories li {
	border-top: solid 1px #C9D0D0;
	float: left;
	margin-right: 3%;
	margin-bottom: 3.75em;
	width: 29%;
}

.category-page .browse-container ul li p, 
figcaption p {
	font-family: "nta","GDS-Regular",sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 300;
	letter-spacing: 0;
	text-transform: none;
	margin: 0;
	margin-bottom: 1em;
	word-wrap: break-word;
}

figcaption p {
	margin-top: 0.5em;
}

input[type="text"], input[type="search"] {
	margin:0.25em 0.5em 0 0;
}
