/* @override http://dev.gov.uk:4000/xprop.search/assets/css/search-prototype.css */

html { background-color: #ccc; }
a, a:active, a:visited, a:hover { color: #000; }

/* Header
============================================================================ */

body.citizen nav.header-context a {
  font-family: sans-serif;
  font-size: 1.6rem;
}

body.citizen nav.header-context .beta-notice p {
  background-color: #999;
  font-size: 1.6rem;
}

/* This is all overwriting stuff in search.css */

#wrapper .ancillary.search header {
  background-color: #fff;
  color: inherit;
  margin: 0;
  padding-bottom: 0;
}

#wrapper .ancillary.search header hgroup {
  border-top: solid 2px #000;
  padding: 1.5em 2.5em;
}

#wrapper .ancillary.search header hgroup h1 {
  font-size: 2.75em;
}

#wrapper .ancillary.search header hgroup h1 span {
  color: #000;
  font-family: sans-serif;
  font-size: 1.6rem;
  letter-spacing: normal;
  text-transform: none;
}

#wrapper .ancillary.search .search-container {
  margin: 0;
}

/* Search Form
============================================================================ */
form.search-header {
  display: block;
}

/* button styles taken from core.css, should be changed to also apply to <button>s */
button {
  background-color: #B01117;
  background-image: url(/assets/images/button-overlay.png);
  _background-image:none;
  background-position: 0 100%;
  background-repeat: repeat-x;
  border: solid 1px #B01117;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
}
button:hover {
  background-color: #DD322D;
  border: solid 1px #760418;
  color: #fff;
}
button:active {
  background-color: #DD322D;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
}

/* reset pesky webkit search styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Stealing styles from the homepage, should be standardised */
form.search-header input, form.search-header button {
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 0.125em;
}

form.search-header input[type="text"],
form.search-header input[type="search"] {
  font-size: 1.6rem;
  height: 1.25em; width: 63%;
  background-color: #fff;
  -webkit-appearance: textfield;
  border: 2px inset;
}

form.search-header button,
form.search-header .button {
  background-color: #bebebe;
  border-color: #bebebe;
  line-height: 1.25em;
  padding: 0.2em 0.5em;
  
  font-size: 1.6rem;
}

.number-results {
  font-size: 1.6rem;
  padding: 1.2rem 0;
  color: #000;
}

/* Quick Results
============================================================================ */
.search .quick-results {
  background-color: #ffc;
  margin-bottom: 1.6rem;
}

.search .quick-results h2 {
  font-family: 'Gill Sans W01 Medium', sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  height: 30px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  margin: 0 0 .8rem 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.search .quick-results .quick-results-section {
  width: 30%;
  margin-right: 5%;
  float: left;
}

.search .quick-results .quick-results-section:last-child {
  margin-right: 0%;
}

.search .quick-results .quick-results-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search .quick-results .quick-results-section h3 {
  font-size: 1.6rem;
}

.search .quick-results .quick-results-section li {
  font-size: 1.4rem;
}


/* Results
============================================================================ */
.search .results {
  padding: 0;
  margin-left: -20rem;
  float: right;
  width: 100%;
}

.search .results-wrapper {
  padding: 0; margin: 0px 0px 0px 20rem;
}

.search .results-list {
  padding: 0; margin: 0;
  list-style: none;
}

.search .results-list li {
  padding: 0; margin: 0px 0px 1.6rem 0px;
}

.search .results-list li a {
  margin: 0; padding: 0;
  font-size: 1.6rem;
}

.search .results-list li p {
  margin: 0; 
  font-size: 1.6rem;
  width: auto;
}

.search .results-list .result-meta {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.search .results-list .result-meta li {
  display: inline-block;
  color: #000;
  line-height: 2.8rem;
  margin: 0;
  
  -webkit-transition: opacity 0.2s ease;
/*
  -moz-transition: opacity 0.2s ease 0, height 0.2s ease 0.2s;
  -ms-transition: opacity 0.2s ease 0, height 0.2s ease 0.2s;
  -o-transition: opacity 0.2s ease 0, height 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0, height 0.2s ease 0.2s;
*/
}

.search .results-list .result-meta li:first-child {
  border-right: 1px solid #999;
  margin-right: 5px; padding-right: 5px;
}

.search .results-list .result-meta li a {
  color: #000;
  display: inline;
}

.search .results-list .result-meta li.dept {
  float: right;
  /* background-color: #ccc; */
}

/* icons taken from core.css hardcoded image uris */
.search .results-list .result-meta li:first-child:before {
  content: " ";
  display: inline-block;
  width: 25px; height: 25px;
  background-color: #666;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.search .results .recommended {
  background-color: #d5e8f3;
  margin-bottom: 1.6rem;
}

.search .results .recommended h2 {
  color: #2b8cc4;
  font-family: 'Gill Sans W01 Medium', sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  height: 30px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.search .results-list li.whitehall {
  background-color: #e1e8e8;
  padding: 1.6rem;
}

.search .results li.filtered {
  opacity: 0;
/*   height: 0; */
}


/* Filters
============================================================================ */
.filters {
  width: 22.4rem;
  background-color: #ccc;
  float: left;
  margin: 0 0 0 -4rem;
}

.filters .group {
  margin-bottom: 1.6rem;
}

.filters h2 {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  height: 30px;
  letter-spacing: normal;
  line-height: 1.5em;
  margin: 0 0 .8rem 0;
  padding: 0;
  position: relative;
  text-transform: none;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.filters ul li {
  display: block;
  /* height: 30px; */
  margin: 0 -2px 0 -6px;
}

.filters ul li a {
  border-radius: 2px;
  display: block;
  padding: 2px 2px 2px 6px;
  text-decoration: none;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.filters ul li a:hover {
  background-color: #eee;
}

.filters ul li.active a {
  background-color: yellow;
}

.filters ul li a span {
  background-color: #fff;
  border-radius: 2px;
  color: #000;
  display: block;
  float: right; 
  font-size: 1.4rem;
  height: 20px;
  line-height: 20px;
  min-width: 16px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
}

.filters ul li.transaction a,
.filters ul li.smart_answer a,
.filters ul li.guide a {
  background-position: 0.1em 0.15em;
  text-indent: 26px;
}

.filters ul li.transaction a span,
.filters ul li.smart_answer a span,
.filters ul li.guide a span {
  text-indent: 0;
}

/* Related
============================================================================ */

#wrapper .search .related ul li a {
  padding: 0; margin-bottom: 0;
  font-size: 1em;
}

#wrapper .search .related ul li p {
  font-size: .875em;
  margin-top: 0;
}

#footer {
  background-color: #ccc;
}

#footer .beta-notice {
  background-color: #999;
}

#footer .colophon p {
  font-size: 1.6rem;
  color: #000;
}
