@media screen and (max-device-width: 480px),
screen and (max-width: 600px) {
  #banner h1 {
    width:34px;
    display:block;
    overflow:hidden;
  }
}

@media screen and (max-width: 780px) {
  body {
    font-size:140%;
  }
  .table-wrapper {
    overflow:scroll;
    margin-left:-1em;
    margin-right:-1em;
  }

  article table {
    width:auto;
    margin-left:0;
    margin-right:0;
    min-width:780px;
  }
  #global-header nav {
    display:none;
  }

  #global-header h1 {
    margin-right:1em;
    width:34px;
    overflow:hidden;
  }

  section#content {
    max-width:100%;
  }

  header.page-header hgroup,
  .article-container {
    margin-right:0;
  }

  article .inner,
  .page-header hgroup {
    padding-left:1.5em;
    padding-right:1.5em;
  }

  header.page-header hgroup h1 {
    padding-left:0;
    padding-right:0;
    font-size: 2em;
    padding: 0.3em 1.5em 0.35em 1em;
    position: relative;
  }

  .related-positioning {
    position:static !important;
  }

  .related-positioning,
  .related-container {
    height:auto;
  }

  .related {
    position:static;
    width:auto;
  }

  article .help-notice p,
  article .info-notice p,
  article .subscribe p {
    padding-right:2em;
  }
}
