---
---

@import "_mixins.scss";
@import url('coderay.css');
@include progress-indicator;

.alt {
  @include progress-indicator($green, $green, $white);
}

/* Pattern library styles */

header.page-header hgroup {
  margin-right: 0 /* Extend page header out to end of search button */
}

.pattern-example{
  background-color: #f2f2f2;
  padding: 1em;
  margin: 0 -1em;
  .inner{
    background-color: white;
    border: 1px solid #CCC;
    padding-top: 2em;
  }
}

.pattern-status{
  display: block;
  float: right;
  color: $white;
  background-color: $fuschia;
  padding: 0.2em 1.5em 0em 1.5em;
  text-align: center;
  text-transform: uppercase;
}

pre,
code{
  color: black;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;

}
pre code{
  border: 0 solid;
  padding: 0;
}
code{
  padding: 0.5em;
}
pre{
  margin-bottom: 2em;
}


/* Update text.scss with these */
hr{
  border: 0;
  background-color: $light-blue-grey;
  height: 1px;
  margin: 2em 0;
}

article dd{
  font-size: 1.16em;
}