---
---

@import "frontend_toolkit";

// slightly hacky but much quicker than creating a new template
#global-header form#search input.submit {
  background-color: #57da95;
  &:hover,
  &:focus {
    background-color: lighten(#57da95, 5%);
  }
}
#global-breadcrumb ol {
  border-color: #57da95;
  li {
    display: none;
  }
}


//overide
#whitehall-wrapper article .headings-block .meta dl dt {
  @include core-14;
}


.document-list {
  float: left;
  width: 33.33%;
  ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    li {
      padding-left: 0;
      h2 {
        @include core-16;
        font-weight: bold;
        color: $grey-1;
        padding-top: 20px;
        margin-bottom: 0;
      }
      &:first-child h2 {
        padding-top: 0;
      }

      &.contact {
        @include core-16;
        line-height: 1.31579;
        text-transform: none;
        margin-left: 15px;
        &:before {
          content: "-";
          position: relative;
          float: left;
          width: 15px;
          margin-left: -15px;
        }
      }
    }
  }
}

.document-contents {
  float: right;
  width: 66.66%;
}

article {
  dd {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 3px;
    li {
      margin: 0;
      .meta {
        font-size: 14px;
      }

      .additional-list-items {
        display: none;
        margin-left: -6px;
        padding-left: 0;
        li {
          list-style-position: outside;
        }
      }
      .show {
        display: block;
      }
    }
  }

  ol.dash-list {
    padding: 0;
    margin: 0;
    li {
      font-size: 16px;
    }
  }

  h2 {
    margin-top: 45px;
    &:first-child {
      margin-top: 0;
    } 
    &.label {
      @include core-36;
      border-bottom: 5px solid $black;
      line-height: 1.11111;
      font-weight: 400;
      text-transform: none;
      padding-bottom: 1px;
      margin-bottom: 20px;
    }  
  }
  h3 {
    @include core-24;
    font-weight: bold;
  }
  h4 {
    @include core-19;
    font-weight: bold;
  }
  h5 {
    margin-top: 20px;
    & + ul {
      margin-top: 0;
    }
  }


  .administrative-timetable {
    font-size: 14px;
  }

  table {
    border: 0;
    margin: 1em 0 2em;
    tr {
      td,
      th {
        border-bottom: solid #bfc1c3;
        border-width: 0 0 1px 0;
        background-color: white;
        font-size: 14px;
        padding-left: 0;
      }
    }
  }

  .see-all {
    font-weight: bold;
    margin: 0 0 45px 1px;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .stick {
    position: fixed;
    top: 0px;
    max-width: 340px;
  }
}


