// BUTTONS EXTRA
//
// Extra styles for BUTTONS
// We'll should add these into '_buttons.scss', or merge them with '_forms.scss' or something...

@import "_css3";

@mixin buttons-extra{

  // DISABLED STATE FOR <a> TAG BUTTONS
  .button.disabled{
    opacity: 0.5;
    &:hover{
      cursor: default;
      background-color: #008270;
    }
  }
}

// GREY BUTTONS FOR SECONDARY ACTIONS
@mixin secondary-action {
  background-color: $grey-88;
  color: $charcoal-grey;
  @include box-shadow(0 2px 0 $grey-63);
  &:hover{
    background-color: $grey-76;
  }
}