// =======================================================
// PANELS

// A mixin for rolling your own GOV.UK panel styles

@import "colours";

@mixin panel($background-colour: $grey-95){
  background-color: $background-colour;
  margin: 1em -1em 1.5em -1em;
  padding: 1em 1em 0.25em 1em;

  // Reset top-margin for elements that appear at the top of panels
  *:first-child{
    margin-top: 0em;
  }

  // Bring in bulleted lists, so the bullets get sufficient space
  ul, ol{
      padding-left: 3.5em;
  }

  // Make form fields in coloured panels white, not light grey
  @if ($background-colour != transparent){
    input[type="text"],
    textarea{
      background-color: $white;
    }
  }

  // Panels with an 'inner' div get
  .inner{
    background-color: white;
    border: 1px solid #CCC;
    padding: 2em;
    margin-bottom: 0.75em;    
    input[type="text"],
    textarea{
      background-color: #f9f9f9;
    }
  }
}