// =======================================================
// POPUPS

@mixin popup($width: 70%, $height: 26em){
  width: $width;
  margin: 2em auto;
  background-color: white;
  min-height: $height;
  position: static;
  overflow: hidden;
  padding: 0 0 0 1.5em;
  border: 0.5em solid #222;
}

// Helper styles for popups
html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
.popover-mask{
  overflow-y: scroll;
}