body {
    margin: 0px;
    background-color: #EEEEEE;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../About_you_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1460px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1466px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../About_you_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:207px;
    top:42px;
    width:720px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:222px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:297px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../About_you_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:274px;
    top:57px;
    width:10px;
    height:10px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../About_you_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:720px;
    height:5px;
}

.u8 {
    position:absolute;
    left:207px;
    top:76px;
    width:720px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../About_you_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:867px;
    top:43px;
    width:55px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../About_you_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:207px;
    top:83px;
    width:725px;
    height:3527px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:731px;
    height:3533px;
}

.u13 {
    position:absolute;
    left:2px;
    top:1756px;
    width:721px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:167px;
    top:3px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:302px;
    top:11px;
    width:217px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_image_sketch {
    background-image: url('../About_you_files/u16_image_sketch.png');
    position:absolute;
    left:965px;
    top:5px;
    width:226px;
    height:31px;
}

.u16 {
    position:absolute;
    left:968px;
    top:8px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: 'Chalkboard';
}

.u17_normal {
    background-image: url('../About_you_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1190px;
    top:8px;
    width:65px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:294px;
    top:128px;
    width:610px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../About_you_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:220px;
    top:98px;
    width:70px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:297px;
    top:102px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../About_you_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:365px;
    top:735px;
    width:96px;
    height:89px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:95px;
}

.u26 {
    position:absolute;
    left:2px;
    top:36px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../About_you_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:389px;
    top:747px;
    width:50px;
    height:63px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:63px;
}

.u28 {
    position:absolute;
    left:2px;
    top:24px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:317px;
    top:826px;
    width:196px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../About_you_files/u25_normal.png');
}

.u30_container {
    position:absolute;
    left:661px;
    top:735px;
    width:96px;
    height:89px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:95px;
}

.u31 {
    position:absolute;
    left:2px;
    top:36px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../About_you_files/u27_normal.png');
}

.u32_container {
    position:absolute;
    left:685px;
    top:747px;
    width:50px;
    height:63px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:63px;
}

.u33 {
    position:absolute;
    left:2px;
    top:24px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:603px;
    top:827px;
    width:219px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../About_you_files/u25_normal.png');
}

.u35_container {
    position:absolute;
    left:511px;
    top:844px;
    width:96px;
    height:89px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:95px;
}

.u36 {
    position:absolute;
    left:2px;
    top:36px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../About_you_files/u27_normal.png');
}

.u37_container {
    position:absolute;
    left:535px;
    top:856px;
    width:50px;
    height:63px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:63px;
}

.u38 {
    position:absolute;
    left:2px;
    top:24px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:461px;
    top:941px;
    width:198px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../About_you_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:599px;
    top:748px;
    width:41px;
    height:63px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:69px;
}

.u41 {
    position:absolute;
    left:10px;
    top:24px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../About_you_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:485px;
    top:760px;
    width:127px;
    height:38px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:44px;
}

.u43 {
    position:absolute;
    left:10px;
    top:6px;
    width:115px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../About_you_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:536px;
    top:274px;
    width:135px;
    height:33px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:39px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../About_you_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:416px;
    top:274px;
    width:148px;
    height:33px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:154px;
    height:39px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:144px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../About_you_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:295px;
    top:274px;
    width:135px;
    height:33px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:39px;
}

.u49 {
    position:absolute;
    left:2px;
    top:10px;
    width:131px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../About_you_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:209px;
    top:353px;
    width:720px;
    height:40px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:46px;
}

.u51 {
    position:absolute;
    left:20px;
    top:11px;
    width:698px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../About_you_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:221px;
    top:348px;
    width:74px;
    height:50px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:56px;
}

.u53 {
    position:absolute;
    left:2px;
    top:16px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../About_you_files/u50_normal.png');
}

.u54_container {
    position:absolute;
    left:209px;
    top:653px;
    width:720px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:46px;
}

.u55 {
    position:absolute;
    left:20px;
    top:11px;
    width:698px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../About_you_files/u52_normal.png');
}

.u56_container {
    position:absolute;
    left:221px;
    top:648px;
    width:74px;
    height:50px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:56px;
}

.u57 {
    position:absolute;
    left:2px;
    top:16px;
    width:70px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_image_sketch {
    background-image: url('../About_you_files/u58_image_sketch.png');
    position:absolute;
    left:363px;
    top:441px;
    width:351px;
    height:31px;
}

.u58 {
    position:absolute;
    left:366px;
    top:444px;
    width:345px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58_text_sketch {
    font-family: 'Chalkboard';
}

.u59_image_sketch {
    background-image: url('../About_you_files/u59_image_sketch.png');
    position:absolute;
    left:363px;
    top:501px;
    width:351px;
    height:31px;
}

.u59 {
    position:absolute;
    left:366px;
    top:504px;
    width:345px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59_text_sketch {
    font-family: 'Chalkboard';
}

.u60_image_sketch {
    background-image: url('../About_you_files/u60_image_sketch.png');
    position:absolute;
    left:363px;
    top:571px;
    width:351px;
    height:31px;
}

.u60 {
    position:absolute;
    left:366px;
    top:574px;
    width:345px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60_text_sketch {
    font-family: 'Chalkboard';
}

.u61 {
    position:absolute;
    left:366px;
    top:419px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:366px;
    top:479px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:366px;
    top:547px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:366px;
    top:604px;
    width:591px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:338px;
    top:852px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:634px;
    top:853px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../About_you_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:209px;
    top:1024px;
    width:720px;
    height:65px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:71px;
}

.u68 {
    position:absolute;
    left:2px;
    top:24px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../About_you_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:448px;
    top:1041px;
    width:235px;
    height:31px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:37px;
}

.u70 {
    position:absolute;
    left:2px;
    top:6px;
    width:231px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

