---
---

@import "colours";
@import "typography";
@import "design-patterns/_show-hide";
@import "design-patterns/_forms";
@import "design-patterns/regular-grid";
@import "design-patterns/account-management-tools";
@import "design-patterns/grid";


@include account-management-tools;

.category-page header.page-header hgroup h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;

  .inner {
    padding-right: 2em;
    & > *:first-child{
      margin-top: 30px;
    }
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

.form{
  @include form(top);

  input[type='text'], input[type='email'] {
    background: $white;
  }
}

.thirds {
   @include grid((2,1));
}

.form {
  label {
    display: block;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    vertical-align: top;
    padding: 0.25em 0;
  }
}

#new-child-template, #stopped-child-template {
  display: none;
}
.form .group label.inline-radio {
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
}

.form .group label.inline-radio input {
  margin: 0 0.25em 0 0;
}

.results-box {
  border: 5px solid black;
  padding: 10px;
  margin-bottom: 40px;
  p {
    font-size: 40px;
  }
}

#calculator {
  fieldset {
    margin-bottom: 3em;
  }

  input[type="text"] {
    display:block;
    margin: 0.5em 0;
  }

  .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    overflow: hidden;
    text-indent: -5000%;
    margin-right: 0.75em;
  }

  #step-1 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-1-6afb52055d0f49ccc1ffa7c33ef10fb2.png);
  }
  
  #step-2 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-2-959e7eecd3702fe3bc7a61a57a40289b.png);
  }
  
  #step-3 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-3-c95226d199222c14832170be0941a27a.png);
  }
  
  #step-4 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-4-60af308c82427fdd1d7d6d25276081b9.png);
  }
}

.button{
 @include button;
}