body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Screengrabs_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:176px;
    top:163px;
    width:1084px;
    height:2589px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1084px;
    height:2589px;
}

.u1 {
    position:absolute;
    left:2px;
    top:1286px;
    width:1080px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Screengrabs_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1400px;
    top:163px;
    width:1076px;
    height:1908px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1076px;
    height:1908px;
}

.u3 {
    position:absolute;
    left:2px;
    top:946px;
    width:1072px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Screengrabs_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:1907px;
    top:381px;
    width:22px;
    height:17px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:23px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Screengrabs_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:2367px;
    top:381px;
    width:22px;
    height:17px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:23px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Screengrabs_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:2367px;
    top:573px;
    width:22px;
    height:240px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:246px;
}

.u9 {
    position:absolute;
    left:2px;
    top:112px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Screengrabs_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:1907px;
    top:781px;
    width:22px;
    height:661px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:667px;
}

.u11 {
    position:absolute;
    left:2px;
    top:322px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Screengrabs_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:2368px;
    top:970px;
    width:22px;
    height:609px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:615px;
}

.u13 {
    position:absolute;
    left:2px;
    top:296px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Screengrabs_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:2624px;
    top:163px;
    width:1068px;
    height:1327px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1068px;
    height:1327px;
}

.u15 {
    position:absolute;
    left:2px;
    top:656px;
    width:1064px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Screengrabs_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:3862px;
    top:163px;
    width:1369px;
    height:1328px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1369px;
    height:1328px;
}

.u17 {
    position:absolute;
    left:2px;
    top:656px;
    width:1365px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

