---
layout: get-passport
title: Apply for or renew a passport
categories: Quick answer
---

<style>
  {% include get-passport.css %}
  {% include get-passport-step.css %}
</style>
<div class="done-questions">
    <div class="start-again"><a href="step-01.html">Start again</a></div>
    <ol>
<li class="done">
          <h3 class="question">
            <span class="question-number">1</span>
            Your passport application
          </h3>
          <div class="answer">
            <ul>
              <li>Renew an existing passport</li>
                <li>Live in the UK</li>
                <li>Born 15 October, 2000 (child passport)</li>
            </ul>
</div>
          <p class="undo"><a href="step-01.html">Change answers</a></p>
        </li>
    </ol>
</div>

<div class="step current">
  <div class="current-question group">
    <h2>
      <span class="question-number">2 </span>Is the applicant already on an existing adult passport?
    </h2>
    <div class="question-body">
    

      <a href="step-03.html" class="button">Yes</a>
      <a href="step-04.html" class="button">No</a>
    </div>
  </div>
</div>

<div class="article-container">


  



</div>


