---
layout: get-passport
title: Apply for or renew a passport
categories: Quick answer
---

<style>
  {% include get-passport.css %}
  {% include get-passport-step.css %}
</style>
<div class="done-questions">
    <div class="start-again"><a href="step-01.html">Start again</a></div>
    <ol>
      <li class="done">
          <h3 class="question">
            <span class="question-number">1</span>
            Your passport application
          </h3>
          <div class="answer">
            <ul>
              <li>Renew an existing passport</li>
                <li>Live in the UK</li>
                <li>Born 28 January, 1983 (adult passport)</li>
            </ul>
          </div>
          <p class="undo"><a href="step-02.html">Change answers</a></p>
        </li>
        <li class="done">
          <h3 class="question">
            <span class="question-number">2</span>
            Is the applicant already on an existing adult passport?
          </h3>
          <div class="answer">
            <ul>
              <li>Yes</li>
            </ul>
          </div>
          <p class="undo"><a href="step-01.html">Change answers</a></p>
        </li>
    </ol>
</div>
<div class="article-container">
  <article class="results">
    <div class="inner group">
      <div class="result-info">
        <div class="summary">
          <h2 class="result-title">The existing adult passport must be renewed, and a new child passport applied for</h2>
        </div>
          <p>You should renew if there are 9 months of less before your passport expires.  Unused time up to 9 months will be added to your new passport.</p>
          <div class="application-notice help-notice">
            <p>Only book travel when your passport is valid &ndash; some countries ask for 6 months' validity on your passport.</p>
          </div>
         
          <h2>If you need your passport in less than 2 weeks</h2>
          <p>For urgent applications you can either use:</p>
          <ul>
            <li>1-week Fast Track service &ndash; this costs £112.50</li>
            <li>1-day Premium service &ndash; this costs £129.50</li>
          </ul>
          <p><a href="fast-track.html">You can find out more about using these services in the quick answer.</a></p>
        </div>
        <div class="related next-steps">
          <div class="inner group">
            
                  
            <p>You can get the application form in 4 ways:</p>

            <ul>
              <li><a title="" href="/">Apply online</a> &ndash; the Identity and Passport Service (IPS) will print out the completed form and send it to you to sign and return with supporting documents</li>
              <li>Collect it from a Post Office branch that uses the <a title="" href="/">Passport Check &amp; Send service</a></li>
              <li><a title="" href="/">Request it online</a> and IPS will send you one in the post</li>
              <li>Request it by calling the Passport Advice line on 0300 222 0000</li>
            </ul>

            <p>Keep a note of the barcode on the form so you can <a href="">track your application</a></p>
          </div>
        </div>
    </div>
  </article>
</div>


