---
---

@import "_colours";
@import "_css3";
@import "_device-pixels";
@import "_typography";
@import "_conditionals";
@import "_shims";
@import "_conditionals2";

@import "whitehall/_colours";

$discovery-colour: $fuschia;
$alpha-colour: $pink;
$beta-colour: $orange;
$live-colour: $grass-green;

#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
}

.transaction-dashboard {
  article {
    margin: 0 30px;
    width: auto;
  }

  .page-header {
    h1 {
      @include bold-48;

      @include media(tablet) {
        @include bold-80;
      }
    }

    h2 {
      @include core-24;

      @include media (tablet) {
        @include core-36;
      }
    }

    .hgroup {
      padding: 1em 0 2em 0;
    }
  }

  .intro {
    margin: 0;
    padding: 0;

    p {
      @include core-19;

      @include media(tablet) {
        @include core-24;
        padding-right: 25%;
      }
    }
  }

  .phases {
    list-style: none;
    margin: 2em 0;
    padding: 0 0 2em 0;

    border-bottom: 1px solid $border-colour;

    li {
      display: block;
      padding: 0;

      @include media(tablet) {
        float: left;

        width: 24%;
        margin: 0 (4%/6);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      h2 {
        background-color: $panel-colour;

        @include bold-24;
        color: $white;
        text-align: center;

        margin: 0;
        padding: 0.2em 0;
      }

      .num-transactions {
        @include bold-80;
        text-align: center;
        color: $secondary-text-colour;

        margin: 0.2em 0;
      }

      p {
        @include core-19;
        text-align: center;

        width: 100%;

        @include media(tablet) {
          padding: 0;
          margin: 0;
        }
      }

      &.discovery {
        h2 {
          background-color: $discovery-colour;
        }

        .num-transactions {
          color: $discovery-colour;
        }
      }

      &.alpha {
        h2 {
          background-color: $alpha-colour;
        }

        .num-transactions {
          color: $alpha-colour;
        }
      }

      &.beta {
        h2 {
          background-color: $beta-colour;
        }

        .num-transactions {
          color: $beta-colour;
        }
      }

      &.live {
        h2 {
          background-color: $live-colour;
        }

        .num-transactions {
          color: $live-colour;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;

    thead {
      tr {
        visibility: hidden;
        height: 0;
      }

      th {
        text-align: left;
        padding: 0 2%;
        height: 0;
      }

      .num {
        width: 5%;
      }

      .description {
        width: 70%;
      }

      .dept {
        width: 25%;
      }
    }

    tbody {
      td {
        vertical-align: top;
        padding: 10px 2% 1em 0;

        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $border-colour;

        background-color: transparent;
      }

      .num {
        @include bold-80;
        text-align: right;
        padding-bottom: 0;
      }

      h3 {
        @include bold-24;
        margin-top: 0;
      }
    }
  }

  .phase-tag {
    display: inline-block;

    color: #fff;
    @include bold-16;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    margin: 3px 0 0 0;
    padding: 2px 5px 0;

    &.discovery {
      background-color: $discovery-colour;
    }

    &.alpha {
      background-color: $alpha-colour;
    }

    &.beta {
      background-color: $beta-colour;
    }

    &.live {
      background-color: $live-colour;
    }
  }

  &.transaction-single {
    .page-header {
      h1 {
        @include media(tablet) {
          @include bold-48;
        }

        span {
          @include core-27($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          color: $secondary-text-colour ;

          @include ie-lte(8) {
            height: 1%;
          }
        }
      }

      .hgroup {
        width: 64%;
        float: left;
      }

      .organisations {
        float: right;
        width: 31%;

        padding: 1em 0;

        &>div {
          padding-bottom: 1em;
        }
      }
    }

    .body {
      width: 60%;
      margin: 0 3% 2em 0;
      float: left;
    }

    .transformation-logo {
      width: 25%;
      display: block;
      float: left;
      margin: 0 1em 1em 0;

      img {
        width: 100%;
      }
    }

    blockquote {
      @include core-24;
      position: relative;
      margin: 1em 0;

      &:before {
        content: "“";
        @include bold-80;
        font-size: 200px;
        color: $panel-colour;

        z-index: -1;
        position: absolute;
        left: -30px;
        top: -30px;
      }
    }

    cite {
      font-style: normal;
    }

    .screengrab {
      width: 50%;
      float: left;

      img {
        width: 95%
      }

    }

    aside {
      width: 31%;
      float: right;

      &>div {
        margin: 0 0 1em 0;
        border-bottom: 1px solid $border-colour;

        p {
          @include core-14;
        }
      }

      .current-phase {
        display: inline-block;
        @include bold-24;
        color: $white;

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;

        line-height: 30px;
        padding: 4px 5px 0px 5px;

        &.discovery {
          background-color: $discovery-colour;
        }

        &.alpha {
          background-color: $alpha-colour;
        }

        &.beta {
          background-color: $beta-colour;
        }

        &.live {
          background-color: $live-colour;
        }
      }

      .big-number {
        margin: 0.2em 0;

        @include bold-80;
        // color: $turquoise;

        span {
          @include core-19;
          display: block;
        }
      }
    }
  }


  @include department-colours('.organisation-logo', border-color);

  .agency-logo {
    font-family: $Helvetica-Regular;
    font-size: 19px;
    line-height: (20/19); /* 20px */
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    color: $text-colour;
    display: block;
    height: auto;
    width: auto;

    @include media-down(mobile) {
      font-size: 13px;
      line-height: (15/13);
    }
  }
}