.stacks > li{
  list-style-type: none;
  margin: 0 -4.5em 0 -4.3em;
	padding: 0;
  border-top: 1px solid #FFF;
 }
.stacks > li > header{
	background-color: #d5ecea;

 	border-top: 1px solid #cce0d6;
  padding: 0.2em 0.4em;
  text-transform: lowercase;
  font-variant: small-caps;
}
.stacks > li > section{
	background-color: #FFF;
	padding: 0.5em;
}
.stacks > li > footer{
	background-color: #e8f0f0;
	padding: 0.5em;
}
.stacks > li > footer .button{
	padding: 0.2em 0.4em;
}
.stacks > li > footer{
	background-color: #e8f0f0;
}

/* STATE: Compact */
.stacks > .compact-state > footer{
	display: none;
}

/* STATE: Not started */
.stacks > .not-started-state{
	margin: 0 -5em;
	box-shadow: 0em 0.25em 0.5em #ccc;
}
.stacks > .not-started-state > section,
.stacks > .not-started-state > footer{
	display: none;
}

/* STATE: Open */
.stacks .open-state{
	margin: 0 -5em;
  border-top: 0;
	box-shadow: 0em 0.25em 0.5em #ccc;
}
.stacks .open-state > section,
.stacks .open-state > footer{
 	display: block;
}
.stacks .open-state > header{
 	background-color: #cce0d6;
}

 /* Temp */
  .stacks .open-state > section{
 height: 10em;
 }
