.stacks > li{
  list-style-type: none;
  margin: 0 -4.5em;
  border-bottom: 1px solid #FFF;
 }
.stacks > li > header{
	background-color: #d5ecea;
  padding: 0.2em 0.4em;
  text-transform: lowercase;
  font-variant: small-caps;
}
.stacks > li > section{
	background-color: #FFF;
	padding: 0.5em;
}
.stacks > li > footer{
	background-color: #e8f0f0;
	padding: 0.5em;
}
.stacks > li > footer .button{
	padding: 0.2em 0.4em;
}
.stacks > li > footer{
	background-color: #e8f0f0;
}

/* STATE: Compact */
.stacks > .compact-state > footer{
	display: none;
}

/* STATE: Not started */
.stacks > .not-started-state > section,
.stacks > .not-started-state > footer{
	display: none;
}

/* STATE: Open */
.stacks .open-state{
	margin: -1px -5.5em 0 -5.5em;
	padding: 0;
	border: 2px solid #7fb299;
	/* Box shadow 
	position: relative;
	z-index: 100;
	box-shadow: 0em 0em 0.2em #000;*/
}
.stacks .open-state > section,
.stacks .open-state > footer{
 	display: block;
}
.stacks .open-state > header{
 	background-color: #cce0d6;
}

 /* Temp */
  .stacks .open-state > section{
 height: 10em;
 }
