/* line 9 */
.option-1 article table {
  margin: 0;
  width: auto; }
  /* line 12 */
  .option-1 article table td, .option-1 article table th {
    border: 0 solid;
    background-color: transparent;
    padding: 0;
    margin: 0; }
/* line 27 */
.option-1 article table {
  margin-bottom: 2em;
  width: 100%; }
  /* line 30 */
  .option-1 article table th {
    border-bottom: 2px solid #bfc1c3; }
  /* line 33 */
  .option-1 article table td {
    border-bottom: 1px solid #bfc1c3; }
  /* line 36 */
  .option-1 article table th, .option-1 article table td {
    padding: 0.5em 0; }

/* line 9 */
.option-2 article table {
  margin: 0;
  width: auto; }
  /* line 12 */
  .option-2 article table td, .option-2 article table th {
    border: 0 solid;
    background-color: transparent;
    padding: 0;
    margin: 0; }
/* line 47 */
.option-2 article h3 + table {
  margin-top: 2em; }
/* line 50 */
.option-2 article table {
  width: 100%;
  margin: 1.5em 0 2.5em 0;
  background-color: #f8f8f8;
  outline: 1em solid #f8f8f8; }
  /* line 55 */
  .option-2 article table th, .option-2 article table td {
    padding: 0.5em 0; }
  /* line 58 */
  .option-2 article table th {
    padding-top: 0;
    border-bottom: 2px solid #bfc1c3; }
  /* line 62 */
  .option-2 article table td {
    border-bottom: 1px solid #bfc1c3; }
