---
---
@import "_panels.scss";

element.style {
background: #F2F2F2;
}

.search .results-wrapper {
  margin-left: 0.67em;
}

 .top-issues,{
background-color: #F2F2F2;
margin: 1em -1em 1.5em -1em;
padding: 1em 1em 0.25em 1em;
}

