---
---

  {% assign active_tab = "services" %}
  {% include performance-platform-nav/_alpha-beta-head.html %}

  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="alpha-beta.css">

  <body class="mainstream full-width">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a href="#content" class="visuallyhidden">Skip to main content</a>

    {% include performance-platform-nav/_alpha-nav-header.html %}

    <div id="wrapper" class="service">

      <section id="content" role="main" class="group platform">

        <header class="page-header group">
          <!-- <hgroup><h1><span></span>Services</h1></hgroup> -->
        </header>

        <div class="article-container group">
          <article role="article" class="group">
            <div class="inner">
                <img width="960px" src="licensing-overview.png" alt="some_text" usemap="#links">
                
                <map name="links">
                <area shape="rect" coords="0,5,70,30" href="performance.html" title="Google" alt="Google" />
                <area shape="rect" coords="630,70,750,100" href="licenses.html" title="Google" alt="Google" />
                </map>
              </div>
          </article>
        </div>
      </section>
    </div>
    <!--end wrapper-->

    {% include _footer.html %}
  </body>
</html>