body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Date_of_birth_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:26px;
    top:257px;
    width:828px;
    height:201px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:834px;
    height:207px;
}

.u1 {
    position:absolute;
    left:2px;
    top:92px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Date_of_birth_2_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:24px;
    top:478px;
    width:832px;
    height:272px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:278px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:828px;
    height:252px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:94px;
    width:1297px;
    height:44px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u7_container {
    position:absolute;
    left:13px;
    top:8px;
    width:434px;
    height:78px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u8 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:27px;
    top:107px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:587px;
    top:106px;
    width:270px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:50px;
    top:167px;
    width:145px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../Date_of_birth_2_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:39px;
}

.u15 {
    position:absolute;
    left:23px;
    top:157px;
    width:10px;
    height:39px;
    
}

.u16_normal {
    background-image: url('../Footer_files/u35_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:806px;
    width:880px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Date_of_birth_2_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:38px;
    top:268px;
    width:615px;
    height:179px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:621px;
    height:185px;
}

.u20 {
    position:absolute;
    left:2px;
    top:82px;
    width:611px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Date_of_birth_2_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:541px;
    top:269px;
    width:112px;
    height:113px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:112px;
    height:113px;
}

.u22 {
    position:absolute;
    left:2px;
    top:48px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:24px;
    top:210px;
    width:178px;
    height:44px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:50px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:174px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:147px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:38px;
    top:268px;
    width:616px;
    height:180px;
    overflow:hidden;
}

#pd7u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u30_normal {
    background-image: url('../Date_of_birth_2_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:90px;
    top:64px;
    width:350px;
    height:66px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:72px;
}

.u31 {
    position:absolute;
    left:2px;
    top:25px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:210px;
    top:105px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:90px;
    top:42px;
    width:340px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd6u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u38_normal {
    background-image: url('../Date_of_birth_2_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:90px;
    top:64px;
    width:350px;
    height:41px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:356px;
    height:47px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:346px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:90px;
    top:42px;
    width:340px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u45_normal {
    background-image: url('../Date_of_birth_2_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:100px;
    top:52px;
    width:238px;
    height:94px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:100px;
}

.u46 {
    position:absolute;
    left:2px;
    top:39px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:100px;
    top:30px;
    width:238px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:108px;
    top:121px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd4u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u53_normal {
    background-image: url('../Date_of_birth_2_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:100px;
    top:52px;
    width:238px;
    height:68px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:74px;
}

.u54 {
    position:absolute;
    left:2px;
    top:26px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:100px;
    top:30px;
    width:238px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u60 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:210px;
    top:105px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u65 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:108px;
    top:121px;
    width:257px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u70 {
    position:absolute;
    left:210px;
    top:73px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:280px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:360px;
    top:73px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:99px;
    top:75px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:616px;
    height:180px;
    
}

.u74 {
    position:absolute;
    left:108px;
    top:89px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:177px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:257px;
    top:89px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:108px;
    top:58px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:177px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:202px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u82_container {
    position:absolute;
    left:671px;
    top:257px;
    width:178px;
    height:44px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:50px;
}

.u83 {
    position:absolute;
    left:2px;
    top:13px;
    width:174px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

