body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Rationale_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:22px;
    top:223px;
    width:832px;
    height:574px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:838px;
    height:580px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:828px;
    height:587px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Pattern_Library_Header_files/u2_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:94px;
    width:1297px;
    height:44px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1303px;
    height:50px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:1293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pattern_Library_Header_files/u4_normal.png');
}

.u5_container {
    position:absolute;
    left:13px;
    top:8px;
    width:434px;
    height:78px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:434px;
    height:78px;
}

.u6 {
    position:absolute;
    left:2px;
    top:31px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:27px;
    top:107px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:664px;
    top:106px;
    width:193px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:79px;
    top:167px;
    width:145px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../Rationale_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:39px;
}

.u13 {
    position:absolute;
    left:21px;
    top:157px;
    width:10px;
    height:39px;
    
}

.u14_normal {
    background-image: url('../Rationale_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:46px;
    top:169px;
    width:6px;
    height:12px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:18px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-2px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Rationale_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:51px;
    top:174px;
    width:16px;
    height:2px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:8px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-7px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Rationale_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:65px;
    top:174px;
    width:2px;
    height:6px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:12px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-5px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Footer_files/u34_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:896px;
    width:880px;
    height:80px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:886px;
    height:86px;
}

.u21 {
    position:absolute;
    left:2px;
    top:32px;
    width:876px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

