---
---

@import "frontend_toolkit";

.govdelivery,
.print {
  display: block;
  padding: 0 10px 0 25px;
  margin-bottom: 10px;
  font-size: 14px;
  background: url(../images/mail-icon.png) 0 40% no-repeat;
}
.print {
  background: url(../images/print-icon.png) 0 40% no-repeat;
}

.manual-header {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 1020px;
  .inner-block {
    background-color: #2b8cc4;
    color: #fff;
    padding: 60px 30px 30px;
    margin: 0 30px;
    overflow: hidden;

    a {
      color: #fff;
    }

    .headings {
      float: left;
      width: 66.66%;
      h1 {
        @include core-36;
        font-weight: bold;
        line-height: 1;
        margin: 0 30px 60px 0;
      }
    }

    .metadata-date {
      float: left;
      width: 33.33%;
      dl {
        margin: 0;
        dt,
        dd {
          line-height: 1.3;
        }
        dt {
          font-size: 14px;
        }
        dd {
          font-size: 19px;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .metadata-list {
      clear: both;
      float: left;
      width: 66.66%;
      dl {
        dt,
        dd {
          @include core-14;
          float: left;
          margin-left: 0;
          a {
            color: #fff;
          }
        }
        dt {
          clear: both;
          padding-right: 15px;
          min-width: 100px;
        }
        dd {
          margin-bottom: 5px;
          width: 75%;
        }
      }
    }

    #header-search {
      float: left;
      padding-top: 10px;
      width: 33.33%;

      .header-search-content {
        position: relative;
        background: #fff;
      }
      label {
        float: none;
        position: absolute;
        left: 0;
        top: 1px;
        z-index: 1;
        width: 100%;
        margin-right: 0;

        height: 40px;
        line-height: 40px;
        text-indent: 15px;
        overflow: hidden;
        display: block;
        color: #6f777b;

      }
      #search-main {
        font-family: "nta",Arial,sans-serif;
        font-size: 19px;
        line-height: 1.47368;
        font-weight: 400;
        margin: 0;
        text-transform: none;
        position: relative;
        padding: 6px;
        background: transparent;
        width: 82%;
        z-index: 3;
        &:focus {
          background-color: #fff;
        }
      }
      .submit {
        position: absolute;
        z-index: 4;
        right: 0;
        top: 0;
        width: 40px;
        height: 41px;
        border: 1px solid #0b0c0c;
        border-width: 0 0 0 1px;
        border-left-color: #222;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        overflow: hidden;
        text-indent: -5000px;
        cursor: pointer;
        color: #fff;
        background: #0b0c0c url("https://assets.digital.cabinet-office.gov.uk/frontend/homepage/search-button.png") no-repeat 2px 50%;
      }
    }

  }
}

.statment-of-changes {
  font-size: 14px;
  margin: 0;
}

.border-none li {
  border: none !important;
}

.content-page{
  position:relative;
}
.new-manuals {

  p, dd, dl, dt, li {
    font-size: 19px;
  }

  dd {
    margin-top:1em;
  }

  ol {
    margin-left: 1.5em;
  }

  .breadcrumb-trail {
    font-size:16px;
    margin:10px 0 0 0;
    padding:0 0 10px;
    border-bottom: 1px solid #bfc1c3;

    strong {
      font-weight:bold;
    }
    li {
      background-image: image-url("../images/separator.png");
      background-position: 100% 10%;
      background-repeat: no-repeat;
      display: inline;
      list-style: none;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0 20px 0 0;

      &:first-child {
        margin-left:0;
      }
      &.last-child {
        background-image:none;
        color: $secondary-text-colour;
      }
    }
  }

  .manual-content {
    width:66.66%;
    margin-top:1em;
  }

  .summary {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-bottom:30px;
  }
  h1, h2, h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 27px;
    margin-top:15px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {

    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    font-weight: bold;
    padding: 10px 15px 10px 0;
    text-decoration: none;
    display: block;
    position: relative;
    border-top: 1px solid #bfc1c3;

    a {
      text-decoration: none;
    }

    h3:hover {
      background-color: #f8f8f8;
    }
  }

  th {
    line-height: 1.25em;
    text-align: left;
    font-weight: 700;
    border-bottom: solid 1px #bfc1c3;
  }
  td {
    border-bottom: solid 1px #bfc1c3;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    vertical-align: top;
    padding: 0.7em 0.5em 0.7em 0;
  }

  &.content-page h3 {
    margin-top:30px;
  }
  nav {
    h2 {
      margin:15px 0;
    }
    h3 {
      border-top:none
    }
    ol {
      margin-left: 0;
    }

    li {
      font-size: 19px;
      line-height: 1.31579;
      font-weight: 400;
      font-weight: bold;
      padding: 10px 15px 10px 0;
      text-decoration: none;
      display: block;
      position: relative;
      border-top: 1px solid #bfc1c3;


      &:hover {
        background-color: #f8f8f8;

      }
      a {
        text-decoration: none;
        width:100%;
        display:block;
      }
    }
  }

  .up-nav {
    position:absolute;
    right: 0;
    font-size:30px;
    font-weight:bold;
    text-decoration:none;

  }

  .up-nav.fixed {
    top:0;
    left:50%;
    margin-left:232px;
    position:fixed;
  }
}
