---
---

a {
  color: #000 !important;
  text-decoration: none;
  &:after {
    text-decoration: none;
  }
}

.manual-header .inner-block {
  color: #000 !important;
  padding: 0 0 30px !important;
  margin: 0;

  .metadata-date {
    margin-bottom: 0;
  }

  .headings h1 {
    font-size: 36px;
    margin-top: 0;
  }
}

form,
.open-close,
.back-to-contents,
.feeds .print,
.govdelivery,
.close-this {
  display: none !important;
}

.contents ol {
  li {
    border-bottom: none;
  }
  &+ p {
    clear: both;
  }
}

.govdelivery {
  padding-left: 0;
}

.contents .hidden-content,
.contents .hidden-content-secondary {
  display: block;
}

.subpage-metadata {
  clear: none;
}

ol {
  clear: both;
  width: 100%;

  .intro {
    clear: both;
    float: left;
    width: 30%;
    h3 {
      font-size: 19px;
    }
  }

  .hidden-content {
    float: right;
    padding-top: 0;
    margin: 0 0 60px 0;
    width: 66.66%;
  }
}

.main-contents {
  width: 100%;
  .hidden-content {
    h4:first-child {
      margin-top: 0;
    }
    ul {
      padding-left: 20px;
    }
  }
}
