body {
    margin: 0px;
    background-color: #EEEEEE;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Landing_Page_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1460px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1466px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:1456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Landing_Page_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:207px;
    top:42px;
    width:720px;
    height:37px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:43px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:222px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:297px;
    top:53px;
    width:55px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Landing_Page_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:274px;
    top:57px;
    width:10px;
    height:10px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Landing_Page_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:3px;
    width:720px;
    height:5px;
}

.u8 {
    position:absolute;
    left:207px;
    top:76px;
    width:720px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../Landing_Page_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:867px;
    top:43px;
    width:55px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Landing_Page_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:207px;
    top:83px;
    width:725px;
    height:3527px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:731px;
    height:3533px;
}

.u13 {
    position:absolute;
    left:2px;
    top:1756px;
    width:721px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:167px;
    top:3px;
    width:116px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:302px;
    top:11px;
    width:217px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_image_sketch {
    background-image: url('../Landing_Page_files/u16_image_sketch.png');
    position:absolute;
    left:965px;
    top:5px;
    width:226px;
    height:31px;
}

.u16 {
    position:absolute;
    left:968px;
    top:8px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: 'Chalkboard';
}

.u17_normal {
    background-image: url('../Landing_Page_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:1190px;
    top:8px;
    width:65px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:61px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:294px;
    top:128px;
    width:610px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Landing_Page_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:220px;
    top:98px;
    width:70px;
    height:70px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u21 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:297px;
    top:102px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Landing_Page_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:209px;
    top:342px;
    width:720px;
    height:340px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:346px;
}

.u25 {
    position:absolute;
    left:2px;
    top:162px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Landing_Page_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:696px;
    top:359px;
    width:214px;
    height:76px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u27 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:767px;
    top:372px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Landing_Page_files/u26_normal.png');
}

.u29_container {
    position:absolute;
    left:461px;
    top:359px;
    width:214px;
    height:76px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u30 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Landing_Page_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:713px;
    top:374px;
    width:48px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Landing_Page_files/u26_normal.png');
}

.u33_container {
    position:absolute;
    left:227px;
    top:359px;
    width:214px;
    height:76px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:82px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:532px;
    top:370px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Landing_Page_files/u31_normal.png');
}

.u36_container {
    position:absolute;
    left:475px;
    top:372px;
    width:48px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:297px;
    top:370px;
    width:146px;
    height:50px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Landing_Page_files/u31_normal.png');
}

.u39_container {
    position:absolute;
    left:243px;
    top:372px;
    width:48px;
    height:50px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:56px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:44px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:228px;
    top:260px;
    width:430px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Landing_Page_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:696px;
    top:436px;
    width:214px;
    height:226px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:232px;
}

.u43 {
    position:absolute;
    left:2px;
    top:105px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Landing_Page_files/u42_normal.png');
}

.u44_container {
    position:absolute;
    left:461px;
    top:436px;
    width:214px;
    height:226px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:232px;
}

.u45 {
    position:absolute;
    left:2px;
    top:105px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Landing_Page_files/u42_normal.png');
}

.u46_container {
    position:absolute;
    left:227px;
    top:436px;
    width:214px;
    height:226px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:232px;
}

.u47 {
    position:absolute;
    left:2px;
    top:105px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Landing_Page_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:358px;
    top:451px;
    width:71px;
    height:69px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:71px;
    height:69px;
}

.u49 {
    position:absolute;
    left:2px;
    top:26px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Landing_Page_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:239px;
    top:451px;
    width:101px;
    height:69px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:69px;
}

.u51 {
    position:absolute;
    left:2px;
    top:26px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Landing_Page_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:260px;
    top:462px;
    width:55px;
    height:34px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:40px;
}

.u53 {
    position:absolute;
    left:2px;
    top:9px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_line {
    background-image: url('../Landing_Page_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:0px;
    top:3px;
    width:54px;
    height:5px;
}

.u54 {
    position:absolute;
    left:321px;
    top:487px;
    width:54px;
    height:10px;
    
}

.u55_line {
    background-image: url('../Landing_Page_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:0px;
    top:3px;
    width:22px;
    height:5px;
}

.u55 {
    position:absolute;
    left:382px;
    top:459px;
    width:22px;
    height:10px;
    
}

.u56_normal {
    background-image: url('../Landing_Page_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:270px;
    top:462px;
    width:40px;
    height:34px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:40px;
}

.u57 {
    position:absolute;
    left:2px;
    top:9px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_line {
    background-image: url('../Landing_Page_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:3px;
    width:29px;
    height:5px;
}

.u58 {
    position:absolute;
    left:274px;
    top:464px;
    width:29px;
    height:10px;
    
}

.u59_normal {
    background-image: url('../Landing_Page_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:472px;
    top:453px;
    width:73px;
    height:65px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:73px;
    height:65px;
}

.u60 {
    position:absolute;
    left:2px;
    top:24px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../Landing_Page_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:0px;
    top:3px;
    width:27px;
    height:5px;
}

.u61 {
    position:absolute;
    left:485px;
    top:460px;
    width:27px;
    height:10px;
    
}

.u62_normal {
    background-image: url('../Landing_Page_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:541px;
    top:458px;
    width:59px;
    height:59px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:59px;
}

.u63 {
    position:absolute;
    left:2px;
    top:22px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Landing_Page_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:601px;
    top:459px;
    width:58px;
    height:57px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:57px;
}

.u65 {
    position:absolute;
    left:2px;
    top:20px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Landing_Page_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:728px;
    top:450px;
    width:50px;
    height:66px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:66px;
}

.u67 {
    position:absolute;
    left:2px;
    top:25px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Landing_Page_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:736px;
    top:472px;
    width:26px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Landing_Page_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:811px;
    top:445px;
    width:79px;
    height:69px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:79px;
    height:69px;
}

.u71 {
    position:absolute;
    left:2px;
    top:26px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Landing_Page_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:781px;
    top:467px;
    width:39px;
    height:27px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:27px;
}

.u73 {
    position:absolute;
    left:2px;
    top:6px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../Landing_Page_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:3px;
    width:195px;
    height:5px;
}

.u74 {
    position:absolute;
    left:706px;
    top:518px;
    width:195px;
    height:10px;
    
}

.u75_line {
    background-image: url('../Landing_Page_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:3px;
    width:195px;
    height:5px;
}

.u75 {
    position:absolute;
    left:472px;
    top:518px;
    width:195px;
    height:10px;
    
}

.u76_line {
    background-image: url('../Landing_Page_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:0px;
    top:3px;
    width:195px;
    height:5px;
}

.u76 {
    position:absolute;
    left:236px;
    top:518px;
    width:195px;
    height:10px;
    
}

.u77 {
    position:absolute;
    left:704px;
    top:537px;
    width:199px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:475px;
    top:537px;
    width:191px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:232px;
    top:537px;
    width:210px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Landing_Page_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:241px;
    top:614px;
    width:189px;
    height:34px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:40px;
}

.u81 {
    position:absolute;
    left:2px;
    top:10px;
    width:185px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Landing_Page_files/u80_normal.png');
}

.u82_container {
    position:absolute;
    left:711px;
    top:612px;
    width:189px;
    height:34px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:40px;
}

.u83 {
    position:absolute;
    left:2px;
    top:10px;
    width:185px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:504px;
    top:578px;
    width:123px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:226px;
    top:725px;
    width:430px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:227px;
    top:770px;
    width:685px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Landing_Page_files/u68_normal.png');
}

.u87_container {
    position:absolute;
    left:578px;
    top:953px;
    width:26px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:228px;
    top:302px;
    width:283px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:226px;
    top:826px;
    width:430px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:227px;
    top:860px;
    width:685px;
    height:54px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:745px;
    top:578px;
    width:123px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:271px;
    top:578px;
    width:123px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

