<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <link href="https://d17tffe05zdvwj.cloudfront.net/static/application-ba563c2df4c237b7b1115600e5068f1f.css" media="screen" rel="stylesheet" type="text/css">
    <link class="wordsdifficult" href="https://d17tffe05zdvwj.cloudfront.net/static/wordsdifficult-ed25a7ddb7892df5392b85f0c6cf87b9.css" media="screen" rel="alternate stylesheet" title="I find words difficult" type="text/css">
    {% if page.css  %}
    <link rel="stylesheet" href="{{ page.css }}" />
    {% endif %}
    <script src="https://d17tffe05zdvwj.cloudfront.net/static/libs/jquery/jquery-1.7.2.min-1c1a867d9c03290dff478512f3cc546a.js" type="text/javascript"></script>
    <script src="https://d17tffe05zdvwj.cloudfront.net/static/libs/jquery/plugins/carousel-5cb9eb98c42034deb743736e96ab6d35.js" type="text/javascript"></script>
    <script defer src="https://d17tffe05zdvwj.cloudfront.net/static/application-17ac6224e644197e0ef0fae154fe1aa2.js" type="text/javascript"></script>
    <script type="text/javascript">
    setTimeout(function(){var a=document,g,b={families:(g=
      ["Gill","Sassoon"]),urls:["https://fast.fonts.com/cssapi/172cb3ce-d500-423b-9495-ef65783e8f1d.css"]},
      c="https://d17tffe05zdvwj.cloudfront.net/static/libs/goog/webfont-debug-2783b718194426b4d6482b0d26f348e0.js",d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
        .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
    </script>
    
    {% if page.js %}
    <script src="{{ page.js }}" type="text/javascript"></script>
    {% endif %}
  </head>
  <body class="citizen">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    <header role="banner" class="group" id="global-header">
      <div class="header-global group">
        <h1><a href="/" title="Go to the gov.uk homepage">GOV.UK</a></h1>
        <nav role="navigation">
          <ul>
            <li><a href="/settings" class="customisation-settings">Settings</a></li>
            <li><a href="/help">Help</a></li>
            <li id="gs-feedback"><a href="/feedback">Feedback</a></li>
          </ul>
        </nav>
        <div class="search-help">
          <form id="search" class="site-search" action="/search" method="get" role="search">
            <label for="site-search-text" class="visuallyhidden">
              <span>Search</span>
            </label>
            <input type="search" name="q" id="site-search-text" title="Search"><input type="submit" value="Search" class="button">
          </form>
        </div>
      </div>
    </header>
    <nav role="navigation" class="header-context">
      <div class="beta-notice">
        <div class="inner">
          <p><a href="http://digital.cabinetoffice.gov.uk/2012/02/01/govuk-beta-day1/">BETA</a></p>
        </div>
      </div>
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
      </ol>
    </nav>
    
    <div id="wrapper" class="wrapper">
      <section id="content" role="main" class="group {{ page.section_class }}">
        <header class="page-header group">
          <hgroup>
            <h1>
              <span>{{ page.categories }}</span>
              {{ page.title }}
            </h1>
          </hgroup>
        </header>
        
        {{ content }}
      </section>
    </div><!--end wrapper-->
    <footer class="group" id="footer" role="contentinfo">
      <div class="beta-notice">
        <p>This is a <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">test website</a>, so may be inaccurate or misleading. The official website remains <a href="http://www.direct.gov.uk">Directgov</a> and the website of the <a href="http://www.cabinetoffice.gov.uk/content/list-government-departments-and-ministers">relevant government department or organisation</a></p>
      </div>
      <div class="inner group">
        <div class="colophon-and-help">
          <nav class="help">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
          </nav>
          <div class="colophon">
            <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
            <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; Crown Copyright</p>
        </div>
      </div>
    </footer>
  </body>
</html>