<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- References static preview assets -->
    <link href="http://static.preview.alphagov.co.uk/static/admin/jquery-ui-1.8.14.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/normalize.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/core.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/header-footer.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/text.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/ancillary-pages.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/accessibility.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/search.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/homepage.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/error-pages.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/tour.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/publisher.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/multi-step.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/application.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/fonts.css?body=1" media="screen" rel="stylesheet" type="text/css">

    <script src="http://static.preview.alphagov.co.uk/static/libs/jquery/jquery-1.7.2.min.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/jquery-ui-1.8.16.custom.min.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/plugins/jquery.base64.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/plugins/jquery.mustache.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/search.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/search-top-trumps.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/core.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/devolution.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/popup.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/geo-locator.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/customisation-settings.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/welcome.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/browse.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/application.js?body=1" type="text/javascript"></script>
    
    <!--[if lt IE 9]>
    <script src="http://static.preview.alphagov.co.uk/static/html5.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/selectivizr-min.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/json2.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/ie.js?body=1" type="text/javascript"></script>
    <![endif]-->
    
    <link rel="shortcut icon" href="http://static.preview.alphagov.co.uk/static/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-144x144.png">
    <!-- For iPhone with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-114x114.png">
    <!-- For first- and second-generation iPad: --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --><link rel="apple-touch-icon-precomposed" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-57x57.png">        
    
    {% if page.css  %}
    <link rel="stylesheet" href="{{ page.css }}" />
    {% endif %}

    {% if page.js  %}
    <script defer src="{{ page.js }}" type="text/javascript"></script>
    {% endif %}

    <meta name="viewport" content="width=device-width,initial-scale=1">
    
  </head>
  <body class="citizen mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    <header role="banner" class="group" id="global-header">
      <div class="header-global group">
        <h1><a href="/" title="Go to the gov.uk homepage">GOV.UK</a></h1>
        <nav role="navigation">
          <ul>
            <li><a href="/settings" class="customisation-settings">Settings</a></li>
            <li><a href="/help">Help</a></li>
            <li id="gs-feedback"><a href="/feedback">Feedback</a></li>
          </ul>
        </nav>
        <div class="search-help">
          <form id="search" class="site-search" action="/search" method="get" role="search">
            <label for="site-search-text" class="visuallyhidden">
              <span>Search</span>
            </label>
            <input type="search" name="q" id="site-search-text" title="Search"><input type="submit" value="Search" class="button">
          </form>
        </div>
      </div>
    </header>
    <nav role="navigation" class="header-context">
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">{{ page.category }}</a></li>
      </ol>
    </nav>
    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">
      {{ content }}
    </div><!--end wrapper-->
    <footer class="group" id="footer" role="contentinfo">
      <div class="inner group">
        <div class="colophon-and-help">
          <nav class="categories">
            <!--<h1>GOV.UK is the UK government website for information on:</h1>-->
            <!--<h1>Explore GOV.UK</h1>-->
            <!--<h1>Search for information on:</h1>-->
            <h1>Find out more from the UK government about:</h1>
            <ul>
              <li><a href="/">Business, work and employment</a></li>
              <li><a href="/">Money, benefits and tax</a></li>
              <li><a href="/">Travel and transport</a></li>
              <li><a href="/">Crime, justice and the law</a></li>
              <li><a href="/">Housing and local services</a></li>
              <li><a href="/">Family</a></li>
              <li><a href="/">Citizenship and life in the UK</a></li>
              <li><a href="/">Education</a></li>
              <li><a href="/">UK Government</a></li>
            </ul>
          </nav>
          <nav class="help">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
              <li><a href="/">Feedback</a></li>
            </ul>
          </nav>
          <div class="colophon">
            <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
            <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; Crown Copyright</p>
        </div>
      </div>
    </footer>
  </body>
</html>
