<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- References local (probably out of date) copies of assets. Only use if you need to work offline temporarily -->
    <link href="/static/insidegov-refactoring.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/static/application.css" media="screen" rel="stylesheet" type="text/css">
    <link class="wordsdifficult" href="../static/wordsdifficult.css" media="screen" rel="alternate stylesheet" title="I find words difficult" type="text/css">
    <link href="https://www.gov.uk/government/assets/website-5a64276c31414cac40d9e7557318c251.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/static/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/carousel.js" type="text/javascript"></script>
    <script defer src="/static/application.js" type="text/javascript"></script>    
  </head>



<body class="website government">
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>

  <header role="banner" class="group" id="global-header"><div class="header-global group">
      <h1><a href="/" title="Go to the gov.uk homepage">GOV.UK</a></h1>
      <nav role="navigation"><ul>
<li><a href="/settings" class="customisation-settings">Settings</a></li>
          <li><a href="/help">Help</a></li>
          <li id="gs-feedback"><a href="/feedback">Feedback</a></li>
        </ul></nav><div class="search-help">
        <form id="search" class="site-search" action="/government/search" method="get" role="search">
          <label for="site-search-text" class="visuallyhidden">
            <span>Search</span>
          </label>
          <input type="search" name="q" id="site-search-text" title="Search"><input type="submit" value="Search" class="button">
</form>
      </div>
    </div>

  </header><!--end header--><div class="header-context group"><!-- deliberately empty --></div>
<div id="wrapper" class="publications-index">
      <nav class="group" id="global-nav" role="navigation"><div class="inner">
          <ul>
<li id="inside_gov_link"><a href="/government/home" class="home">Inside government</a></li>
            <li><a href="/government/news-and-speeches" class="primary">News</a></li>
            <li><a href="/government/policy-topics" class="primary">Policy</a></li>
            <li><a href="/government/publications" class="primary current">Publications</a></li>
            <li><a href="/government/consultations" class="">Consultations</a></li>
            <li><a href="/government/ministers" class="">Ministers</a></li>
            <li><a href="/government/organisations" class="">Departments</a></li>
            <li><a href="/government/world" class="">UK &amp; the world</a></li>
          </ul>
</div>
      </nav><div id="content" class="group">
        
<div class="g4">
  <header class="page_header publication icon"><h1 class="page_title">{{ page.title }}</h1>
  </header>
  {{ content }}
</div>


</div>
    </div>
<!--end wrapper-->

  <footer class="group" id="footer" role="contentinfo"><div class="beta-notice">
      <p>This is a <a href="http://digital.cabinetoffice.gov.uk/2012/01/31/beta/">test website</a>, so may be inaccurate or misleading. The official website remains <a href="http://www.direct.gov.uk">Directgov</a> and the website of the <a href="http://www.cabinetoffice.gov.uk/content/list-government-departments-and-ministers">relevant government department or organisation</a></p>
    </div>
    <div class="inner group">
      <div class="colophon-and-help">
        <nav class="help"><ul>
<li><a href="/help">Help</a></li>
            <li><a href="/help/cookies">Cookies</a></li>
          </ul></nav><div class="colophon">
          <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
          <p>Built by the <a href="http://digital.cabinetoffice.gov.uk">Government Digital Service</a></p>
        </div>
      </div>
      <div class="copyright">
        <p>© Crown Copyright</p>
      </div>
    </div>

    <div id="govuk-feedback">
      <h2>How could this page be better?</h2>
<p class="close"><a href="#">Close</a></p>
      <form method="POST" action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEtacjNNZzFyRkliYUtFRWp1eTl6Snc6MQ">
        <label class="ss-q-help" for="entry_0">Your feedback</label>
        <div id="feedback-options">
          <select name="entry.0.single" id="entry_0"><option value="I don't understand something on this page">I don't understand something on this page</option>
<option value="I have some feedback about the site">The information could be clearer</option>
<option value="Something went wrong or doesn't work">Something is wrong or doesn't work</option></select>
</div>
        <div id="feedback-mechanism">
          <label for="feedback-form">Your comment: </label><textarea name="entry.2.single" class="ss-q-long" id="entry_2"></textarea><input type="hidden" name="entry.3.single" value="no javascript" class="ss-q-short" id="entry_3"><input type="submit" value="Send" class="button">
</div>
      </form>
      <p><small>This feedback is anonymous.  Please don't include your email address or other contact information.  If you would like to receive a response, please see our <a href="/feedback">other methods of feedback.</a></small></p>
    </div>

  </footer><!--end footer--><div id="global-app-error" class="app-error hidden"></div>

</body>
</html>
