<!DOCTYPE html>
<html>
  <head>
    {% include _head.html %}           
  </head>
  <body class="mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.html %}
    <div id="global-breadcrumb" class="header-context">
      <nav role="navigation" class="header-context">
        <ol class="group">
          <li><a href="#">Home</a></li>
          <li><a href="#">Section</a></li>
        </ol>
      </nav>
    </div>
    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">
    {{ content }}
    </div><!--end wrapper-->
    {% include _footer.html %}
  </body>
</html>
