<!DOCTYPE html>
<html>
  <head>
    {% include _head.html %} 
  </head>
  <body class="mainstream{% if page.body_class  %} {{ page.body_class }}{% endif %}">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.html %}
    {% include _navigation.html %}
      {{ content }}
    {% include _footer.html %}
  </body>
</html>
