<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% include _head.html %}
    <link rel="stylesheet" href="/manuals/assets/stylesheets/manuals.css" />  
    <link href="/manuals/assets/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
  </head>
  <body class="mainstream{% if page.body_class  %} {{ page.body_class }}{% endif %}">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.html %}
    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">
      <header class="manual-header">
        <div class="inner-block floated-children">
          <div class="headings">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.update %}
            <aside class="metadata-date">
              <dl>
                <dt>Document updated:</dt>
                <dd>{{ page.update }}</dd>
              </dl>
              {% if page.statment_of_changes_url %}
               <p class="statment-of-changes"><a href="{{ page.statment_of_changes_url }}">Statement of changes</a></p>
              {% endif %}
            </aside>
          {% endif %}
          <aside class="metadata-list">
            <dl>
              {% if page.meta_policy %}
                <dt>Part of:</dt>
                <dd><a href="{{ page.meta_policy_url }}">{{ page.meta_policy }}</a>
              {% endif %}
              {% if page.meta_sector %}
                and <a href="{{ page.meta_sector_url }}">{{ page.meta_sector }}</a></dd>
              {% endif %}
              {% if page.meta_collection %}
                <dt>Collections:</dt>
                <dd><a href="{{ page.meta_collection_url }}">{{ page.meta_collection }}</a></dd>
              {% endif %}
              {% if page.meta_organisation %}
                <dt>Published by:</dt>
                <dd>
                  <a href="{{ page.meta_organisation_url }}">{{ page.meta_organisation }}</a>
                  {% if page.meta_organisation_secondary %}
                    and <a href="{{ page.meta_organisation_secondary_url }}">{{ page.meta_organisation_secondary }}</a>
                  {% endif %}
                </dd>
              {% endif %}
            </dl>
          </aside>
          <form id="header-search" class="site-search" action="/search" method="get" role="search">
            <div class="header-search-content">
              <label for="search-main">Search this document</label>
              <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
            </div>
          </form>
        </div>
      </header>
      <main id="content" role="main" class="">
        {{ content }}
      </main>
    </div><!--end wrapper-->
    {% include _footer.html %}
  </body>
</html>
