<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en" class="">
<!--<![endif]--><head>
{% include _head.new.html %}
  </head>


  <body class="mainstream full-width">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.new.html %}
    {% include _navigation.html %}

    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">

      <section id="content" role="main" class="group category-page">

          <header class="page-header group">
            <hgroup class="full-width">
              <h1><span>{{ page.categories }}</span> {{ page.title }} {% if page.fromdept  %}{% include _from-dept.html %}{% endif %}</h1>
            </hgroup>
          </header>
          
          <div class="browse-container full-width group">
              {{ content }}
          </div>

      </section>




    </div><!--end wrapper-->
    {% include _footer.new.html %}
  </body>
</html>
