<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="https://d17tffe05zdvwj.cloudfront.net/static/application-c98b0f836bb9e57ae7ec51d36dedf224.css" media="screen" rel="stylesheet" type="text/css">
    <link class="wordsdifficult" href="https://d17tffe05zdvwj.cloudfront.net/static/wordsdifficult-ed25a7ddb7892df5392b85f0c6cf87b9.css" media="screen" rel="alternate stylesheet" title="I find words difficult" type="text/css">
    <script src="https://d17tffe05zdvwj.cloudfront.net/static/libs/jquery/jquery-1.7.2.min-1c1a867d9c03290dff478512f3cc546a.js" type="text/javascript"></script>
    <script src="https://d17tffe05zdvwj.cloudfront.net/static/libs/jquery/plugins/carousel-5cb9eb98c42034deb743736e96ab6d35.js" type="text/javascript"></script>
    <script defer src="https://d17tffe05zdvwj.cloudfront.net/static/application-17ac6224e644197e0ef0fae154fe1aa2.js" type="text/javascript"></script>
  
    <!-- Suppress BETA popup -->
    <script type="text/javascript">$(function(){setCookie(activeCookieName(), "dismiss", 7);return;});</script>
    
  </head>
  <body class="citizen mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.html %}
    <nav role="navigation" class="header-context">
      <div class="beta-notice">
        <div class="inner">
          <p><a href="http://digital.cabinetoffice.gov.uk/2012/02/01/govuk-beta-day1/">BETA</a></p>
        </div>
      </div>
      <ol class="group">
        <li><a href="#">Home</a></li>
        <li><a href="#">Section</a></li>
      </ol>
    </nav>
    <div id="wrapper" class="design-principles">
      <section id="content" role="main" class="group">
        <header class="page-header group">
          <hgroup>
            <h1><span>{{ page.categories }}</span> {{ page.title }}</h1>
          </hgroup>
        </header>
        <div class="article-container group">
          <article role="article" class="group">
            <div class="inner">
              {{ content }}
            </div>
          </article>
        </div>
      </section>
    </div><!--end wrapper-->
    {% include _footer.html %}
  </body>
</html>
