<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en" class="">
<!--<![endif]--><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>

    {% if page.assets == 'local' %}
        {% comment %} References local assets, for working temporarily offline {% endcomment %}
        {% include _head.local.html %}
    {% else %}
        {% comment %} References assets on static.preview, {% endcomment %}
        {% include _head.static.preview.html %}
    {% endif %}

    {% if page.css  %}

    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ page.css }}" />
    <!--<![endif]-->
    <!--[if IE 6]><link href="assets/css/ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="assets/css/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="assets/css/ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    {% endif %}

    {% if page.js  %}
    <script defer src="{{ page.js }}" type="text/javascript"></script>
    {% endif %}

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>


  <body class="mainstream {{ page.template }}">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    <header role="banner" class="group" id="global-header"><div class="header-wrapper group">
        <a href="/" title="Go to the gov.uk homepage" id="logo"><img src="https://assets-origin.preview.alphagov.co.uk/static/gov.uk_logotype_beta.png" alt="GOV.UK Logo"></a>

        <a href="#footer" class="visuallyhidden">Skip to footer navigation</a>

      </div>
    </header><!--end header-->

    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">

      <section id="content" role="main" class="group"><!--<div class="pattern-status">{{ page.status }}</div>--><header class="page-header group"><hgroup>
          {% if page.signed-in != 'none' %}
              <div class="account-management-tools">
              <ul>
                {% if page.signed-in == 'yes' %}<li class="user">Signed in as Tim Paul</li>
                <li><a href="sign-out.html">Sign out</a></li>
                <li><a href="account.html">Your account</a></li>
                <li><a href="dashboard.html">Your LPAs</a></li>

                {% endif %}

                {% if page.signed-in != 'yes' %}
                <li><a href="sign-in.html">Sign in</a></li>{% endif %}
              </ul>
            </div>
            {% endif %}

        <h1>{{ page.title }}</h1></hgroup></header><div class="article-container group">
        <article role="article" class="group">
          <div class="inner">
              {{ content }}
            </div>
            </article>
          </div>
      </section>
    </div><!--end wrapper-->
    {% include _footer.html %}
  </body>
</html>
