<!DOCTYPE html>
<html class="no-branding">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- References static preview assets -->
    <link href="http://static.preview.alphagov.co.uk/static/admin/jquery-ui-1.8.14.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/normalize.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/core.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/header-footer.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/text.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/ancillary-pages.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/accessibility.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/search.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/homepage.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/error-pages.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/static-pages/tour.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/publisher.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/multi-step.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/application.css?body=1" media="screen" rel="stylesheet" type="text/css">
    <link href="http://static.preview.alphagov.co.uk/static/fonts.css?body=1" media="screen" rel="stylesheet" type="text/css">

    <script src="http://static.preview.alphagov.co.uk/static/libs/jquery/jquery-1.7.2.min.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/jquery-ui-1.8.16.custom.min.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/plugins/jquery.base64.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/libs/jquery/plugins/jquery.mustache.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/search.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/search-top-trumps.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/core.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/devolution.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/popup.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/geo-locator.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/customisation-settings.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/welcome.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/browse.js?body=1" type="text/javascript"></script>
    <script defer src="http://static.preview.alphagov.co.uk/static/application.js?body=1" type="text/javascript"></script>
    
    <!--[if lt IE 9]>
    <script src="http://static.preview.alphagov.co.uk/static/html5.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/selectivizr-min.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/json2.js?body=1" type="text/javascript"></script>
    <script src="http://static.preview.alphagov.co.uk/static/ie.js?body=1" type="text/javascript"></script>
    <![endif]-->
    
    <link rel="shortcut icon" href="http://static.preview.alphagov.co.uk/static/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-144x144.png">
    <!-- For iPhone with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-114x114.png">
    <!-- For first- and second-generation iPad: --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --><link rel="apple-touch-icon-precomposed" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-57x57.png">

    <meta name="viewport" content="width=device-width">  
    
    {% if page.css  %}<link rel="stylesheet" href="{{ page.css }}" />{% endif %}
    
  </head>
  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

      <section id="content" role="main" class="group">
        <header class="page-header group">
          <hgroup>
            <h1>{{ page.title }}</h1>
          </hgroup>
        </header>
    
        <article role="article" class="group">
          {{ content }}
        </article>
      </section>

    </div><!--end wrapper-->
  </body>
</html>
