/* see multi-step.css.erb in the static repo for most of these styles */

#search-sectors {
  margin-left: 0;
}

.search-picker ul,
.picked-items ul {
  margin: 0 0 0 -2.1em;
  padding-left: 2.1em;
}

.search-picker ul,
.picked-items ul {
  margin: 0 0 0 -2.4em;
}

.step.current,
.article-container.finished,
header.page-header hgroup {
  margin-right: 0;
}

.step.current .hint:first-child {
  margin-top: 0.25em;
}

/* reset margin on start */
.start-page header.page-header hgroup {
  margin-right: 15em;
}

.current-question h2 {
  /*font-size: 1em;*/
}

a.add {
  float: right;
  padding-left: 0.25em;
  *float: none;
}

.search-picker li:nth-child(even),
#sector-navigation ul ul li:nth-child(even) {
  background-color: #f8f7ee;
}

.picked-items {
  background-color: #d5ecea;
  margin-left: 55%;
  padding: 0.5em 3.5% 1.5em 3.5%;
  width: 38%;
}

.lte-ie8 .picked-items {
  *width: 310px;
  *padding: 8px 10px 24px 10px;
}

.picked-items h3 {
  font-size: 1.1875em;
}

.picked-items .button {
  display: inline-block;
}

.picked-items ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.picked-items ul li,
.search-picker ul li {
  padding: 0.25em 0.3em;
  margin-bottom: 0.25em;
  list-style-type: none;
  overflow: hidden; /* contain floats */
  zoom: 1;
}

.picked-items ul li:nth-child(even) {
  background-color: #e8f0f0;
}

#sector-navigation ul li span,
.search-picker ul li span,
.picked-items ul li span {
  display: inline-block;
  width: 75%;
}

.picked-items ul li a {
  float: right;
  padding-left: 0.25em;
  *float: none;
}

.picked-items .button-container {
  margin-top: 1.5em;
  text-align: right;
}

.browse-container,
.search-container {
  clear: left;
  float: left;
  width: 45%;
}

.browse-container {
  margin-top: 1.25em;
}

.browse-container .or-browse {
  margin-top: 0;
}

.browse-container h3 {
  font-size: 1.1875em;
  margin-top: 0;
}

/* sector navigation widget */
#sector-navigation,
#sector-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  zoom: 1;
}

#sector-navigation li {
  display: block;
  margin: 0.25em 0;
  overflow: hidden;
  zoom: 1;
  clear: both; /* clear under floated "add" links */
}

#sector-navigation li.open ul {
  padding-left: 1em;
}

#sector-navigation li a {
  background-image: url(/licence-finder/assets/expand-collapse-arrow.png);
  background-position: 0 5px;
  background-repeat: no-repeat;
  padding-left: 1em;
}

#sector-navigation li.open > a {
  background-position: 0 -86px;
}

#sector-navigation li a.add {
  background-image: none;
}

#sector-navigation ul ul li {
  padding: 0 0.25em;
}

.search-container .button {
  margin-left: 0.5em;
}

article.outcome {
  /* we don't need min-height on licence-finder */
  min-height: 0;
}

article.outcome h2:first-child {
  margin-top: 0;
}
