.finance-finder header.page-header hgroup {
	margin-right: 0;
}

.finance-finder .finance-container {
  background-color: #fff;
  padding: 1em 2.5em 1em 2.5em;
}

.structure-container {
  margin: 1.2em 0;
}

/* Results
============================================================================ */
.finance-finder .results {
  padding: 0;
  margin-left: -20em;
  float: right;
  width: 100%;
}

.finance-finder .results-wrapper {
  padding: 0;
  margin-left: 20em;
}

.finance-finder .results-list {
  padding: 0; margin: 0;
  list-style: none;
}

.finance-finder .results-list li {
  display: block;
  list-style: none;
  margin-bottom: 1.5em;
  max-width: 32.5em;
  padding: 0;
  overflow: hidden;
}

.finance-finder .results-list li a {
  margin: 0; padding: 0;
  font-size: 1.1875em;
}

.finance-finder .results-list li p {
  margin: 0;
  width: auto;
}

.finance-finder .results-list li p {
  font-size: 1em;
}

.finance-finder .results-list li p.search-result-title {
  font-size: 1.1875em;
}

.finance-finder .results-list .result-meta {
  padding: 0;
  margin: 0.25em 0 0 0;
  font-size: 1em;
}

.finance-finder .results-list .result-meta li {
  display: inline-block;
  line-height: 1.875em;
  margin-bottom: 0;
}

.finance-finder .results-list .result-meta li:first-child {
  margin-right: 1em;
}

.finance-finder .results-list .result-meta li a {

}

.finance-finder .results-list .result-meta li.dept {
  float: right;
  /* background-color: #ccc; */
  padding: 0 4px;
}

/* icons taken from core.css hardcoded image uris */
.finance-finder .results-list .result-meta li.answer {
  background-image: url(https://djb1962t8apu5.cloudfront.net/static/icon-answer-s.png);
}

.finance-finder .results-list .result-meta li.answer {
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: 30px;
}

.finance-finder .results .recommended {
  background-color: #d5e8f3;
  margin-bottom: 1em;
}

.finance-finder .results .recommended h2 {
  color: #2b8cc4;
  font-size: 0.85em;
  font-weight: normal;
  height: 30px;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.finance-finder .results li.filtered {
  display:none;
/*
  visibility: hidden;
  opacity: 0;
  height: 0; padding-bottom: 0;
*/
}

/* Filters
============================================================================ */
.finance-finder .filters ul li {
  margin: 0;
  font-size: 1.1875em;
  line-height: 1.315789474em;
}

.finance-finder .filters ul li a {
  background-image: url(https://www.preview.alphagov.co.uk/licence-finder/assets/expand-collapse-arrow-a824d23ae9e8a29e5e3395a33f357b3e.png);
  background-position: 0 12px;
  background-repeat: no-repeat;
  padding-left: 1em;
}

.finance-finder .filters ul li a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.finance-finder .filters ul li ul {
  border-top: .0625em solid #ccc;
  margin-bottom: 1.5625em;
  display: none;
}

.finance-finder .filters ul li.open a {
  background-position: 0 -80px;
}

.finance-finder .filters ul li.open ul {
  display: block;
}

.finance-finder .filters ul li ul li {
  display: block;
  font-size: .842105263em;
}

.finance-finder .filters ul li ul li a {
  color: #333;
  border-radius: 2px;
  display: block;
  padding: 4px 30px 2px 5px;
  text-decoration: underline;
  background-image: none; 
}

.finance-finder .filters ul li ul li a:hover {
  color: #333;
  background-color: #eee;
  text-decoration: none;
}

.finance-finder .filters ul li ul li.active a,
.finance-finder .filters ul li ul li.active a:hover {
  background-color: #999;
  color: #fff;
}

.finance-finder .filters ul li ul li a span {
  margin-right: -28px;
}