---
---

// ===================================================
// CONTACT FORM
//

//@import "frontend_toolkit";
@import "design-patterns/forms.scss";

/* Extend page header for wide format page */
header.page-header hgroup { margin-right: 0 }

.contact-form{
  @include form();
}
#location {
  p{
    padding-bottom: 0;
  }
  input[type="text"]{
    margin-left: 1.5em;
    width: 31em;
  }
  select{
    margin-left: 0.5em;
  }
}