---
---

// ===================================================
// SUPPORT PAGES STYLES
//

@import "mixins.scss";
@include details-and-summary;

.support-contents{
  @include regular-grid(2);
  h2{
    margin-top: 0;
  }
}
header.page-header hgroup {
  margin-right: 0 /* Extend page header out to end of search button */
}
.contact-us,
.top-issues,
.page-contents{
  @include panel;
}
.contact-form{
  @include form();
}
.report-a-problem-container{
  @include form;
  p{
    &:first-child{ margin-top: 0.5em};
    &:last-child{ margin-bottom: 0};
  }
  div{
    text-align: left; /* overwrite core style */
  }
}
#location {
  p{
    padding-bottom: 0;
  }
  input[type="text"]{
    margin-left: 1.5em;
    width: 31em;
  }
  select{
    margin-left: 0.5em;
  }
}