---
---

// ===================================================
// CONTACT FORM
//

//@import "frontend_toolkit";
@import "design-patterns/forms.scss";

.contact-form{
  @include form();
}

#location p {
  padding-bottom: 0;
  label{
    width: 10em;
    display: inline-block;
    margin-right: 0;
  }
  .location-page{
    width: 31em;
  }
}