body {
    margin: 0px;
    background-color: #EEEEEE;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Thumbnail_strip_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:199px;
    top:31px;
    width:141px;
    height:1832px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:1838px;
}

.u1 {
    position:absolute;
    left:2px;
    top:908px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Thumbnail_strip_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:209px;
    top:372px;
    width:124px;
    height:168px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:124px;
    height:168px;
}

.u3 {
    position:absolute;
    left:2px;
    top:76px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Thumbnail_strip_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:214px;
    top:541px;
    width:116px;
    height:161px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:161px;
}

.u5 {
    position:absolute;
    left:2px;
    top:72px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Thumbnail_strip_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:211px;
    top:703px;
    width:119px;
    height:165px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:165px;
}

.u7 {
    position:absolute;
    left:2px;
    top:74px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Thumbnail_strip_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:212px;
    top:868px;
    width:118px;
    height:164px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:164px;
}

.u9 {
    position:absolute;
    left:2px;
    top:74px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Thumbnail_strip_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:212px;
    top:1033px;
    width:119px;
    height:165px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:165px;
}

.u11 {
    position:absolute;
    left:2px;
    top:74px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Thumbnail_strip_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:212px;
    top:1200px;
    width:117px;
    height:163px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    height:163px;
}

.u13 {
    position:absolute;
    left:2px;
    top:74px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Thumbnail_strip_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:210px;
    top:1529px;
    width:121px;
    height:165px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:165px;
}

.u15 {
    position:absolute;
    left:2px;
    top:74px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Thumbnail_strip_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:212px;
    top:1366px;
    width:118px;
    height:164px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:164px;
}

.u17 {
    position:absolute;
    left:2px;
    top:74px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Thumbnail_strip_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:213px;
    top:1693px;
    width:120px;
    height:166px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:166px;
}

.u19 {
    position:absolute;
    left:2px;
    top:75px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Thumbnail_strip_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:212px;
    top:43px;
    width:119px;
    height:165px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:165px;
}

.u21 {
    position:absolute;
    left:2px;
    top:74px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Thumbnail_strip_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:211px;
    top:211px;
    width:121px;
    height:163px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:163px;
}

.u23 {
    position:absolute;
    left:2px;
    top:74px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Thumbnail_strip_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:209px;
    top:208px;
    width:123px;
    height:166px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:172px;
}

.u25 {
    position:absolute;
    left:2px;
    top:75px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

