---
---

@import "conditionals";

#global-header h1 span {
background-image: url(https://djb1962t8apu5.cloudfront.net/static/gov.uk_logotype.png);
background-position: 0 1px;
background-repeat: no-repeat;
display: block;
padding: 0 0 0 2em;
width: 141px;
height: 28px;
line-height: 1.25;
text-indent: -999px;
}



header.page-header hgroup,
.article-container {
  @include media(mobile){
    margin-right: 0;  
  }
}
article .inner {
    @include media(mobile){
    padding-left: 3em;  
  }
}



html.no-branding {
  background-color: #f2f2f2;
}

.no-branding section#content {
  max-width: 720px;
} 

.no-branding header.page-header hgroup {
  margin: 0;
  padding: 4em 0 0 0;
  background: #333;
}

.no-branding header.page-header hgroup h1 {
  padding: 0.6em 1.5em 0.35em 1.818181818em;
  color: #333;
  background-color: #fff;
}

.no-branding article {
  margin: 0;
  padding: 0 5em 2em 5em;
  width: auto;
}

.old-site-logo {
  float: right;
  margin: 0 0 20px 20px;
}

.no-branding header.page-header.businesslink hgroup {
  background: #0077b6 url(businesslink-logo.png) no-repeat 80px 16px;
}

.no-branding header.page-header.directgov hgroup {
  background: #ff5b00 url(directgov-logo.png) no-repeat 80px 18px;
}

@media screen and (max-width: 720px) {
  .no-branding body {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .no-branding body {
    padding: 0;
  }

  .no-branding section#content {
    margin: 0;
  }

  .no-branding header.page-header.directgov hgroup,
  .no-branding header.page-header.businesslink hgroup {
    background-position: 10px 18px;
  }

  .no-branding header.page-header hgroup h1 {
    padding: 0
  }

  .no-branding .old-site-logo {
    width: 50%;
  }

  .no-branding article {
    padding: 0 10px;
  }
}