/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 3 */
ol.group {
  border-top: 10px solid #005ea5; }

/* line 6 */
.result-info {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  border-bottom: solid 1px #bfc1c3;
  padding-bottom: 15px; }
  @media (max-width: 640px) {
    /* line 6 */
    .result-info {
      font-size: 1.4rem;
      line-height: 1.14286; } }
  /* line 10 */
  .result-info .result-count {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    margin-right: 10px; }
    @media (max-width: 640px) {
      /* line 10 */
      .result-info .result-count {
        font-size: 3.2rem;
        line-height: 1.09375; } }

/* line 17 */
.clear-selected {
  display: none; }

/* line 22 */
#wrapper {
  position: relative;
  margin: 0 auto;
  width: 1020px; }
  /* line 27 */
  #wrapper .inner-block {
    padding: 0 30px; }
  /* line 31 */
  #wrapper .page-header {
    padding: 0 30px;
    margin: 40px 0 50px 0;
    width: 66.66%; }
    /* line 36 */
    #wrapper .page-header h1 {
      font-family: "nta", Arial, sans-serif;
      font-size: 48px;
      font-size: 4.8rem;
      line-height: 1.04167;
      font-weight: 400;
      text-transform: none;
      font-weight: bold; }
      @media (max-width: 640px) {
        /* line 36 */
        #wrapper .page-header h1 {
          font-size: 3.2rem;
          line-height: 1.09375; } }
  /* line 42 */
  #wrapper .filter-form {
    float: left;
    width: 33.33%; }
    /* line 46 */
    #wrapper .filter-form form {
      margin-top: 30px; }
      /* line 48 */
      #wrapper .filter-form form .filter {
        background-color: #dee0e2;
        margin-bottom: 30px;
        padding: 5px; }
        /* line 53 */
        #wrapper .filter-form form .filter .legend {
          font-family: "nta", Arial, sans-serif;
          font-size: 19px;
          font-size: 1.9rem;
          line-height: 1.31579;
          font-weight: 400;
          text-transform: none;
          font-weight: bold;
          display: block; }
          @media (max-width: 640px) {
            /* line 53 */
            #wrapper .filter-form form .filter .legend {
              font-size: 1.6rem;
              line-height: 1.25; } }
        /* line 58 */
        #wrapper .filter-form form .filter label {
          display: block; }
        /* line 61 */
        #wrapper .filter-form form .filter input {
          padding: 5px;
          width: 95%; }
    /* line 69 */
    #wrapper .filter-form .checkbox-filter .head {
      cursor: pointer;
      padding: 5px;
      position: relative; }
    /* line 74 */
    #wrapper .filter-form .checkbox-filter .controls {
      position: absolute;
      right: 5px;
      top: 5px; }
      /* line 79 */
      #wrapper .filter-form .checkbox-filter .controls .toggle {
        background: url(https://assets.digital.cabinet-office.gov.uk/finder-frontend/toggle-sprite-4886981e9cc3345f34d720e106366c4b.png) no-repeat;
        height: 10px;
        width: 12px;
        background-position: -12px 0;
        display: inline-block; }
    /* line 87 */
    #wrapper .filter-form .checkbox-filter.closed .toggle {
      background-position: 0 0; }
    /* line 92 */
    #wrapper .filter-form .checkbox-container {
      position: relative;
      padding: 5px;
      background-color: white;
      max-height: 200px;
      overflow-y: scroll;
      overflow-x: hidden; }
      /* line 100 */
      #wrapper .filter-form .checkbox-container ul {
        list-style: none; }
        /* line 103 */
        #wrapper .filter-form .checkbox-container ul input {
          width: 12px;
          border: none;
          margin: 3px 10px 0 0;
          vertical-align: top;
          position: absolute; }
        /* line 111 */
        #wrapper .filter-form .checkbox-container ul label {
          display: inline-block;
          margin-left: 20px; }
    /* line 118 */
    #wrapper .filter-form .button {
      background-color: #00823b;
      position: relative;
      display: inline-block;
      padding: 0.35em 0.5em 0.15em 0.5em;
      border: none;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518;
      font-size: 1em;
      line-height: 1.25;
      text-decoration: none;
      cursor: pointer;
      color: white;
      width: auto;
      font-size: 24px;
      line-height: 1.25;
      font-weight: bold; }
    /* line 139 */
    #wrapper .filter-form .closed .checkbox-container {
      position: absolute;
      left: -9999px;
      padding: 0;
      margin: 0; }
  /* line 149 */
  #wrapper .filtered-results {
    float: left;
    padding-bottom: 60px;
    width: 66.66%; }
    /* line 154 */
    #wrapper .filtered-results ul {
      list-style: none; }
      /* line 157 */
      #wrapper .filtered-results ul .document {
        border-bottom: solid 1px #bfc1c3;
        padding: 15px 0; }
        /* line 161 */
        #wrapper .filtered-results ul .document h3 {
          font-family: "nta", Arial, sans-serif;
          font-size: 19px;
          font-size: 1.9rem;
          line-height: 1.31579;
          font-weight: 400;
          text-transform: none;
          font-weight: bold; }
          @media (max-width: 640px) {
            /* line 161 */
            #wrapper .filtered-results ul .document h3 {
              font-size: 1.6rem;
              line-height: 1.25; } }
        /* line 166 */
        #wrapper .filtered-results ul .document dl {
          margin: 0; }
          /* line 168 */
          #wrapper .filtered-results ul .document dl dt {
            display: none; }
          /* line 171 */
          #wrapper .filtered-results ul .document dl dd {
            font-family: "nta", Arial, sans-serif;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 1.42857;
            font-weight: 400;
            text-transform: none;
            margin-left: 0;
            margin-right: 10px;
            display: inline-block; }
            @media (max-width: 640px) {
              /* line 171 */
              #wrapper .filtered-results ul .document dl dd {
                font-size: 1.2rem;
                line-height: 1.25; } }
