---
css: 'styles-3.css'
title: 'New Footer'
---

<!DOCTYPE html>
<html>
  <head>
    {% include _head.html %}
  </head>
  <body class="citizen mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    {% include _header.html %}
    {% include _navigation.html %}

    <div id="wrapper" class="guide">
      <section id="content" role="main" class="group multi-page">
        <header class="page-header group">
          <hgroup>
            <h1><span>Guide </span>VAT</h1>
          </hgroup>
        </header>

        <div class="article-container group">
          <aside>
            <div class="inner">
              <nav role="navigation" class="page-navigation">
                <ol>
                  <li class="active">
                    <span class="part-label">Part 1<span class="visuallyhidden">:</span></span> <span class="part-title">Overview</span>
                  </li>
                  <li>
                    <a href="/vat/where-you-see-vat" title="Part 2: Where you see VAT">
                      <span class="part-label">Part 2<span class="visuallyhidden">:</span></span> <span class="part-title">Where you see VAT</span>
                    </a>
                  </li>
                  <li>
                    <a href="/vat/getting-help-and-advice" title="Part 3: Getting help and advice">
                      <span class="part-label">Part 3<span class="visuallyhidden">:</span></span> <span class="part-title">Getting help and advice</span>
                    </a>
                  </li>
                </ol>
              </nav>
            </div>
          </aside>

          <article role="article" class="group">
            <div class="inner">

              <header>
                <h1><span>Part 1<span class="visuallyhidden">:</span> </span>Overview</h1>
              </header>

              <p>VAT is a tax you pay on most goods and services. </p>

              <h2>How much you pay</h2>

              <p>You pay 20% VAT most of the time - but less on essential items.</p>

              <table>
                <thead><tr>
                  <th>Rate</th>
                  <th>% of VAT</th>
                  <th>What the rate applies to</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td>Standard</td>
                    <td>20%</td>
                    <td>Most goods and services</td>
                  </tr>
                  <tr>
                    <td>Reduced rate</td>
                    <td>5%</td>
                    <td>Some goods and services, eg children’s car seats and home energy</td>
                  </tr>
                  <tr>
                    <td>Zero rate</td>
                    <td>0%</td>
                    <td>Zero-rated goods and services, eg most food and children’s clothes</td>
                  </tr>
                </tbody>
              </table>
              <div class="application-notice info-notice">
                <p>Some things - eg postage stamps, financial and property transactions - are exempt from VAT.</p>
              </div>

              <h2>How VAT is worked out</h2>

              <p>When someone charges you VAT they multiply their selling price by the VAT rate to calculate the amount of VAT to charge. </p>

              <p>They then add this to the selling price to give you the price you actually pay - this is called the ‘gross’ price.</p>

              <h2>VAT refunds</h2>

              <h3>Self-build new homes or conversions</h3>

              <p>If you’re building a new home or converting a non-residential building into a home, there’s a <a rel="external" href="http://www.hmrc.gov.uk/vat/sectors/consumers/new-home.htm" title="VAT refund scheme">VAT refund scheme</a> to help you claim back some of the VAT.</p>

              <h3>Visitors to the UK</h3>

              <p>Visitors to the UK can sometimes get <a rel="external" href="http://www.hmrc.gov.uk/vat/sectors/consumers/overseas-visitors.htm" title="VAT refunds for visitors to the UK">VAT refunds</a> through the VAT Retail Export Scheme.</p>

              <h2>Importing and exporting vehicles</h2>

              <p>You normally pay VAT when you import a vehicle from inside the <a href="/importing-vehicles-into-the-uk/vat-duty-and-tax-vehicles-from-within-the-eu" title="importing vehicles from the European Union">European Union (<abbr title="European Union">EU</abbr>)</a>, but if you meet certain conditions you don’t have to pay VAT if you <a href="/importing-vehicles-into-the-uk/vat-duty-and-tax-vehicles-from-outside-the-eu" title="importing vehicles from outside the European Union">import from outside the <abbr title="European Union">EU</abbr></a>.</p>

              <p>Special rules apply if you’re <a rel="external" href="http://www.hmrc.gov.uk/vat/sectors/consumers/personal-vehicles.htm" title="importing and exporting vehicles">exporting a vehicle outside the <abbr title="European Union">EU</abbr>.</a> </p>

              <footer>
                <nav class="pagination" role="navigation">
                  <ul class="group">
                    <li class="first">
                      <span>You are at the beginning of this guide</span>
                    </li>
                    <li class="next">
                      <a href="/vat/where-you-see-vat" title="Navigate to next part" rel="next"><span class="pagination-label">Part 2</span> <span class="pagination-part-title">Where you see VAT</span></a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </div>        
          </article>

          <div class="meta-data group">
            <div class="inner">
              <!-- report_a_problem -->
              <p class="report-a-problem-toggle"><a href="">Is something wrong with this page?</a></p>

              <div class="report-a-problem-container">
                <p>Help us improve GOV.UK by telling us:</p>
                <form accept-charset="UTF-8" action="/feedback" method="post">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                  <input id="url" name="url" type="hidden" value="http://www.dev.gov.uk/vat/overview">
                  <label for="what_doing">What you were doing <input id="what_doing" name="what_doing" type="text"></label>
                  <label for="what_wrong"> What went wrong <input id="what_wrong" name="what_wrong" type="text"></label>
                  <div><input name="commit" type="submit" value="Send" class="button"></div>
                  <!--<p>If you have more extensive feedback, please visit the <a href="/feedback">support page</a>.</p>-->
                </form>
              </div>
              <!-- end report_a_problem -->              

              <p class="modified-date">Last updated: 19 August 2012</p>

              <p class="print-link"><a href="/vat/print">Print this guide</a></p>
            </div>
          </div>
        </div>
      </section>

      <!-- related -->
      <div class="related-positioning">
        <div class="related-container">
          <div class="related" id="related">
            <div class="inner group">
              <h2>More like this:</h2>
              <nav role="navigation">
                <ul>
                  <li class="related-topic"><a href="http://search.dev.gov.uk/browse/money-and-tax">More from the <span>Money and tax</span> category</a></li>
                </ul>
              </nav>
            </div>
        
            <div id="legacy-sources">
               <p>This replaces</p>
               <ul>
                <li class="directgov">Directgov</li>
                <li class="businesslink">Business Link</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end related -->
    </div>

    <footer id="footer">
      <div class="footer-wrapper">
        <nav class="footer-categories">
          <h2>Explore GOV.UK</h2>

          <ul>
            <li><a href="#">Driving, transport, and travel</a></li>
            <li><a href="#">Businesses and self-employed</a></li>
            <li><a href="#">Education and learning</a></li>
            <li><a href="#">Housing and local services</a></li>
            <li><a href="#">Crime, justice and the law</a></li>
            <li><a href="#">Money and tax</a></li>
          </ul>

          <ul>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Employing people</a></li>
            <li><a href="#">Working, jobs and pensions</a></li>
            <li><a href="#">Citizenship and life in the UK</a></li>
            <li><a href="#">Births, deaths, marriages, parenting and care</a></li>
          </ul>

          <div class="copyright">
            <a href="#">&copy; Crown Copyright</a>
          </div>
        </nav>

        <div class="footer-meta">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>

          <div class="colophon">Built by the <a href="#">Government Digital Service</a></div>
          <p>Where indicated, content is available under the <a href="#">Open Government Licence</a></p>

        </div>
      </div>
    </footer>
  </body>
</html>
