body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Proposed_direction_2_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:257px;
    top:242px;
    width:301px;
    height:246px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:252px;
}

.u1 {
    position:absolute;
    left:2px;
    top:115px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:270px;
    top:308px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:270px;
    top:324px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:270px;
    top:358px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:270px;
    top:374px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:270px;
    top:254px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:270px;
    top:270px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:270px;
    top:450px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:340px;
    top:450px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:420px;
    top:450px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:270px;
    top:416px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:269px;
    top:432px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Proposed_direction_2_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:774px;
    top:240px;
    width:405px;
    height:178px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:184px;
}

.u14 {
    position:absolute;
    left:2px;
    top:81px;
    width:401px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:783px;
    top:289px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:885px;
    top:284px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:783px;
    top:327px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:885px;
    top:322px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:783px;
    top:254px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:885px;
    top:250px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:885px;
    top:361px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:955px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:1035px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:783px;
    top:365px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:885px;
    top:390px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Proposed_direction_2_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:260px;
    top:658px;
    width:311px;
    height:278px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:317px;
    height:284px;
}

.u27 {
    position:absolute;
    left:2px;
    top:131px;
    width:307px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:277px;
    top:726px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:277px;
    top:790px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:277px;
    top:806px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:277px;
    top:670px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Proposed_direction_2_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:264px;
    top:846px;
    width:307px;
    height:90px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:96px;
}

.u33 {
    position:absolute;
    left:2px;
    top:37px;
    width:303px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:277px;
    top:686px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:277px;
    top:909px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:347px;
    top:909px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:427px;
    top:909px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:277px;
    top:855px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:276px;
    top:871px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../Proposed_direction_2_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u40 {
    position:absolute;
    left:257px;
    top:846px;
    width:10px;
    height:91px;
    
}

.u41 {
    position:absolute;
    left:277px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Proposed_direction_2_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u42 {
    position:absolute;
    left:257px;
    top:597px;
    width:10px;
    height:29px;
    
}

.u43 {
    position:absolute;
    left:277px;
    top:745px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:277px;
    top:888px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Proposed_direction_2_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:774px;
    top:657px;
    width:405px;
    height:206px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:411px;
    height:212px;
}

.u46 {
    position:absolute;
    left:2px;
    top:95px;
    width:401px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:746px;
    top:705px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:886px;
    top:699px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:746px;
    top:743px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Proposed_direction_2_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:778px;
    top:773px;
    width:401px;
    height:90px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u51 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:886px;
    top:737px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:746px;
    top:669px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:886px;
    top:665px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:886px;
    top:784px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56 {
    position:absolute;
    left:956px;
    top:784px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:1036px;
    top:784px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:746px;
    top:788px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:886px;
    top:831px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:797px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_line {
    background-image: url('../Proposed_direction_2_files/u61_line.png');
}

.u61_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u61 {
    position:absolute;
    left:777px;
    top:596px;
    width:10px;
    height:29px;
    
}

.u62_line {
    background-image: url('../Proposed_direction_2_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u62 {
    position:absolute;
    left:772px;
    top:772px;
    width:10px;
    height:91px;
    
}

.u63 {
    position:absolute;
    left:886px;
    top:812px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1375px;
    top:289px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:1477px;
    top:284px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:1375px;
    top:327px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1477px;
    top:322px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:1375px;
    top:254px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1477px;
    top:250px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:1477px;
    top:361px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:1547px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:1627px;
    top:361px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:1375px;
    top:365px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:1477px;
    top:390px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1338px;
    top:705px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:1478px;
    top:699px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:1338px;
    top:743px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:1478px;
    top:737px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:1338px;
    top:669px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1478px;
    top:665px;
    width:95px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81 {
    position:absolute;
    left:1389px;
    top:596px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_line {
    background-image: url('../Proposed_direction_2_files/u82_line.png');
}

.u82_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u82 {
    position:absolute;
    left:1369px;
    top:596px;
    width:10px;
    height:29px;
    
}

.u83_line {
    background-image: url('../Proposed_direction_2_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u83 {
    position:absolute;
    left:40px;
    top:536px;
    width:1812px;
    height:10px;
    
}

.u84_line {
    background-image: url('../Proposed_direction_2_files/u84_line.png');
}

.u84_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u84 {
    position:absolute;
    left:662px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u85_line {
    background-image: url('../Proposed_direction_2_files/u85_line.png');
}

.u85_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u85 {
    position:absolute;
    left:1282px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u86_line {
    background-image: url('../Proposed_direction_2_files/u86_line.png');
}

.u86_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u86 {
    position:absolute;
    left:152px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u87_line {
    background-image: url('../Proposed_direction_2_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u87 {
    position:absolute;
    left:40px;
    top:146px;
    width:1812px;
    height:10px;
    
}

.u88_line {
    background-image: url('../Proposed_direction_2_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u88 {
    position:absolute;
    left:40px;
    top:999px;
    width:1812px;
    height:10px;
    
}

.u89_line {
    background-image: url('../Proposed_direction_2_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u89 {
    position:absolute;
    left:40px;
    top:72px;
    width:1812px;
    height:10px;
    
}

.u90_line {
    background-image: url('../Proposed_direction_2_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u90 {
    position:absolute;
    left:37px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u91 {
    position:absolute;
    left:-42px;
    top:746px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u92 {
    position:absolute;
    left:270px;
    top:92px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:828px;
    top:94px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:1420px;
    top:92px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_line {
    background-image: url('../Proposed_direction_2_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:928px;
}

.u95 {
    position:absolute;
    left:1845px;
    top:78px;
    width:10px;
    height:928px;
    
}

.u96 {
    position:absolute;
    left:-42px;
    top:324px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u97_normal {
    background-image: url('../Proposed_direction_2_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:257px;
    top:1280px;
    width:301px;
    height:326px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:332px;
}

.u98 {
    position:absolute;
    left:2px;
    top:155px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:270px;
    top:1293px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:270px;
    top:1329px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101_line {
    background-image: url('../Proposed_direction_2_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u101 {
    position:absolute;
    left:40px;
    top:1624px;
    width:1812px;
    height:10px;
    
}

.u102_line {
    background-image: url('../Proposed_direction_2_files/u102_line.png');
}

.u102_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:983px;
}

.u102 {
    position:absolute;
    left:662px;
    top:1166px;
    width:10px;
    height:983px;
    
}

.u103_line {
    background-image: url('../Proposed_direction_2_files/u103_line.png');
}

.u103_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:983px;
}

.u103 {
    position:absolute;
    left:1282px;
    top:1166px;
    width:10px;
    height:983px;
    
}

.u104_line {
    background-image: url('../Proposed_direction_2_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:983px;
}

.u104 {
    position:absolute;
    left:152px;
    top:1166px;
    width:10px;
    height:983px;
    
}

.u105_line {
    background-image: url('../Proposed_direction_2_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u105 {
    position:absolute;
    left:40px;
    top:1234px;
    width:1812px;
    height:10px;
    
}

.u106_line {
    background-image: url('../Proposed_direction_2_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u106 {
    position:absolute;
    left:40px;
    top:2141px;
    width:1812px;
    height:10px;
    
}

.u107_line {
    background-image: url('../Proposed_direction_2_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:0px;
    top:2px;
    width:1812px;
    height:7px;
}

.u107 {
    position:absolute;
    left:40px;
    top:1160px;
    width:1812px;
    height:10px;
    
}

.u108_line {
    background-image: url('../Proposed_direction_2_files/u108_line.png');
}

.u108_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:983px;
}

.u108 {
    position:absolute;
    left:37px;
    top:1166px;
    width:10px;
    height:983px;
    
}

.u109 {
    position:absolute;
    left:-42px;
    top:1834px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u110 {
    position:absolute;
    left:270px;
    top:1180px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:828px;
    top:1182px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1420px;
    top:1180px;
    width:291px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_line {
    background-image: url('../Proposed_direction_2_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:983px;
}

.u113 {
    position:absolute;
    left:1845px;
    top:1166px;
    width:10px;
    height:983px;
    
}

.u114 {
    position:absolute;
    left:-42px;
    top:1412px;
    width:277px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.u115 {
    position:absolute;
    left:269px;
    top:1309px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:270px;
    top:1371px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:270px;
    top:1463px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:269px;
    top:1479px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Proposed_direction_2_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:711px;
    top:1280px;
    width:484px;
    height:261px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:267px;
}

.u134 {
    position:absolute;
    left:2px;
    top:122px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:685px;
    top:1305px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:890px;
    top:1299px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:890px;
    top:1330px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:685px;
    top:1368px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:685px;
    top:1449px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:755px;
    top:1469px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:1305px;
    top:1305px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:1510px;
    top:1299px;
    width:275px;
    height:25px;
    ;
    background-color:#FAFBFA;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u157 {
    position:absolute;
    left:1510px;
    top:1330px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:1305px;
    top:1368px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:1305px;
    top:1449px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:1375px;
    top:1469px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../Proposed_direction_2_files/u175_normal.png');
}

.u175_container {
    position:absolute;
    left:253px;
    top:1746px;
    width:300px;
    height:321px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:327px;
}

.u176 {
    position:absolute;
    left:2px;
    top:152px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../Proposed_direction_2_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:256px;
    top:1931px;
    width:297px;
    height:136px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:303px;
    height:142px;
}

.u178 {
    position:absolute;
    left:2px;
    top:60px;
    width:293px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:270px;
    top:1759px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:270px;
    top:1795px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u181 {
    position:absolute;
    left:269px;
    top:1775px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:270px;
    top:1837px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:270px;
    top:1940px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:269px;
    top:1956px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:274px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_line {
    background-image: url('../Proposed_direction_2_files/u200_line.png');
}

.u200_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u200 {
    position:absolute;
    left:254px;
    top:1684px;
    width:10px;
    height:29px;
    
}

.u201_line {
    background-image: url('../Proposed_direction_2_files/u201_line.png');
}

.u201_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:137px;
}

.u201 {
    position:absolute;
    left:250px;
    top:1930px;
    width:10px;
    height:137px;
    
}

.u202_normal {
    background-image: url('../Proposed_direction_2_files/u50_normal.png');
}

.u202_container {
    position:absolute;
    left:1371px;
    top:773px;
    width:401px;
    height:90px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:407px;
    height:96px;
}

.u203 {
    position:absolute;
    left:2px;
    top:37px;
    width:397px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:1479px;
    top:784px;
    width:59px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:1549px;
    top:784px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206 {
    position:absolute;
    left:1629px;
    top:784px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u207 {
    position:absolute;
    left:1339px;
    top:788px;
    width:131px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:1479px;
    top:831px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_line {
    background-image: url('../Proposed_direction_2_files/u209_line.png');
}

.u209_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:91px;
}

.u209 {
    position:absolute;
    left:1365px;
    top:772px;
    width:10px;
    height:91px;
    
}

.u210 {
    position:absolute;
    left:1479px;
    top:812px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../Proposed_direction_2_files/u133_normal.png');
}

.u211_container {
    position:absolute;
    left:711px;
    top:1746px;
    width:484px;
    height:261px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:267px;
}

.u212 {
    position:absolute;
    left:2px;
    top:122px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:685px;
    top:1771px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:890px;
    top:1765px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u215 {
    position:absolute;
    left:890px;
    top:1796px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:685px;
    top:1834px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../Proposed_direction_2_files/u221_normal.png');
}

.u221_container {
    position:absolute;
    left:713px;
    top:1908px;
    width:482px;
    height:99px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:105px;
}

.u222 {
    position:absolute;
    left:2px;
    top:42px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_line {
    background-image: url('../Proposed_direction_2_files/u223_line.png');
}

.u223_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:100px;
}

.u223 {
    position:absolute;
    left:708px;
    top:1907px;
    width:10px;
    height:100px;
    
}

.u225 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u234 {
    position:absolute;
    left:685px;
    top:1915px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235 {
    position:absolute;
    left:755px;
    top:1935px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u236 {
    position:absolute;
    left:728px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237_line {
    background-image: url('../Proposed_direction_2_files/u237_line.png');
}

.u237_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u237 {
    position:absolute;
    left:708px;
    top:1684px;
    width:10px;
    height:29px;
    
}

.u238 {
    position:absolute;
    left:1306px;
    top:1771px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239 {
    position:absolute;
    left:1512px;
    top:1765px;
    width:275px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u240 {
    position:absolute;
    left:1512px;
    top:1796px;
    width:276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u242 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:1306px;
    top:1834px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u246_normal {
    background-image: url('../Proposed_direction_2_files/u221_normal.png');
}

.u246_container {
    position:absolute;
    left:1334px;
    top:1908px;
    width:482px;
    height:99px;
}

#u246_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:105px;
}

.u247 {
    position:absolute;
    left:2px;
    top:42px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u248_line {
    background-image: url('../Proposed_direction_2_files/u248_line.png');
}

.u248_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:100px;
}

.u248 {
    position:absolute;
    left:1330px;
    top:1907px;
    width:10px;
    height:100px;
    
}

.u250 {
    position:absolute;
    left:16px;
    top:0px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u252 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u254 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u256 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u258 {
    position:absolute;
    left:16px;
    top:0px;
    width:113px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u259 {
    position:absolute;
    left:1306px;
    top:1915px;
    width:195px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u260 {
    position:absolute;
    left:1376px;
    top:1935px;
    width:125px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u261 {
    position:absolute;
    left:1350px;
    top:1684px;
    width:322px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u262_line {
    background-image: url('../Proposed_direction_2_files/u262_line.png');
}

.u262_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:29px;
}

.u262 {
    position:absolute;
    left:1330px;
    top:1684px;
    width:10px;
    height:29px;
    
}

